[2018-09-26 09:48] pawelfus commented on #9057
Hi

This is duplicate of #8477 - please update your Highcharts version or use workaround posted in #8477.

[2018-09-26 09:48] #9057 closed

[2018-09-26 09:52] pawelfus commented on #9055
Let's keep it open - personally I think it's a bug, we should gracefully disregard `marker.shape` option when image couldn't be found. Now it breaks, as you reported, other modules.

[2018-09-26 10:02] pawelfus commented on #9061
Hi @Madhu94

Could you contact our [support](https://www.highcharts.com/support)? This is our bug tracker. Cheers!

[2018-09-26 10:02] #9061 closed

[2018-09-26 10:39] #9007 closed

[2018-09-26 12:12] skuske commented on #7484
@TorsteinHonsi

Does 6.1.4 fix this?

[2018-09-26 12:20] irbian commented on #3314
perfect! it was exactly that

Just for clarification, In my case, I had a map with positive coordinates, and everything went well. Later, I change it for a map with negative coordinates and I was affected by this bug https://github.com/highcharts/highcharts/issues/5295

After applying the patch, I guess that with the change of coordinates it changed also the range, because I couldn´t zoom

Now, mo

[2018-09-26 13:04] Madhu94 commented on #9056
@sebastianbochan In my example, a dateformatter for the xAxis labels that formats to YYYYMMDD, I am not sure if that has to do with it.

[2018-09-26 13:05] Madhu94 commented on #9061
Apologies, I didn't know. Thanks @pawelfus,

[2018-09-26 13:14] pawelfus commented on #9056
Hi @Madhu94  - your demo has YYYYMM format, changed to YYYYMMDD: http://jsfiddle.net/BlackLabel/p6jrdvw3/11/ - looks fine. Could you set fixed width in the demo? Thanks!

[2018-09-26 13:42] rajeevsinghchib commented on #9049
Hi Guys, Is there any progress on this bug?
Will it be foxed soon?

[2018-09-26 13:47] cvasseng commented on #9049
Hi rajeevsinghchib, we're still looking into this, and hope to have a fix shortly.

[2018-09-26 13:58] paithalmi commented on #8643
Hi i am getting the same issue. Using angular 6, highcharts 6.1.1.

[code]

Then tried with
[code]

[2018-09-26 14:28] nsdevaraj opened #9064 "Highboost Rendering issue"
#### Expected behaviour
Columns should appear proper

#### Actual behaviour
It's not rendering properly when data is more than a thresold

#### Live demo with steps to reproduce

http://jsfiddle.net/nsdevaraj/sfbzvw97/ works fine

Just by adding one more series it doesn't render proper
http://jsfiddle.net/nsdevaraj/sfbzvw97/1
#### Product version

6.1.3
#### Affected browser(s)
All Browsers

[2018-09-26 15:13] tynorton commented on #8865
This change appears to have broken our `column` chart plotlines.

![image](https://user-images.githubusercontent.com/811086/46089670-e3a58a00-c163-11e8-8e7d-0aaba9c6222d.png)

Is there a case tracking this regression?

[2018-09-26 15:34] chriszrc commented on #4994
It's mentioned on this thread, but easy to miss; the latest version of highcharts has real es6 modules that work as expected :

https://github.com/highcharts/highcharts/issues/7186

Although it appears the mention of them is still missing from the online docs-

[2018-09-26 15:58] Madhu94 commented on #8843
@pawelfus Will the solution proposed above will be added into Highcharts ?
This -

[code]

[2018-09-26 16:28] kris-ellery commented on #9058
Getting the same error. `6.1.3` works, `6.1.4` breaks with `TypeError: z.getSpanWidth is not a function` error.

[2018-09-26 16:29] KacperMadej commented on #8643
@paithalmi
`angular-highcharts` is not our product.
For official Angular wrapper and information about using Highcharts with Angular please see:
https://github.com/highcharts/highcharts-angular/

[2018-09-26 18:15] tynorton commented on #8865
Maybe not this issue, definitely part of 6.1.4.

[2018-09-26 20:33] keeslinp commented on #8865
I think 6.1.4 broke stuff for us as well. Our tests started failing with an error `m.getSpanWidth is not a function` in highcharts. highcharts is a transitive dependency of react-highcharts which doesn't have its dependencies locked down so we were updated unexpectedly.

[2018-09-27 00:28] denchen commented on #9058
Weirdly enough, I'm only getting this error in testing (Create React App + Jest). When I'm running my application in dev mode, all charts render fine. I'm on `highcharts@6.1.4` & `react-highcharts@16.0.2`

Pinning to `highcharts@6.1.3` resolves my test issues.

[2018-09-27 02:10] 15390940742 opened #9065 "图例项的水平间距"
#### Expected behaviour
想改变图例像默认排列方式，如下图所示
![_15380140307012](https://user-images.githubusercontent.com/36804510/46119455-8ed64200-c23d-11e8-99e2-16c78653c3b5.png)

#### Actual behaviour

#### Live demo with steps to reproduce

#### Product version

#### Affected browser(s)

[2018-09-27 03:24] negarn opened #9066 "Memory usage of version 6 is much higher than version 5, causing idle tabs to crash upon revisit"
#### Expected behaviour
Revisiting idle tabs after upgrading highcharts from version 5.0.14 to 6.1.3 will update the chart with the missed data points and continue as before

#### Actual behaviour
Revisiting idle tabs causes memory outage when trying to update all the missed data points and causes the page to freeze

#### Live demo with steps to reproduce
1. open a tab with https://jsbin.com/wiraz

[2018-09-27 05:45] alirezameftahi71 commented on #9048
Yes this does fix the problem Thanks

[2018-09-27 06:47] TorsteinHonsi commented on #9065
Translated by Google to:

Thanks for contacting us! You've posted to our issue tracker. For general tech support, please see www.highcharts.com/support.

[2018-09-27 06:47] #9065 closed

[2018-09-27 06:57] TorsteinHonsi commented on #9058
First, make sure that all Highcharts files are on the same version so you don't have old module files on top of the latest highcharts.js.

Some background information. The `getSpanWidth` was removed in v6.1.4 as part of a refactoring to increase performance of text rendering (see #5009). It remains however in oldIE. It is referenced once from the highcharts.js file, [see this line](https://github.

[2018-09-27 07:02] TorsteinHonsi commented on #8843
Just a side note - if you want to treat positive and negative numbers combined in a stack, it may be better to use a stacked area: https://jsfiddle.net/highcharts/qh4of0gw/14/.

[2018-09-27 07:07] TorsteinHonsi commented on #9064
Thanks for reporting, but the two fiddles look the same to me...

[2018-09-27 07:08] TorsteinHonsi commented on #7484
Yes it does.

[2018-09-27 07:16] nsdevaraj commented on #9064
![screenshot_20180927-124408__01](https://user-images.githubusercontent.com/274062/46129103-4164cf80-c253-11e8-9ed8-e1f9df64d694.jpg)
This is the output i got for http://jsfiddle.net/nsdevaraj/sfbzvw97/1

[2018-09-27 07:19] skuske commented on #7484
@TorsteinHonsi

Cool. When will the iOS wrapper be updated accordingly?

[2018-09-27 07:41] denchen commented on #9058
Okay, I get what you're saying that `getSpanWidth()` is only called if `tspan.getSubStringLength` is false, but you [removed the actual `getSpanWidth()` function in this commit](https://github.com/highcharts/highcharts/commit/6c5668985634b3ccdd5bea4ccdd363b02fd46a0d). So doesn't that mean that code path will always fail?

[2018-09-27 07:43] ridhoamdeni26 opened #9067 "eror with drilldown stacked bar highchart"
i trying create highchart with drilldown and if user clicked he got stacked bar

example : http://jsfiddle.net/jpbkqme5/3/

see there I have an error when the first click on the data does not appear immediately and if I click again on the bar then it will return the data so that the data will be a lot. can anyone help why on this chart an error occurred

[2018-09-27 07:50] TorsteinHonsi commented on #9052
Simplified simplified demo http://jsfiddle.net/highcharts/vLao0efn/10/

[2018-09-27 08:03] KacperMadej commented on #8865
@keeslinp Seems to be a `react-highcharts` issue, so you should probably report this to the authors of that software - it's an official react wrapper. Without a live demo there's nothing for us to debug, identify and fix, so please provide a way for us to work with a demo showing the problem.

[2018-09-27 08:42] #7419 closed

[2018-09-27 08:42] #9052 closed

[2018-09-27 08:45] KacperMadej commented on #2791
Without forced margins preventing default logic from working and without forced rotation from labels options (chart has labels rotated like that by default) it works fine in version 6.1.4.

Closing as resolved.
If you have more info please add a comment and the issue could be reopened.

[2018-09-27 08:45] #2791 closed, assigned to nobody

[2018-09-27 08:46] KacperMadej commented on #4159
Looks improved in version 6.1.4.
Closing as resolved.
If you have more info about the issue please leave a comment and the issue could be reopened.

[2018-09-27 08:46] #4159 closed

[2018-09-27 08:53] KacperMadej commented on #4205
In (at least) version 6.1.4 the wrapping is implemented.

http://jsfiddle.net/yj4q7t1s/

Closing as resolved.

[2018-09-27 08:53] #4205 closed

[2018-09-27 08:53] sebastianbochan commented on #9067
Hi @ridhoamdeni26,
The github is our bugtracker, so for general [support]() questions, please use forum / stackoverflow or email.

ps. In the drilldown event you refer to `chart.userOptions.drilldown.series` which, in the first click, are undefined (you declare it in the end of function). As a result your loop is not triggered and `chart.applyDrilldown` cannot be called. The solution is define dri

[2018-09-27 08:53] #9067 closed

[2018-09-27 08:57] paithalmi commented on #8643
Hi tried with this highcharts-angular. This issue is not there. But one problem how can i show the loading overlay(showLoading/hideLoading)with this product.
`import { Component } from '@angular/core';

import Highcharts from 'highcharts';
import HC_exporting from 'highcharts/modules/exporting';
HC_exporting(Highcharts);

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',

[2018-09-27 09:01] TorsteinHonsi commented on #9054
I'd expect that `findNearestPointBy: 'xy'` would resolve this, but it doesn't seem to make a difference: https://jsfiddle.net/highcharts/s2o5rgjL/1/

[2018-09-27 09:04] rubiks-cube opened #9069 "Stacked area chart with multiple series shows line chart in one of the series for some x axis values"
#### Expected behaviour

#### Actual behaviour

#### Live demo with steps to reproduce

#### Product version

#### Affected browser(s)
Chrome(v69.0.3497.100)

[2018-09-27 09:10] KacperMadej commented on #4281
This could be resolved though adding a simple comment for [`headerFormat`](https://api.highcharts.com/highcharts/tooltip.headerFormat).

There's already this:

Adding below could resolve the issue:

[2018-09-27 09:38] cvasseng commented on #9046
This looks to be an issue with `allowForce` not respecting series visibility, and thus making the chart be "stuck" in boost mode.

A workaround until it's fixed is to set `boost.allowForce` to `false` (http://jsfiddle.net/rsgvx4zL/12).

[2018-09-27 09:42] pawelfus commented on #9054
It won't change anything, I think this is simplified case: https://jsfiddle.net/BlackLabel/5qrkbv8e/2/ - hover vertically on the right side of the graph (closer to points with x=1) and you will always green point highlighted.

[2018-09-27 09:50] pawelfus commented on #9069
Hi @rubiks-cube

Please, provide all details required to report the issue, including live demo. Thanks!

[2018-09-27 09:52] pawelfus commented on #7484
@skuske  We will release iOS wrapper ASAP.

Answered: https://github.com/highcharts/highcharts-ios/issues/129#issuecomment-425015573

[2018-09-27 10:14] pawelfus commented on #9064
Hi @nsdevaraj

For me too, both charts looks exactly the same. This is my output partial:

<img width="655" alt="screen shot 2018-09-27 at 12 09 29" src="https://user-images.githubusercontent.com/1453926/46139422-c699b580-c24e-11e8-9c1c-8ccf11dca723.png">

Please, set fixed width for the chart and provide more detailed description. At this moment we don't know what exactly is not rendered properly

[2018-09-27 10:30] nsdevaraj commented on #9064
Can you please try removing some data in series. Then it produced proper output

[2018-09-27 10:30] pawelfus commented on #9056
@Madhu94 - by setting `overflow: false` you stricte allow labels to be cut off. You can disable ellipsis by setting [`xAxis.labels.style.textOverflow`](https://api.highcharts.com/highcharts/xAxis.labels.style), demo: http://jsfiddle.net/BlackLabel/xk8ab7sz/

[2018-09-27 10:31] nsdevaraj commented on #9064
https://jsfiddle.net/nsdevaraj/sfbzvw97/ expected output

[2018-09-27 10:59] rubiks-cube commented on #9069
![stackedareachart](https://user-images.githubusercontent.com/34497214/46141759-83e9d480-c272-11e8-8eb0-7c3d51883440.PNG)
This is how chart looks.

[2018-09-27 11:30] pawelfus commented on #8643
Hi @paithalmi

This is our bug tracker, if you have questions, please contact our support: https://www.highcharts.com/support

[2018-09-27 12:04] DongShi opened #9073 "Pivoting Rendering?"
#### Expected behaviour

Hi There,
We are using HC heavily on multiple product lines, one of which is the mobile H5 page.
As on mobile screen,  one common request is to draw certain charts on a landscape mode, not  portrait mode.

Examples would include column chart with many category items.
Less category items would be shown If drawn in portrait mobile screen, compared to landscape case.

So my q

[2018-09-27 12:56] TorsteinHonsi commented on #9043
You can use the `scrollbar.liveRedraw` setting to turn this off: https://jsfiddle.net/highcharts/ju217pg9/1/.

[2018-09-27 12:56] #9043 closed

[2018-09-27 13:31] TorsteinHonsi commented on #9064
Just a random thought here @cvasseng: In cases where the column width is likely to be more than 1px, for example if the number of points is smaller than the plotWidth, we could run the columns through the regular translation and then use `point.shapeArgs` to draw them on the WebGL canvas. We can do this because we don't have a great number of point instances to handle in the first place in this ca

[2018-09-27 13:43] TorsteinHonsi commented on #9048
It's still a bug as long as the default Highcharts configuration gives clearly wrong behaviour.

Minimal demo: http://jsfiddle.net/highcharts/4gpj35uq/

Chrome renders this with the shadow on top, probably because it is rtl text and the shadow comes after the main text `tspan` in the generated SVG. Firefox however does it the way we expect.

[2018-09-27 13:49] TorsteinHonsi commented on #9058
It fails for IE8 and older, but those browsers require `modules/oldie.js` to render charts in the first place. And when `oldie.js` is loaded, `getSpanWidth` is defined. We could do more checks, but it only confirms what we know, that SVG charts won't render in IE8.

Unless it is an actual bug, a use case where this error is thrown in anything else than IE6-8. So it would be great if you are able t

[2018-09-27 13:54] keeslinp commented on #8865
Sounds good, I'll report it to them. It is worth noting though that forcing
high charts back down a version fixes the problem.

On Thu, Sep 27, 2018, 2:03 AM Kacper Madej <notifications@github.com> wrote:

[2018-09-27 14:11] kamilkulig opened #9074 "Dynamic chart is not updated properly when browser's tab is inactive"
#### Expected behaviour
The distance between every 2 subsequent points should always be 1 second (refer to the demo from _Live demo with steps to reproduce_ section).

#### Actual behaviour
Sometimes these distances are bigger when the tab is inactive:
![image](https://user-images.githubusercontent.com/13188589/46151721-af1ef480-c26f-11e8-9631-ab3fe29ef168.png)

#### Live demo with steps to reprod

[2018-09-27 15:08] muddymess opened #9075 "Highstock multiple series zoom reset on adding point"
When zooming into a HighStock multi-series line chart with navigator, the zoom resets or jumps to start of series when adding a new point but only if current zoomed area is missing full data from that series.

What should happen is the same behavior as when all series have data in current zoomed area; the zoomed area stays the same.

Example:
http://jsfiddle.net/7qtbfwu4/10/
To trigger issue: sele

[2018-09-27 15:55] adamcooper94 commented on #5098
@jon-a-nygaard Do you have a JSFiddle of that example chart?

[2018-09-27 16:05] olejorgenb commented on #6943
This bit me too. `update` adds the events, but doesn't unbind the previous ones. Created a nasty performance surprise :)

[2018-09-27 18:33] denchen commented on #9058
Hi @TorsteinHonsi ,

I have a [Git repo that reproduces the testing bug I'm seeing](https://github.com/denchen/highcharts-bug).

The application and chart renders just fine in the browser; it's only during tests that it fails. Reproduce simply by running `yarn test`

[2018-09-27 20:39] jacobweber opened #9076 "Animates when increasing size, even with all animation options turned off"
#### Expected behaviour
With all animation options off, when chart size is increased, chart doesn't animate.

#### Actual behaviour
Chart animates when increasing size. It's not the smooth animation that you get if animate=true, but it's still noticeable. It just sort of gradually reveals itself from left to right.

#### Live demo with steps to reproduce
http://jsfiddle.net/br5hj0s4/
1. Load page.

[2018-09-28 02:25] kidmysoul opened #9077 "【6.1.4HighStock LineChart】After update to 6.1.4, some data not show up when the data records are very large"
#### Expected behaviour
show data like the version before 6.1.4

#### Actual behaviour
some data is not showing up

#### Live demo with steps to reproduce

http://jsfiddle.net/scny40jr/62/

#### Product version

I use "https://code.highcharts.com/stock/highstock.js"
so it's the newest version 6.1.4
#### Affected browser(s)
I use this library in mobile webview

I have some data for people's weights

[2018-09-28 06:08] TorsteinHonsi commented on #9058
Okay so your tests are running jsdom? That may explain why `tspan.getSubStringLength` is not available. It's not fully capable at SVG.

[2018-09-28 07:17] sowmyakj opened #9078 "Plotlines label is not rendering"
Hi,
#### Actual behaviour
I am using Highstock v6.0.7 from years it was working fine,after updating my chrome to new version  plotlines label is not rendering.

#### Product version
Highstock JS v6.0.7

#### Affected browser(s)
Version 69.0.3497.100

[2018-09-28 08:31] #4281 closed

[2018-09-28 09:14] bre1470 opened #9080 "Demos using overflow option need an update to reflect latest changes of possible strings"
Possible values: "justify" | "allow" | undefined

[2018-09-28 09:15] dabalyan commented on #4649
I solved it using `absolutely` positioned `chart-container` and a `relatively` positioned parent with `flex-grow: 1`.  And there's no hack involved so it's cross-browser compatible
[code]

[2018-09-28 09:18] bre1470 opened #9081 "Docs: lint rules for doclets needed"

[2018-09-28 09:20] bre1470 opened #9082 "Tools: Automate test of generated tree.json with online version"
Check agains https://api.highcharts.com/highcharts/tree.json

[2018-09-28 09:55] KacperMadej commented on #9048
_Internal note:_ This might be a Chrome issue, because a simple SVG has the same problem - http://jsfiddle.net/BlackLabel/wv24zceq/1/

Win 10 +
- Chrome: wrong order
- Firefox: all fine
- Edge and IE11: wrong position, but correct order (http://jsfiddle.net/280wmhbL/show)

[2018-09-28 10:10] #8464 closed

[2018-09-28 10:15] #994 closed

[2018-09-28 10:16] cvasseng commented on #960
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:16] #960 closed

[2018-09-28 10:16] inwebitrust opened #9083 "Highmaps : Is it possible to add padding between container and plot area"
#### Expected behaviour
I want to add some padding around the plot area in a map so that the drop shadow I use is not cut

#### Actual behaviour
The margin/spacing parameters doesn't seem to change the space between chart limits and plot area

#### Live demo with steps to reproduce
Live example here :
https://jsfiddle.net/vku5edpx/

You can see there is no space between the plot background and the

[2018-09-28 10:16] #1177 closed

[2018-09-28 10:17] #1320 closed

[2018-09-28 10:17] cvasseng commented on #1345
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:17] #1345 closed

[2018-09-28 10:17] #1276 closed

[2018-09-28 10:18] cvasseng commented on #1023
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:18] #1023 closed

[2018-09-28 10:18] cvasseng commented on #1221
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:18] #1221 closed

[2018-09-28 10:18] cvasseng commented on #1350
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:18] #1350 closed

[2018-09-28 10:19] #1265 closed

[2018-09-28 10:19] cvasseng commented on #1318
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:19] #1318 closed

[2018-09-28 10:19] #1298 closed

[2018-09-28 10:20] #1521 closed, assigned to nobody

[2018-09-28 10:20] #1425 closed, assigned to nobody

[2018-09-28 10:20] #1478 closed, assigned to nobody

[2018-09-28 10:21] #1394 closed, assigned to nobody

[2018-09-28 10:21] #105 closed, assigned to nobody

[2018-09-28 10:22] #1617 closed, assigned to nobody

[2018-09-28 10:22] #1818 closed, assigned to nobody

[2018-09-28 10:22] #797 closed, assigned to nobody

[2018-09-28 10:23] #738 closed, assigned to nobody

[2018-09-28 10:23] #1992 closed, assigned to nobody

[2018-09-28 10:24] #2019 closed, assigned to nobody

[2018-09-28 10:24] #1742 closed, assigned to nobody

[2018-09-28 10:24] #2109 closed, assigned to nobody

[2018-09-28 10:25] #1963 closed, assigned to nobody

[2018-09-28 10:26] #1097 closed, assigned to nobody

[2018-09-28 10:26] sophiebremer opened #9084 "Tools: Integrate dtslint"

[2018-09-28 10:32] cvasseng commented on #1309
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:32] #1309 closed

[2018-09-28 10:33] #1922 closed

[2018-09-28 10:33] cvasseng commented on #2044
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:33] #2044 closed

[2018-09-28 10:34] cvasseng commented on #1018
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:34] #1018 closed

[2018-09-28 10:34] cvasseng commented on #2156
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:34] #2156 closed

[2018-09-28 10:34] #2132 closed

[2018-09-28 10:35] #2190 closed

[2018-09-28 10:35] #2283 closed

[2018-09-28 10:35] #2243 closed

[2018-09-28 10:35] #2395 closed

[2018-09-28 10:36] #2426 closed

[2018-09-28 10:36] #2442 closed

[2018-09-28 10:36] cvasseng commented on #2487
Hi! We're doing a bit of spring cleaning, and closing old issues. If you're still experiencing issues with this, please feel free to open a new issue! Thanks!

[2018-09-28 10:36] #2487 closed

[2018-09-28 10:47] TorsteinHonsi commented on #9066
Thanks for reporting!

In order to rule out memory issues with JSBin or the console, I took your chart configuration and added to two files, the reference and the candidate. Sped up the sitTimeout to 250 ms and let it run for some minutes several times. Also added a fixed width for the container to make sure they are rendering the same amount of elements.

![skjermbilde 2018-09-28 kl 12 42 43](htt

[2018-09-28 10:57] TorsteinHonsi commented on #9069
Live demo please? You can use this as a starting point: http://jsfiddle.net/highcharts/63nx2k5s/

Do your changes, click Save or Update then post the new link.

[2018-09-28 11:01] TorsteinHonsi commented on #9073
Hi, thanks for contacting us! You've posted to our issue tracker. For general tech support, please see www.highcharts.com/support.

PS: See https://api.highcharts.com/highcharts/chart.inverted and also plenty of demos of this in https://www.highcharts.com/demo

[2018-09-28 11:01] #9073 closed

[2018-09-28 11:15] KacperMadej commented on #4649
@dabalyan
Thank you for sharing your solution.
Using the above code seems to resolved the problem, so closing the issue for now.
If you would like to see this issue reopened please provide more info about the case.

[2018-09-28 11:15] #4649 closed

[2018-09-28 11:19] KacperMadej commented on #9083
Hi @inwebitrust

Please use available support channels for technical questions - we are trying to keep GitHub issues for bug reports. https://www.highcharts.com/support

The options you used in demo work fine - https://jsfiddle.net/BlackLabel/vku5edpx/1/ Margin adds space between container and plot area.

[2018-09-28 11:19] #9083 closed

[2018-09-28 11:32] KacperMadej commented on #9076
Hi @jacobweber

Thank you for contacting us about the problem.

By default animation for setSize defaults to true, so if you are not setting it in chart.udpate then is will animate the dynamic change that you have set up (update). To resolve this be sure to set animation to false for the used [update](https://api.highcharts.com/class-reference/Highcharts.Chart#update) function. You can see in docu

[2018-09-28 11:32] #9076 closed

[2018-09-28 11:34] KacperMadej commented on #9077
Hi @kidmysoul

Thank you for reporting about the problem.
Please add a live demo of the issue - minimal demo with hard coded exemplary data will be best in this case.

[2018-09-28 11:46] TorsteinHonsi commented on #7338
@cvasseng Any idea?

[2018-09-28 11:49] TorsteinHonsi commented on #8865
See #9058, it seems that the react tests run jsdom in the background, and jsdom doesn't support `tspan.getSubStringLength`.

[2018-09-28 12:05] TorsteinHonsi commented on #9081
Rules should be added to https://github.com/highcharts/eslint-plugin-highcharts which is already used for some custom rules.

[2018-09-28 12:07] TorsteinHonsi commented on #9074
Probably Chrome is limiting resources spent in inactive tabs, resulting in some of the steps in `setInterval` being skipped.

[2018-09-28 12:11] TorsteinHonsi commented on #9075
Thanks for reporting!

[2018-09-28 12:15] nteetor commented on #9078
Any chance this is a duplicate of https://github.com/highcharts/highcharts/issues/8477?

If, like me, you cannot upgrade to the latest version of Highcharts, try the code snippet found here, https://github.com/highcharts/highcharts/issues/8477#issuecomment-424353401.

[2018-09-28 12:28] muddymess commented on #9075
Possibly related issue: when main serie is lacking data but zoomed area is at leading edge (automatically scrolling), it will zoom to fit main series regardless of if secondary series has data for entire span.

Example:
http://jsfiddle.net/7qtbfwu4/12/
Trigger by clicking 15M/30M range.

Should I open a new issue for this?

[2018-09-28 12:30] TorsteinHonsi commented on #6943
Yes I agree that makes sense. But it seems to be in direct contradiction to #8161. Any thoughts @sophiebremer ?

Smaller sample: http://jsfiddle.net/highcharts/tewpcz8s/

[2018-09-28 12:58] justinmwarner commented on #8637
@oysteinmoseng, any update here?

[2018-09-28 13:00] KacperMadej commented on #9074
Inactive tab needs to wait more - especially if another, active tab is using a lot of resources - so real interval between added points is bigger. This is not a Highcharts bug, this is just how browser handles inactive tabs activity. Closing as not a bug.

[2018-09-28 13:00] #9074 closed

[2018-09-28 13:06] sophiebremer commented on #6943
@TorsteinHonsi
You should be able to remove the previous event by `Axis.update({events:{afterSetExtremes: undefined}});`, but it is not working (anymore).

[2018-09-28 13:07] kidmysoul commented on #9077
@KacperMadej

this is the demo.

http://jsfiddle.net/scny40jr/62/

and the demo even does not show any line.

[2018-09-28 13:12] #9040 closed

[2018-09-28 13:50] sophiebremer commented on #9084
See #9086

[2018-09-28 13:50] #9084 closed

[2018-09-28 14:58] KacperMadej commented on #9077
Offending commit - https://github.com/highcharts/highcharts/commit/7c82a4f

Simple demo - http://jsfiddle.net/BlackLabel/ez7urmy3/
Steps -
drag navigator window slowly decreasing it until you see it jump to no-point or only few point on right side.

@TorsteinHonsi @pawelfus

[2018-09-28 16:04] KacperMadej commented on #4493
Unable to recreate the issue in version 6.1.4.
In case you still have the problem please post a comment with details about the issue and it could be reopened.

[2018-09-28 16:04] #4493 closed

[2018-09-28 16:05] KacperMadej commented on #2804
Looks like resolved and working fine in version 6.1.4.
Closing as resolved.

[2018-09-28 16:05] #2804 closed

[2018-09-28 16:09] KacperMadej commented on #3420
Resolved as technical support case on StackOverflow - https://stackoverflow.com/questions/25727867/highcharts-error-when-add-and-shift-data-to-hidden-series

[2018-09-28 16:09] #3420 closed

[2018-09-28 16:14] jacobweber commented on #9076
You can see the same behavior if you pass false ([example](http://jsfiddle.net/br5hj0s4/2/)), since I set the default animation to false. It's different than the normal animation that you get when you set it to true; it's more like it's just taking a while to draw it from left to right. But you don't see this when it's initially rendered.

[2018-09-28 16:51] BartBM commented on #9046
@cvasseng the workaround works for a limited number of hidden series.
When you increase the number of hidden series it fails too (http://jsfiddle.net/BartBM/rsgvx4zL/)

[2018-09-28 18:02] maljones commented on #8865
@tynorton's issue looks somewhat similar to mine. Since the 6.1.4 fix, line charts have filled areas: https://www.ecosresults.org/states/alabama/. Rolling back to 6.1.3 gives the lines back there proper dimensions (although it's ignoring my series styling when I do that).

<img width="598" alt="ecosresults-linechart-err" src="https://user-images.githubusercontent.com/3082939/46225399-1350bf80-c327

[2018-09-28 18:45] species360 opened #9087 "Export HTML truncates at first </svg> instead of last </svg>"
#### Expected behaviour
![chart 56](https://user-images.githubusercontent.com/42000974/46227029-9f60e800-c323-11e8-9185-a0fed573afd7.png)

#### Actual behaviour
![chart 53](https://user-images.githubusercontent.com/42000974/46227065-adaf0400-c323-11e8-9ca6-65c979ea398b.png)

#### Live demo with steps to reproduce
Custom HTML based legend with `<svg>` tags.

#### Product version
Highcharts 6.1.1

#

[2018-09-29 04:10] jameswhf opened #9088 "Point update fails in Pie chart, because tooltip series doen't have xAxis and yAxis"
#### Expected behaviour
![image](https://user-images.githubusercontent.com/5409610/46240810-a5b49a00-c3df-11e8-9b0d-012daefd7630.png)

#### Actual behaviour
![image](https://user-images.githubusercontent.com/5409610/46240822-bf55e180-c3df-11e8-930b-5165313c675a.png)

#### Live demo with steps to reproduce
https://jsfiddle.net/jameswhf/spz8r6wd/6/
after pie charts show up, hover on chart, wait for

[2018-09-29 09:11] amirhosseinghorbani opened #9089 "Exporting color problem with Rtl text"
#### Expected
Highchart use exporting configuration and works well with font styles and colors for Ltr text(data labels). it doesn't have any problem with English.
Actually it was working until I updated my highcharts.js from **v4.1.5** to latest version  **v6.1.4**

#### Actual
My problem with Highcharts is when we need to get export of chats, Highcharts use White color to render Rtl text(data la

[2018-09-30 12:20] yjjwxq opened #9090 "How to change the ‘useUTC’ to false globally？（iOS Framework）"
hioptions.time = [HITime new];
    hioptions.time.useUTC = @NO;
(It doesn't work!!)

[2018-10-01 08:13] KacperMadej commented on #8865
Hi @maljones

If you would like to report a bug please open a new issue - your last comment doesn't look like related to the original issue reported here, so it would be more readable if it were a separate issue. If you have a problem, but are not sure if it's a bug please contact technical support first to confirm - https://www.highcharts.com/support

[2018-10-01 09:13] pawelfus commented on #9078
Closing as duplicate of #8477.

[2018-10-01 09:13] #9078 closed

[2018-10-01 09:20] Talglys opened #9091 "showCheckbox doesn't work with layout proximate"
#### Expected behaviour
Checkboxes appears next to legend elements

#### Actual behaviour
No checkboxes appear

#### Live demo with steps to reproduce
http://jsfiddle.net/9xf2d0bu/
Changing the layout to vertical brings back the checkboxes, but with layout set to proximate, the checkboxes never appear.

#### Product version
Highcharts 6.1.2

#### Affected browser(s)
Google chrome, firefox, probabl

[2018-10-01 09:28] pawelfus commented on #9090
Closing as duplicate of https://github.com/highcharts/highcharts-ios/issues/132

[2018-10-01 09:28] #9090 closed

[2018-10-01 09:40] pawelfus commented on #9077
**Workaround:**
Use v6.1.3 or set [`dataGrouping.forced`](https://api.highcharts.com/highstock/plotOptions.line.dataGrouping.forced) to true: http://jsfiddle.net/BlackLabel/scny40jr/84/

*Internal note:*
It's a regression after 7c82a4ffd and it's broken only for points in object format, array format is unaffected.

[2018-10-01 09:58] pawelfus commented on #9091
Hi @Talglys

Thank you for reporting this issue.

**Workaround:**
Demo: http://jsfiddle.net/BlackLabel/xbm6hzds/
Snippet:
[code]

[2018-10-01 10:04] pawelfus commented on #9075
Hi @muddymess

It looks like the same issue: when displaying multiple series in navigator (with different extremes) automated sticking to last point is broken.

*Internal note:*
It's broken since v5 (introducing multiple series in navigator): http://jsfiddle.net/BlackLabel/7qtbfwu4/15/

**Workaround:**
Show only the longest series in navigator: http://jsfiddle.net/BlackLabel/7qtbfwu4/17/ and http:

[2018-10-01 10:35] marvin19 opened #9092 "Changelog generator"
#### Expected behaviour
Removed two of the columns: `<div class="col-md-1 hidden-sm"> </div>`(There should be only one column after this).
Html-classes has been updated to bootstrap 4:
Replace `<div id="accordion" class="panel-group">` with  `<div id="accordion" class="card-group">`
Replace `<div class="panel panel-default">` with `<div class="card">`
Replace `<div id="heading-6-1-4-bug-fixes" cla

[2018-10-01 10:43] pawelfus commented on #9089
Hi @amirhosseinghorbani

Thank you for reporting this issue.

**Workaround:**
Set [`dataLabels.style.textOutline`](https://api.highcharts.com/highstock/series.column.dataLabels.style) to `"none"`: https://jsfiddle.net/BlackLabel/kbjxeo7z/19/

It's a regression after 7ba29130f

[2018-10-01 10:46] rajeevsinghchib commented on #9049
Hi Guys,

I have some urgent demo next week.
Can I expect it to be fixed this week?

[2018-10-01 10:48] #9089 closed

[2018-10-01 11:21] cvasseng commented on #9049
Hi,

this has been fixed now in 02b30a6f2 ([PR](https://github.com/highcharts/highcharts/pull/9093)).

Here's a demo of the fix: http://jsfiddle.net/yan68ku1/52/

The fix will be part of the next release.

Please re-open this issue if you're still seeing issues with the fix enabled.

Thanks again for reporting!

[2018-10-01 11:21] #9049 closed

[2018-10-01 11:40] oysteinmoseng commented on #8637
Here is a workaround for the issue: https://jsfiddle.net/m173rz0f/

We basically add `aria-hidden` to all elements that we can, and leave the ones with `aria-label` and their parents only.

[2018-10-01 11:56] #9077 closed

[2018-10-01 14:36] ppotaczek opened #9097 "Problem with reducing the number of series with individual axes in chart.update"
#### Expected behaviour
Method `update` should allow to reduce the number of series with individual axes.

#### Actual behaviour
Error in the console: `Uncaught TypeError: Cannot read property 'hoverSeries' of undefined`

#### Live demo with steps to reproduce
http://jsfiddle.net/BlackLabel/3bdojkf9/

Click on 'update' button.

#### Product version
Highcharts v6.1.4

#### Affected browser(s)
All

[2018-10-01 14:45] jamie-pi opened #9098 "Wind Rose / Polar chart tooltip placement incorrect"
#### Expected behaviour
The tooltip for each point will show when the mouse is within the consistent boundary for that point.

#### Actual behaviour
When hovering slightly to the left of the top (first) point on the chart, the tooltip shows for the point to the left. However, this doesn't happen with any other points. The hover area for the first point is too small, and the area for the last point

[2018-10-01 15:15] jacobweber commented on #9076
My apologies; I mis-counted the arguments.

[2018-10-01 16:36] KacperMadej commented on #9097
_Internal note:_
Caused by removing a removed series. `itemsForRemoval` are being removed. Axis first and on yAxis remove it's series are removed. Later the removed series are in `itemsForRemoval` and code fails on second remove call (due to lack of chart reference in the object).

[2018-10-01 18:17] krishnaku opened #9099 ""Off-by-one" Behavior of chart.getSelectedPoints() in series.point.events.select event handler."
Hi,

When I call chart.getSelectedPoints inside the series.point.events.select handler, the points
being returned are "off-by-one". After the first click it returns an empty list. The next shift-click (which should have returned two items, returns 1, the next shift-click returns 2 (instead of 3) etc..

I have attached a live demo link below

thanks
Krishna

#### Expected behaviour
First click retu

[2018-10-02 02:28] negarn commented on #9066
That's strange, since we can consistently reproduce it. I will close it then, we will just keep using the older version.

[2018-10-02 02:28] #9066 closed

[2018-10-02 06:29] LauraAubin opened #9100 "Series zone value accepts a string"
#### Expected behaviour

Would like to see if it is possible to accept a string for the zone value instead of a number. For example, if we have the data:

[code]

Would like to be able to write:

[code]

#### Actual behaviour

Only works with numbers.

Type definition `value?: number`

[2018-10-02 06:38] LauraAubin commented on #9100
It's also worth noting that I got it to work by doing,

[code]

[2018-10-02 06:55] LauraAubin commented on #9100
Closing this as it was a misunderstanding on my part.

Fixed it by adding,

` zoneAxis: 'x'` since it defaults to y, and with this I was able to use the index of the column for the value like,

[code]

which will add a dotted line after *Sep 27*.

[2018-10-02 06:55] #9100 closed

[2018-10-02 07:02] #9088 closed

[2018-10-02 07:19] #9091 closed

[2018-10-02 07:27] TorsteinHonsi commented on #9089
Duplicate of #9048

[2018-10-02 07:58] TorsteinHonsi commented on #9048
#### Workaround
Do not apply text outline on rtl text.

[code]

View it [live on jsFiddle](http://jsfiddle.net/highcharts/4gpj35uq/14/).

[2018-10-02 08:51] bre1470 opened #9101 "Docs: Automate deployment of wrapper documentation"
The wrapper documentation should be deployed automatically like build/api.

[2018-10-02 08:58] sophiebremer commented on #9101
Todo:
- fetch documentation from corresponding repository branches
- put it in build/api
- upload
- sync backend accordingly

[2018-10-02 09:11] wchmiel opened #9102 "Highstock - Stochastic indicator name shows wrong periods (always default)"
#### Expected behaviour
The name should show actual periods.

#### Actual behaviour
The name shows always default periods.

#### Live demo with steps to reproduce
http://jsfiddle.net/wchmiel/to3jns9d/1/

#### Product version
Highstock

#### Affected browser(s)
all

[2018-10-02 09:17] pawelfus commented on #9102
**Workaround:**

Set `series.name=null` to use built-in name generator: http://jsfiddle.net/BlackLabel/to3jns9d/3/

[2018-10-02 09:39] TorsteinHonsi commented on #9087
Even with this change, it seems to send malformed SVG. By setting `useHTML` to true, we add a div and some spans after the main SVG, and with this change, it is clipped after the last `</svg>`.

[2018-10-02 09:41] pawelfus commented on #9098
Hi @jamie-pi

Thank you for reporting the issue. It looks like it happens only when `poinPlacement` is set to `"on"`. For between it works fine: http://jsfiddle.net/BlackLabel/pojk2eb7/6/

Simplified demo: http://jsfiddle.net/BlackLabel/pojk2eb7/12/

Steps:
- hover first point
- hover yAxis label "2.5"

![cdmlwzscyg](https://user-images.githubusercontent.com/1453926/46341296-18b84d80-c638-11e8-8c1

[2018-10-02 10:07] garybrain opened #9104 "Proximate formatting problem when combination of height and series"
#### Expected behaviour
Proximate should position legend near series data

#### Actual behaviour
When number of series exceeds height of the graph the legend are stacked at top of graph

#### Live demo with steps to reproduce
http://jsfiddle.net/u2yp509c/1/

#### Product version
Highcharts JS v6.1.4 (2018-09-25)

#### Affected browser(s)
All Browsers

[2018-10-02 10:19] #9097 closed

[2018-10-02 10:43] Denyllon opened #9105 "Series labels are positioning in different ways in Firefox and Chrome."
#### Expected behaviour

Series labels should be anchored to the same point in both of the browsers.

#### Actual behaviour

The same series label configuration looks different, depending on the browser in which we generate the chart.

#### Live demo with steps to reproduce

Official example: http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/series-label/

[2018-10-02 12:39] species360 commented on #9087
Agreed, but it looked like the original code was trying to remove any trailing HTML from the content after the final SVG so I was trying to keep with the spirit of the original change.

[2018-10-02 13:01] pawelfus commented on #9051
Simplified demo: https://jsfiddle.net/BlackLabel/5arckguf/23/

[2018-10-02 13:10] krishnaku commented on #9099
I see.. thanks. I can work with this if this is expected behavior.

Krishna

[2018-10-02 13:13] pawelfus commented on #9051
It'a a duplicate of #9075

Fixed demo using PR #9107 code: https://jsfiddle.net/BlackLabel/5arckguf/28/

[2018-10-02 13:13] #9051 closed

[2018-10-02 17:30] Martin-Nyaga opened #9108 "Highstock - Tooltip showing outside plot area for Y-zoomed multi-series line plot"
#### Expected behaviour
When hovering on a line plot with multiple series, and the plot is zoomed on the Y axis such that one or more of the series is not within the current visible range of the Y axis, when I hover over any of the points on the visible series, I should not see the tooltip for the series that are off the visible area showing outside the chart. Even if the tooltip is shown, it shou

[2018-10-02 19:29] dusankocurek opened #9109 "Sankey, generatePoints crash"
#### Expected behaviour
The Sankey chart doesn't behave the same way, it crashes in some situations. I can't find how to display chart or fix the structure of my page/style to display Sankey properly.

#### Actual behaviour
I tried a couple of examples in my app, but in some cases (different structure of the page), the chart just crashes with the following error.

If I display the same chart in a

[2018-10-02 19:36] dusankocurek commented on #9109
When I export the chart, it is displayed properly in the exported picture.

[2018-10-02 22:17] krishnaku commented on #9099
I must say this is very counter intuitive behavior in a "selection" handler. It seems like it might be better to allow selection cancellation in the click event, but I understand that this is the design. I will close the issue.

[2018-10-03 08:28] #8886 closed

[2018-10-03 08:39] pawelfus commented on #9109
Hi @dusankocurek

Thanks for reporting this! Please, create a live demo with this issue. I see you use Angular, so please make sure it's not a bug in Angular (or Angular wrapper for Highcharts you use). If you don't use official wrapper for Highcharts in Angular, then please report issue to the author of that plugin, or recreate issue without this wrapper. Thanks!

[2018-10-03 08:54] #9075 closed

[2018-10-03 09:30] KacperMadej commented on #9105
Simplified demo:
http://jsfiddle.net/BlackLabel/ey1c5qr8/1/

Win 10:
* Chrome:
![chart 66](https://user-images.githubusercontent.com/8960408/46402225-7368ac80-c6ff-11e8-83ff-95ab782ecaf2.png)
* FF and Edge:
![chart 1](https://user-images.githubusercontent.com/8960408/46402240-7b285100-c6ff-11e8-9248-1c6ccd8b6f4b.png)

[2018-10-03 10:13] Martin-Nyaga commented on #9108
Thanks @pawelfus! I believe the workaround works for our needs at the moment.

[2018-10-03 10:15] pawelfus commented on #9104
Hi @garybrain

Thank you for reporting this bug.

Simplified demo:
http://jsfiddle.net/BlackLabel/u2yp509c/4/

[2018-10-03 10:48] stepankoci opened #9113 "Invalid column order with nagative values (column chart)"
#### Expected behaviour
Column chart should respect series order when values are negative.

#### Actual behaviour
Chart columns has different order than series.

#### Live demo with steps to reproduce
https://jsfiddle.net/ezbtnfcw/

#### Product version
Highcharts 6.1.4

#### Affected browser(s)
Google Chrome, 69.0.3497.100

[2018-10-03 11:28] pawelfus commented on #8454
Works fine since v6.1.4 - closed as resolved in #8999

Added in API details: https://api.highcharts.com/highstock/plotOptions.series.dataGrouping

[2018-10-03 11:28] #8454 closed

[2018-10-03 11:31] bre1470 opened #9116 "Docs: Gradient type have to be possible for all color options."
@TorsteinHonsi:
Both linear and radial gradient are official, in the sense they are currently working for all color options. You can take any option (like chart background or area fill) and apply a linear or radial background.

[2018-10-03 11:54] pawelfus commented on #4728
Ok, it's not a bug. This is result of rendering only 1min range, with dataGrouping 5min. Once dataGrouping kicks in we don't see all points.

Either range should be increased (to e.g. 5min) or dataGrouping should be set for 1min too: http://jsfiddle.net/BlackLabel/b4cacv2f/9/

[2018-10-03 11:54] #4728 closed

[2018-10-03 11:59] pawelfus commented on #7711
Related to #7711

[2018-10-03 11:59] pawelfus commented on #9108
*Internal note:*
Related to #7711

[2018-10-03 12:07] pawelfus commented on #918
It's a problem with reusing `data` variable which modifies data. It's a reference (not a copy), use separate object/array instead: http://jsfiddle.net/BlackLabel/JNqTf/22/

Otherwise, navigator picks `data` again on adding a point, which has modified previously last point.

[2018-10-03 12:07] #918 closed

[2018-10-03 12:08] stepankoci commented on #9113
Here is demo with `index` properties: https://jsfiddle.net/zsbpanef/

[2018-10-03 12:21] pawelfus commented on #5147
At this moment we throw error 24: https://www.highcharts.com/errors/24

I think it's better, so people won't accidentally bulk update points. If it's expected, then `setData()` should be used.

[2018-10-03 12:21] #5147 closed

[2018-10-03 12:33] pawelfus commented on #9113
Hi @stepankoci

This is expected behaviour. In column series, you have two stacks: negative and positive. Both stacks start indexing from value "0", consider this example: https://jsfiddle.net/BlackLabel/ezbtnfcw/1/ - all stacks starts with green series. If you change just one point in a stack ( https://jsfiddle.net/BlackLabel/ezbtnfcw/4/ ) - then it will render in a different stack (you can see s

[2018-10-03 14:08] balkarov commented on #8508
@pawelfus  Thank you for your answer!

[2018-10-03 14:30] alexandrgorodilov opened #9118 "Highmaps: Center legend items"
#### Expected behaviour

I want to center legend items in the legend box

#### Actual behaviour

If the legend title is too long, the legend items are left aligned

#### Live demo with steps to reproduce

https://jsfiddle.net/6fjdvwxh/

#### Product version

Highmaps 6.1.4

#### Affected browser(s)

All

[2018-10-03 15:29] KacperMadej commented on #9118
Hi @alexandrgorodilov

The github is our bugtracker, so for general support questions, please use forum / stackoverflow or email.
https://www.highcharts.com/support

The demo is showing the problem when legend title is not going to work for a chart, so title should be resolved first - changed to fit into chart e.g. by [adding breaks into title string](https://jsfiddle.net/BlackLabel/6fjdvwxh/1/) o

[2018-10-03 15:29] #9118 closed

[2018-10-03 15:38] KacperMadej commented on #3280
Issue with negative values was resolved here: https://github.com/highcharts/highcharts/issues/7046

Stacking and minPointLength makes no sense as data is not readable and misleading.

If you would like to see this issue reopened please leave a comment with more info about the issue.

[2018-10-03 15:38] #3280 closed

[2018-10-03 15:53] KacperMadej commented on #1786
Unable to recreate in version 6.1.4.
Closing as resolved.

[2018-10-03 15:53] #1786 closed

[2018-10-03 15:56] KacperMadej commented on #3509
Unable to recreate in version 6.1.4
Closing as resolved.

[2018-10-03 15:56] #3509 closed

[2018-10-03 16:00] KacperMadej commented on #4257
The option resolving the problem is documented - https://api.highcharts.com/highcharts/series.line.states.hover.lineWidthPlus
This doesn't look like a bug.
Closing as resolved.

If you want for this issue to be reopened please leave a comment with more info about the issue.

[2018-10-03 16:00] #4257 closed

[2018-10-03 16:03] #8883 closed

[2018-10-03 16:03] KacperMadej commented on #6510
+1

[2018-10-03 16:38] DK-Unit4 opened #9119 "Data labels sometimes overlap total lable"
#### Expected behaviour
The labels do not overlap the totl label

#### Actual behaviour
in many cases the algorithm correctly hides one or another, but still sometimes they overlap

#### Live demo with steps to reproduce
https://jsfiddle.net/Kumlander/adwtLqrn/5/
here the width is auto if you will move the width to be wider or narrower then t certain sizes the total label will be overlapped with t

[2018-10-03 17:26] rlm1023 opened #9120 "Data labels can flow off the top of a chart"
#### Expected behaviour
If I'm going for a certain aesthetic in a column chart (always show values above the column), data labels should show up at the top of my columns.

#### Actual behaviour
Sometimes the labels run off the end of the chart.

#### Live demo with steps to reproduce
http://jsfiddle.net/oybxa370/1/

#### Product version
Highcharts 6.1.4

#### Affected browser(s)
Chrome at least

[2018-10-04 01:35] sachinchoolur opened #9121 "y-axis title overlaps with axis labels when useHTML is true"
#### Expected behaviour
Axis labels and title should not overlap.

#### Actual behaviour
y-axis title overlaps with axis labels when useHTML is true and `highcharts-container` font size is set to large value.

#### Live demo with steps to reproduce

http://jsfiddle.net/f57qh9b3/

#### Product version

Latest version of HighCharts

#### Affected browser(s)
Chrome - Version 69.0.3497.100
OS - mac os

[2018-10-04 09:26] raf18seb opened #9122 "Animation is applied on chart.update even though chart.animation is set to false"
#### Expected behaviour
When we set `chart.animation: false` and `plotOptions.series.animation: false` there should be no animation when updating chart's width.

#### Actual behaviour
There is no animation when we decrease the chart's width but the animation is applied when we increase the chart's width.

#### Live demo with steps to reproduce
http://jsfiddle.net/BlackLabel/7jwemxzv/

#### Product

[2018-10-04 09:30] pawelfus commented on #9120
Hi @rlm1023

Thank you for reporting this issue.  It looks like you don't have enough space above the column in the container: http://jsfiddle.net/BlackLabel/oybxa370/10/

You can workaround the issue by enabling `maxPadding`: http://jsfiddle.net/BlackLabel/oybxa370/11/

[2018-10-04 10:34] SPavelV opened #9123 "Halo in pie chart change size without a smooth transition when moving from one segment to another, and when the cursor is removed smoothly (nicely) from the chart."
#### Expected behaviour
How to make the halo transition from one part (point) inside the chart to another also be smooth.

#### Actual behaviour
Halo in pie chart change size without a smooth transition when moving from one segment to another.

#### Live demo with steps to reproduce
https://yadi.sk/i/yJf7NpRAmoXVPQ

#### Product version
Highstock JS v6.1.0 (2018-04-13)

[2018-10-04 10:41] Abrissirba opened #9124 "Zoom in/out when using zones not working with boost"
#### Expected behaviour
When zooming in and out I expect to only have one line per serie

#### Actual behaviour
If I zoom in and out multiple times I sometimes get two lines for a serie. This happens when I use zones together with the boost module.

#### Live demo with steps to reproduce
http://jsfiddle.net/81vhr764/5/

The fiddle shows a use case where I want multiple axes with one serie per axis

[2018-10-04 11:00] pawelfus commented on #9119
Hi @DK-Unit4

Thank you for reporting the issue.

Simplified demo: https://jsfiddle.net/BlackLabel/25m4npsc/

**Workaorund:**
Disable padding for dataLabels: https://jsfiddle.net/BlackLabel/adwtLqrn/10/

*Internal note:*
Collision is caused by padding - we subtract padding from width and height, but we don't reflect  this in x/y positions: https://github.com/highcharts/highcharts/blob/806c78bf3758

[2018-10-04 11:26] balkarov opened #9125 "Labels show numbers instead string after drilldown"
Labels show numbers instead string after drilldown

![default](https://user-images.githubusercontent.com/6030335/46471067-74720a80-c7e1-11e8-9509-e31f4a5b2564.PNG)

#### Expected behaviour
Show normal names

#### Actual behaviour
Show some numbers

#### Live demo with steps to reproduce
https://jsfiddle.net/3eoq4prv/

#### Product version
Highcharts version 6.1.4

#### Affected browser(s)
Chrome 6

[2018-10-04 12:09] pawelfus commented on #9125
Hi @balkarov

Thanks! It's a bug related to `cropThreshold` option. Please increase this value and everything will work fine: https://jsfiddle.net/BlackLabel/3eoq4prv/1/

Closing as duplicate of #5857

[2018-10-04 12:09] #9125 closed

[2018-10-04 12:17] pawelfus commented on #9122
**Workaround:**
Disable animation in `chart.update(options, redraw, oneToOne, animation=false)`: http://jsfiddle.net/BlackLabel/nmLk3wxt/

[2018-10-04 12:29] pawelfus commented on #9123
Hi @SPavelV

Thank you for letting us know about this. There's only one halo per series, so we can not animate halo when hovering between slices (that would require one halo per slice). In your case, I think increasing and decreasing radius of the slice would be better solution, take a look: http://jsfiddle.net/BlackLabel/c5umezpL/

Snippet:
[code]
In general, if you have questions, please contact

[2018-10-04 13:50] pawelfus commented on #9121
Hi @sachinchoolur

Thank you for reporting the issue!

*Internal note:*
v5.0.12 has correct vertical position, but horizontal is still broken: http://jsfiddle.net/BlackLabel/f57qh9b3/11/

[2018-10-04 14:01] KacperMadej commented on #7007
Duplicate of #9119 because fix for that issue seems to be resolving this one as well.
(the below demo won't work after PR will be merged into master)
http://jsfiddle.net/BlackLabel/2aLo04th/20/
(the below demo should work after PR will be merged into master)
http://jsfiddle.net/BlackLabel/2aLo04th/22/

If you feel like this issue shouldn't be closed please leave a comment with more info and this i

[2018-10-04 14:01] #7007 closed

[2018-10-04 14:20] marco-boeck opened #9128 "Multiple Histogram series with different bin widths do not work correctly"
#### Expected behaviour
Having 2 series with a different value range and showing a histogram for both at the same time should produce histograms that have different column widths as their bin width is different. There should not be any space between all columns of a single histogram series.

#### Actual behaviour
The visual bin width is always identical for all histogram series in a single chart,

[2018-10-04 14:39] raf18seb opened #9130 "Crosshair disappears after zooming (Chrome)"
#### Actual behaviour
Crosshair disappears after zooming and isn't visible before we move the mouse.

#### Live demo with steps to reproduce
http://jsfiddle.net/BlackLabel/amz0d5h2/

#### Product version
6.1.4

#### Affected browser(s)
Works in Edge and Firefox, doesn't work in Chrome 69.0.3497.100 (64-bit)

[2018-10-04 14:49] rlm1023 commented on #9120
Yeah, you can fix it that way, but you can always have long numbers that float off: http://jsfiddle.net/oybxa370/12/

In our product we're playing games with the margins to try and keep labels rendering, but that's pretty less than ideal. Would be great if there were at least an option to make room for the labels within the chart.

[2018-10-04 15:53] pawelfus commented on #9130
Could your provide detailed steps to recreate the issue? This looks fine for me:

![akqpsakcpy](https://user-images.githubusercontent.com/1453926/46486562-51a21f00-c7fe-11e8-9b0f-bd0e89734914.gif)

[2018-10-04 15:56] SPavelV commented on #9123
Thanks Pavel, now it works.

[2018-10-04 15:56] #9123 closed

[2018-10-04 16:08] pawelfus commented on #9120
Good point @rlm1023  - thanks! I'm not sure about making room for dataLabels, current options (overflow+crop) should position labels inside the plotting area. If you think this option is needed, please create an idea on our [UserVoice](https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api).

*Internal note:*
Demo (crop=false + overflow=justify): http://jsfiddle.net/BlackLabel/dLu

[2018-10-05 00:28] totszwai opened #9131 "Area chart does not interpolate line to the next available value"
#### Expected behaviour
The area chart should interpolate between the data points like the line chart when a data point is missing within the series.

#### Actual behaviour
The area chart does not interpolate between the data points

#### Live demo with steps to reproduce
https://jsfiddle.net/totszwai/gkyn16h7/

#### Product version
6.1

#### Affected browser(s)
All

Currently with the line chart,

[2018-10-05 06:59] subhabrata2017 commented on #8109
is there any way to point the line chart data to close. Now for me its pointing open value.

[2018-10-05 07:14] HetAdhvaryu commented on #7603
I am facing same issue in chrome.
Highchart version: 6.0.7
boost.js, boost-canvas.js are also used

Chrome version: 68.0.3440.106
Windows 10 Enterprise

[2018-10-05 08:15] pawelfus commented on #8109
Hi @subhabrata2017

Could you provide more details? RSI always use Close value to calculate the line.

[2018-10-05 08:40] pawelfus commented on #9131
Hi @totszwai

Thank you for reporting this issue. Actually it's a duplicate of #6204

The problem is that `connectNulls` is missing implementation for stacked charts (https://jsfiddle.net/BlackLabel/gkyn16h7/16/ - `connectNulls=true` and `=false` does not change the chart).

Closing as duplicate of #6204

[2018-10-05 08:40] #9131 closed

[2018-10-05 08:44] KacperMadej commented on #7603
Hi @HetAdhvaryu

I have the same OS and browser configuration and charts are rendering correctly.
Please create a live demo of the problem if you were not referring to the demos already shared in this thread.
Please check if you have anything else running that might cripple rendering - browser plugins, custom OS/browser configuration, or if you have any errors in browser console (developer tools).

[2018-10-05 08:51] raf18seb commented on #9130
This issue affects only Chrome browser.

[2018-10-05 09:02] KacperMadej commented on #9130
Problem visible on Win 10: Chrome / IE11.
(FF / Edge work fine)

[2018-10-05 09:09] HetAdhvaryu commented on #7603
![hiddenpoints](https://user-images.githubusercontent.com/43874135/46526519-1c540a80-c8ac-11e8-91e3-08bc3919c100.png)

[2018-10-05 09:17] HetAdhvaryu commented on #7603
The scatter plot demo with boost library provided by Highchart team is also not working in my system.
http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/boost/scatter

There is no error shown in console also.
I have also tried by enabling "WebGL Draft Extensions" in chrome. I found this suggestion over web but it is not working.

[2018-10-05 09:18] jamie-pi opened #9132 "Incorrect point being hovered on line charts when large distance in between points"
#### Expected behaviour
Hovering on a line chart should select the marker that has the same, or closest, x-axis position.

#### Actual behaviour
Marker/point in the wrong position on the x-axis is selected.

#### Live demo with steps to reproduce
https://jsfiddle.net/jamie_ip/h5wymuo1/
When you hover towards the bottom of the y-axis on the '2013' column, the marker that is highlighted is in '2014'

[2018-10-05 09:20] pawelfus commented on #9124
Hi @Abrissirba

Thank you for reporting the issue! You are right, it looks broken.

**Workaround:**
Use only boosted rendering engine by setting [`boost.seriesThreshold=1`](https://api.highcharts.com/highstock/boost.seriesThreshold).

Demo: http://jsfiddle.net/BlackLabel/ks9zqc07/2/

**Simplified demo:**
http://jsfiddle.net/BlackLabel/ks9zqc07/

*Internal note:*
It's probably caused by generating

[2018-10-05 10:05] KacperMadej commented on #7603
@cvasseng Any ideas?

[2018-10-05 10:12] KacperMadej commented on #2608
Unable to recreate on Chrome 68+
Closing as resolved, but if you can recreate the issue then please leave a comment with more info and the issue could be reopened.

[2018-10-05 10:12] #2608 closed

[2018-10-05 10:45] KacperMadej commented on #3668
Unable to recreate the problem in version 6.1.4
Closing as resolved.

[2018-10-05 10:45] #3668 closed

[2018-10-05 11:21] bharatnagdev opened #9133 "Update xAxis tooltip"
#### Expected behaviour
In scatter chart type on the xAxis tooltip it should display datetime as other chart types if xAxis is set to datetime format or else there should be an editable option for the xAxis tooltip same as other tooltip options.

#### Actual behaviour
displays series name on xAxis tooltip

#### Product version
Highcharts 6.1

[2018-10-05 11:27] marco-boeck commented on #9128
Thank you, this works.
This still means I cannot use the binsNumber parameter and that I have to manually calculate the binWidth for each series (as the user will supply the bin number), but at least it's a workaround. Thank you!

[2018-10-05 11:30] pawelfus commented on #9133
Hi @bharatnagdev

Thank you for your suggestion! It's already reported on as #3552

Closing as duplicate of #3552

[2018-10-05 11:30] #9133 closed

[2018-10-05 11:33] cvasseng commented on #7603
@HetAdhvaryu what kind of GPU do you have in your system? Are you having any issues with other accelerated applications (try e.g. http://webglsamples.org/aquarium/aquarium.html)?

[2018-10-05 11:38] bharatnagdev commented on #3552
It has been a while is there any update or workaround?

[2018-10-05 11:38] pawelfus commented on #9128
I agree, it's should be set internally, without additional user actions. Once `binWidth` or `binNumber` is set, then `pointRange` should inherit this value.

[2018-10-05 11:41] pawelfus commented on #3552
Solution is simple, see: https://github.com/highcharts/highcharts/issues/3552#issuecomment-61230443 - set `pointFormat` with required formatting for x-value. Alternatively, you can use `tooltip.pointFormatter` or `tooltip.formatter`.

[2018-10-05 12:11] KacperMadej commented on #3174
Unable to recreate using version 6.1.4.
Closing as resolved, but if you are able to recreate the issue please leave a comment with more info and the issue could be reopened.

[2018-10-05 12:11] #3174 closed

[2018-10-05 12:13] KacperMadej commented on #5076
Unable to recreate using version 6.1.4.
Closing as resolved.

[2018-10-05 12:13] #5076 closed

[2018-10-05 12:15] Citriik opened #9134 "Missing Areas with GeoJSON map"
#### Expected behaviour
The map should be displayed correctly.

#### Actual behaviour
When we load this map (GeoJSON) with this particular set of data some area are missing.

#### Live demo with steps to reproduce
JSFiddle: https://jsfiddle.net/9tk3oL1w/4/ (remove the data to see the full map)

#### Product version
Highcharts 6.1.1

#### Affected browser(s)
Chrome

[2018-10-05 12:15] KacperMadej commented on #5135
Working correctly in 6.1.4.
Closing as resolved.

[2018-10-05 12:52] KacperMadej commented on #9134
Hi @Citriik

For technical suport please contact [Highcharts technical support](https://www.highcharts.com/support), we are trying to keep GitHub issues for bug reports.

When contacting support please add information:
- how should the map look,
- what is missing,
- how was the map made

[2018-10-05 12:52] #9134 closed

[2018-10-05 13:05] KacperMadej commented on #9132
Hi @jamie-pi

Closest point is displayed and when close to the bottom of the '2013' column the points from other 'x' columns are closer than any point from '2013'. You could disable [`stickyTracking`](https://api.highcharts.com/highcharts/series.line.stickyTracking) to prevent tooltip from showing closest point - demo: https://jsfiddle.net/BlackLabel/h5wymuo1/7/

This doesn't look like a bug and f

[2018-10-05 13:33] KacperMadej commented on #8615
Closing due to inactivity about the originally reported issue.

[2018-10-05 13:33] #8615 closed

[2018-10-05 13:41] jamie-pi commented on #9132
Thank you. I did play around with stickyTracking but it prevents our required functionality (crosshairs always showing and closest marker always being selected). From what you have said then I guess the implementation of the hover is intended functionality and our requirement is more unique.

I will use the technical support from now on if I have any technical questions or problems. Thank you.

[2018-10-05 13:44] #9069 closed

[2018-10-05 13:48] KacperMadej commented on #7805
Unable to find the issue.
To be honest the issue lacks details, so through a comment with more information this issue could be reopened.

[2018-10-05 13:48] #7805 closed

[2018-10-05 13:50] #9132 closed

[2018-10-05 13:52] KacperMadej commented on #9092
Hi @marvin19

Thank you for reporting about the issue.

[2018-10-05 13:53] tsm91 commented on #6427
this is just another workaround.

Is there any updates on this? Is there any plans on fixing this @TorsteinHonsi ?

[2018-10-05 13:55] KacperMadej commented on #8707
Demo no longer available.
Unable to recreate the problem.

[2018-10-05 13:55] #8707 closed

[2018-10-05 13:59] KacperMadej commented on #8655
Works fine since version 6.1.4
Related to #8995
Closing as resolved

[2018-10-05 13:59] #8655 closed

[2018-10-05 14:08] KacperMadej commented on #8631
Works fine in version 6.1.4
Closing as resolved

[2018-10-05 14:15] KacperMadej commented on #8303
Workaround was suggested - https://github.com/highcharts/highcharts/issues/8303#issuecomment-388059861
Closing as duplicate of #7746

[2018-10-05 14:15] #8303 closed

[2018-10-05 14:44] KacperMadej commented on #8280
Another issue with 3d columns: https://jsfiddle.net/BlackLabel/8co8yjb9/10/
- top side not present for animation
- wrong z index order

[2018-10-05 14:46] KacperMadej commented on #2690
Resolved through [`crisp`](https://api.highcharts.com/highcharts/series.column.crisp) option.
Demo: http://jsfiddle.net/BlackLabel/7u7L33hc/19/

[2018-10-05 14:46] #2690 closed

[2018-10-05 14:49] KacperMadej commented on #6600
Resolved through [`crisp`](https://api.highcharts.com/highcharts/series.column.crisp) option.
Demo: http://jsfiddle.net/BlackLabel/bgybn2ok/4/

[2018-10-05 14:49] #6600 closed

[2018-10-05 14:52] KacperMadej commented on #8260
@sophiebremer
There's `Won't fix` label here, but the issue is open.
Is the issue resolved? (there are some related commits)

[2018-10-05 15:01] #8939 closed

[2018-10-05 15:09] KacperMadej commented on #8628
Works correctly in version 6.1.4
Closing as resolved

[2018-10-05 15:09] #8628 closed

[2018-10-05 15:36] sophiebremer commented on #8260
@KacperMadej
I partially solved it with a workaround, but there are some problems, that can not be fixed by using JSDoc at all. So it can be closed, but is not solved. We just have to get rid of dash names in longterm (or JSDoc addresses the issue).

[2018-10-05 15:36] #8260 closed

[2018-10-05 15:38] KacperMadej commented on #6891
Unable to recreate using version 6.1.4
Closing as resolved

[2018-10-05 15:38] #6891 closed

[2018-10-05 15:49] KacperMadej commented on #6807
Unable to recreate using version 6.1.4
http://jsfiddle.net/BlackLabel/uw1f3vx8/20/

Closing as resolved

[2018-10-05 15:49] #6807 closed

[2018-10-05 17:25] WeakMill98 opened #9135 "Vue js variable set and get properties makes chart.series[0],setData 10 times slower"
#### Expected behaviour
245 ms

#### Actual behaviour
2200 ms

#### Live demo with steps to reproduce

https://bpuat.edt.gov.ab.ca/export-tool

same data without Vue Js
https://jsfiddle.net/baoshenyi/ncbhg56L/53/

1.	Destroy
                      // destroy old points
                      console.time("oldData[i].destroy");
                      i = oldDataLength;
                      while (i--

[2018-10-05 19:54] baljeetkalsi opened #9136 "e"
hello All

[2018-10-05 20:02] #9136 closed

[2018-10-05 20:03] #8391 closed

[2018-10-06 05:17] bharatnagdev commented on #3552
i think i was not clear with what i want to actually achieve when i said change the tooltip format.
here is the [link](https://cloud.highcharts.com/create?q=VC7oDQYbc)
steps to reproduce :
->select chart type as scatter from scatterbubble chart
and also attaching an image where the highlighted area is what i want to modify actually
![highcharts cloud](https://user-images.githubusercontent.com/4388

[2018-10-07 05:12] sachinchoolur commented on #9121
HI @pawelfus,

Thanks for the prompt reply. Any ETA on a fix for this bug?

[2018-10-08 05:52] HetAdhvaryu commented on #7603
http://webglsamples.org/aquarium/aquarium.html is running smoothly.
below is my system GPU information.
The scatter graph was rendering properly just some time ago in this same system. I am not sure the duration when it stopped working. It may be possible that this particular browser version has some issue in rendering.

![image](https://user-images.githubusercontent.com/43874135/46593137-17c76600

[2018-10-08 08:32] KacperMadej commented on #2121
Unable to recreate using version 6.1.4.
Closing as resolved.
If you would like to see this issue reopened please add more info in a comment below.

[2018-10-08 08:32] #2121 closed

[2018-10-08 08:35] pawelfus commented on #9121
Hi @sachinchoolur - no ETA at this moment

[2018-10-08 08:39] pawelfus commented on #3552
In Advanced -> Custom code tab you can set format:

[code]

[2018-10-08 10:20] bharatnagdev commented on #3552
Thanks @pawelfus it worked.

[2018-10-08 11:14] nileshrokade opened #9138 "Highstock - DataGrouping zoom : Graph not rendering on all range filer"
Highchart stock graph not rendering the line graph for lower range period but it shows graph when clicked on all range group filter.

#### Actual behaviour

It should display value for all range selector

#### Live demo with steps to reproduce

http://jsfiddle.net/nileshrokade/ks1pyj45/4/

#### Product version

#### Affected browser(s)

[2018-10-08 11:27] stepankoci commented on #9113
Hi @pawelfus
thank a lot for your fast answer! And apologise for my late response.
Now I understand, but we have still issue with chart and column ordering. I will try write a better description (i'll create new issue).
Thank you!

[2018-10-08 11:27] #9113 closed

[2018-10-08 13:05] KacperMadej commented on #6812
Currently available features are presented and explained in Paweł's comment.
If you need a different functionality, then you could suggest an enhancement idea using userVoice.
https://highcharts.uservoice.com/forums/55896-general
The most popular ideas are getting implemented.
You could also contact technical support and ask for help with parsing data, so the chart will render as you want with dat

[2018-10-08 13:05] #6812 closed

[2018-10-08 13:09] KacperMadej commented on #3853
To better track how many votes the enhancement idea has the issue was moved to userVoice:
https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api/suggestions/35658868-maxstaggerlines-reimplementing-it-as-a-plugin

When the idea will get more votes then it will be addressed properly and this issue might get reopened.

[2018-10-08 13:09] #3853 closed

[2018-10-08 13:28] KacperMadej commented on #6972
Works fine in version 6.1.4
Closing as resolved

[2018-10-08 13:28] #6972 closed

[2018-10-08 13:31] nileshrokade commented on #9138
fixed by https://github.com/highcharts/highcharts/issues/9077  ..

setting dataGrouping

series: [{
    name: 'NILESH Benefits1',
    id: 'NILESH Benefits1',
    type: 'line',
    showInNavigator: true,
     dataGrouping: {
          	forced: true
          },

[2018-10-08 13:31] #9138 closed

[2018-10-08 13:32] nileshrokade commented on #9138
fixed by https://github.com/highcharts/highcharts/issues/9077  ..

setting dataGrouping

series: [{
    name: 'NILESH Benefits1',
    id: 'NILESH Benefits1',
    type: 'line',
    showInNavigator: true,
     dataGrouping: {
          	forced: true
          },

[2018-10-08 13:32] nileshrokade commented on #9138
fixed by https://github.com/highcharts/highcharts/issues/9077  ..

setting dataGrouping

series: [{
    name: 'NILESH Benefits1',
    id: 'NILESH Benefits1',
    type: 'line',
    showInNavigator: true,
     dataGrouping: {
          	forced: true
          },

[2018-10-08 13:35] KacperMadej commented on #7119
Unable to recreate
Please add a live demo and more info and the issue could be reopened

[2018-10-08 13:35] #7119 closed

[2018-10-08 13:37] KacperMadej commented on #7151
Looks stable in version 6.1.4 - at least for the provided demo.
Closing as resolved.

If you have more info or a live demo showing the problem then please post a comment with more info and the issue will be reopened.

[2018-10-08 13:37] #7151 closed

[2018-10-08 13:45] KacperMadej commented on #1470
Unable to recreate (or see) the problem in version 6.1.4 when zIndex is adjusted for both axes.
Demo: http://jsfiddle.net/BlackLabel/a240t3tu/2/
Closing as resolved.

In case of a comment with a live demo or more info the issue could be reopened.

[2018-10-08 13:45] #1470 closed

[2018-10-08 13:46] KacperMadej commented on #6934
Working fine in version 6.1.4
Closing as resolved

[2018-10-08 13:46] #6934 closed

[2018-10-08 15:43] jon-a-nygaard commented on #8525
After a series of fixes I believe we can close this issue.

The following has been fixed:
- Label positioning in grid axis
- borderWidth, lineWidth, and tickWidth behaves the same accross horizontal and vertical axes.
- tickSize could sometimes return wrong length of tick line, causing a gap in the grid cell.

The reproduction demo still looks a bit off, but that is due to `yAxis.staticScale` is d

[2018-10-08 15:43] #8525 closed

[2018-10-08 16:59] #8584 closed

[2018-10-09 06:32] Jilocasin opened #9141 "Heatmaps using Boost are displayed incorrectly when no colorAxis bounds are set"
#### Expected behaviour
Heatmap without explicit colorAxis boundaries (min/max) should be drawn correctly at every dataset size.
The colorAxis boundaries should be calculated automatically at every dataset size.

#### Actual behaviour
Heatmap with datasets large enough to trigger the series boost threshold (defaults to 5000) are drawn incorrectly when no explicit colorAxis boundaries are set.

###

[2018-10-09 06:36] Tantacula opened #9142 "Incorrect render in highstock 6.1.4"
Hi, I have an error with a candlestick. Candles are disappearing when I try to zoom my graph. This error comes with 6.1.4 version, but 6.1.3 works fine in this case (but I can't use 6.1.3 because it has other errors). If div container has full width (in 1366 display resolution) - all works fine, but with 50% width candles work buggy.

http://recordit.co/5WKjAX7uuR - there is a demonstration.

I tr

[2018-10-09 08:22] ghost opened #9143 "Wrong xAxis values with datetime"
Hi,

I have a simple chart bound with one datetime in category as follow

http://jsfiddle.net/3e3xqv7e/235/

You can see that both in tooltip and in xAxis the value of my category is 1577826000000

Once I add another datetime value in category at least the first xAxis label is changed to 1577836800000 instead of 1577826000000, tooltip value remains correct though.

http://jsfiddle.net/3e3xqv7e/237

[2018-10-09 08:57] sophiebremer opened #9144 "Docs: Many unexpected globals"
There should only be a few global members: https://api.highcharts.com/class-reference/global.html

Everything else has to be somewhere part of the Highcharts namespace.

[2018-10-09 09:10] DominicSachs opened #9145 "Wrong date value in tooltip on range change"
It seems that sometimes the tooltip for the xAxis has a wrong value (Day - 1). Please see the attached gif. This is a fiddle from your live demo.

http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/samples/stock/rangeselector/floating/

![highcharts](https://user-images.githubusercontent.com/5363927/46658758-bde0a200-cbb3-11e8-8305-3de471bde231.gif)

[2018-10-09 09:30] boolkaco opened #9146 "How to create a similar schedule with Highcharts"
#### Expected behaviour

![image](https://user-images.githubusercontent.com/9722059/46659904-81667380-cbbe-11e8-9095-b47520dfb493.png)

#### Live demo with steps to reproduce
http://jsfiddle.net/5ypnffww/490/

#### Product version
highcharts v6.0.4

#### Affected browser(s)
Google Chrome Version 69.0.3497.100 (Official Build) (64-bit)

[2018-10-09 10:49] KacperMadej commented on #9145
Hi @DominicSachs

Dates in inputs `From` and `To` are not precise enough to show time, so it could by any time during displayed day. It could be 1:00 am and a point is on 1:00 pm, so it doesn't fit into the currently displayed plotting area. Another issue there are weekend gaps - if `To` shows `Sep 30, 2018` then last point is from September 28th and next one is at October 1st.

This doesn't look

[2018-10-09 10:59] kamilkulig commented on #9135
As your demo shows: the performance of pure Highcharts library is fine. The problem is the logic of your Vue application (getters and setters are slowing the whole process down).

[2018-10-09 11:00] #9135 closed

[2018-10-09 12:33] KacperMadej commented on #9142
Hi @Tantacula

Please try to recreate the problem without Vue to be sure that the problem is not caused by it.
You are using a third party vue-highcharts - if the error is in the code please report this to the wrapper authors / maintainers. Official Highcharts wrapper for Vue is here: https://github.com/highcharts/highcharts-vue

[2018-10-09 12:37] KacperMadej commented on #9141
Hi @Jilocasin

Thank you for reporting about the boost module problem.

**Workaround:**
set `min` and `max` for `colorAxis`

_Internal note:_
FYI @cvasseng

[2018-10-09 12:58] boolkaco commented on #8317
@pawelfus Why the toolbar for the green line is displayed incorrectly?

[2018-10-09 13:06] Tantacula commented on #9142
@KacperMadej There's demo with the second bug without vuejs. http://jsfiddle.net/rhd3opLa/ Data is invisible inside small width container, but if you'll comment "display:flex" then it will be visible.

[2018-10-09 13:06] KacperMadej commented on #1408
Unable to recreate using version 6.1.4
Tested on Win 10: Chrome / FF / Edge / IE11

[2018-10-09 13:06] #1408 closed

[2018-10-09 13:15] KacperMadej commented on #4724
To better track how popular is this idea the issue is on userVoice: https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api/suggestions/35667478-ability-to-add-and-remove-multiple-points
The most popular ideas are getting implemented.

Closing the issue for now and it might get reopened when the userVoice idea will begin implementation process.

[2018-10-09 13:15] #4724 closed

[2018-10-09 14:13] KacperMadej commented on #4822
Unable to recreate using version 6.1.4
http://jsfiddle.net/BlackLabel/d3dmwzer/3/
Closing as resolved

[2018-10-09 14:13] #4822 closed

[2018-10-09 14:14] KacperMadej commented on #4843
Closing due to inactivity.

If you have more info and a live demo for the problem please leave a comment and the issue will be reopened.

[2018-10-09 14:14] #4843 closed

[2018-10-09 14:17] KacperMadej commented on #4854
The checkbox is in HTML and if you want to have tooltip over it then tooltip needs to be a full-HTML tooltip and have higher z index.

If this is not a valid solution for you pleas open an enhancement idea on userVoice: https://highcharts.uservoice.com/forums/55896-general
The most popular ideas are getting implemented.

[2018-10-09 14:17] #4854 closed

[2018-10-09 14:21] KacperMadej commented on #3081
Working fine in version 6.1.4
Closing as resolved

[2018-10-09 14:21] #3081 closed

[2018-10-09 14:41] KacperMadej commented on #4985
Unable to recreate using version 6.1.4.

API is not updated. Below code:

https://github.com/highcharts/highcharts/blob/28cd32c5c/js/parts-map/ColorAxis.js#L332-#L342

should be more like this:

https://github.com/highcharts/highcharts/blob/28cd32c5c0db314006e3990db0e5bf6bf5ca3d1b/js/parts/Axis.js#L900-#L911

[2018-10-09 14:49] KacperMadej commented on #9142
@Tantacula I have removed all files that were not required (or even where required not to be loaded) and the demo works fine (as far as I can see): http://jsfiddle.net/BlackLabel/mwsxozb1/ When using Highstock there's no need to load stock module, so it was removed. Also the third party wrapper was removed, but I'm not sure if this is relevant.

[2018-10-09 14:56] KacperMadej commented on #5073
Unable to recreate using version 6.1.4.
Closing as implemented and resolved.

[2018-10-09 14:56] #5073 closed

[2018-10-09 14:58] jdwillemse commented on #8643
I have this same problem and I'm not using Angular or any wrapped form of Highcharts. It is actually reproducible in the demo @KacperMadej posted above:
https://stackblitz.com/edit/angular-9nkrgd-uccwqn?file=src/app/new-page.component.ts

In the demo click 'new page' and then click 'welcome' to see the error described above.

I'm using React and this happens when I'm trying to destroy an instances

[2018-10-09 15:07] bbonczek opened #9147 "Highstock chart with Boost module looking strange."
#### Expected behaviour
Boost module should render chart, when using Highstock.

#### Actual behaviour
Chart is rendered only partially, or it is very thin (not sure). There is this warning in the console:

```[.WebGL-000001EEBB82C700]RENDER WARNING: Render count or primcount is 0.```

![image](https://user-images.githubusercontent.com/11254976/46678256-85a58780-cbe4-11e8-9dc0-74e24625d49e.png)

#

[2018-10-09 15:12] Tantacula commented on #9142
@KacperMadej Could you try to shrink and expand navigator block in chrome on windows 10 with screen resolution 1366x768 as I did this in my video in the first message? I have the same bug in your code example as in my video (red sticks disappears after those actions).

[2018-10-09 15:55] KacperMadej commented on #5062
The issue is still visible. Firefox version 62.0.3
Demo: http://jsfiddle.net/BlackLabel/u8b5dhpf/6/

Is this a browser issue with SVG and images?
No Highcharts demo: http://jsfiddle.net/BlackLabel/u8b5dhpf/7/

[2018-10-09 16:06] KacperMadej commented on #2437
Resolved through `groupAll` - demo: http://jsfiddle.net/BlackLabel/77qfv3at/20/

[2018-10-09 16:06] #2437 closed

[2018-10-09 16:15] KacperMadej commented on #6880
The issue doesn't look like a bug - nothing is broken here and everything seems to be working as explained in documentation.

If you have more info and would like to see this issue reopened please leave a comment.

[2018-10-09 16:15] #6880 closed

[2018-10-09 16:19] KacperMadej commented on #5077
Unable to recreate using version 6.1.4.
Closing as resolved.

[2018-10-09 16:19] #5077 closed

[2018-10-09 18:55] sophiebremer commented on #4985
See https://github.com/highcharts/highcharts/pull/9148 for a fix of colorAxis.labels.overflow

[2018-10-10 03:36] huangjun604 opened #9149 "Is it possible to hide the zero point in 3D column charts?"
#### Expected behaviour

The option to hide the zero point in 3D column charts.

#### Actual behaviour

There is no option to hide the zero point, and the zero point will also be drawn with color in 3D model, which is not making sense in some case. Especially to differ from other small data.

#### Live demo with steps to reproduce

The offical example is here: https://www.highcharts.com/demo/3d-co

[2018-10-10 04:43] #9145 closed

[2018-10-10 07:18] sebastianbochan commented on #9149
Hi @huangjun604,
It is not a bug, its default functionality that zero points are draw and only null point are not visible.
The solution is replace zero points with null values in the preprocessing.

[code]

Example:
- https://jsfiddle.net/BlackLabel/1uLjpn7h/

or use a workaround with setting really small `threshold` and transparent `negativeColor`
- https://jsfiddle.net/BlackLabel/g8Ls07qc/

[2018-10-10 07:18] #9149 closed

[2018-10-10 07:27] sebastianbochan commented on #9143
Hi @Dams591,
Thank you for contacting. By default Highcharts returns timestamp in `this.value` and you should use `Highcharts.dateFormat` to convert timestamp into user-friendly format.

Demo:
- http://jsfiddle.net/BlackLabel/0w5uL3dh/

Docs:
- https://api.highcharts.com/class-reference/Highcharts#.dateFormat

[2018-10-10 07:27] #9143 closed, assigned to nobody

[2018-10-10 07:34] ff-sgupta opened #9150 "Heatmaps are half plotted on browsers with webgl disabled"
#### Expected behaviour
The heatmap shuld be completely rendered

#### Actual behaviour
The heatmap is half plotted. If we remove the boost-canvas module then the chart is plotted correctly. However for large points, the performance is slow

#### Live demo with steps to reproduce
https://www.highcharts.com/demo/heatmap-canvas/

#### Product version
Highcharts 6.1.4

#### Affected browser(s)
Any br

[2018-10-10 07:55] Dams591 commented on #9143
Hi @sebastianbochan
Formatting is not this issue, well it might be but the issue is that the tooltip value is different from the x axis value once you have more than one category doesn't matter if you've formatted it or not.
I've updated your fiddle when you can clearly see the issue, here's a screenshot too.

http://jsfiddle.net/0w5uL3dh/2/

![image](https://user-images.githubusercontent.com/1273

[2018-10-10 08:42] KacperMadej commented on #9142
It seems to be a problem with dataGrouping, but it is resolved on master branch (next version release candidate), so until next version is released you could use the master branch version - demo: http://jsfiddle.net/BlackLabel/6dk14hb2/
or you could wait for next release when the fixed code will be published.

If next version will fail we could reopen this issue, but now closing as resolved, becau

[2018-10-10 08:42] #9142 closed

[2018-10-10 09:08] oysteinmoseng opened #9151 "Pathfinder connectors missing initial animation"
See title. These connectors should probably not be rendered until points have finished animating.

http://jsfiddle.net/n1qwLoz5/

[2018-10-10 09:11] oysteinmoseng opened #9152 "Hiding all series and showing them again breaks GridAxis"
See http://jsfiddle.net/oexfvrm1/

1. Click legend to hide series
2. Click legend to show series
3. The x axis (with grid) is missing the top border, and labels change alignment from center to left

[2018-10-10 09:21] oysteinmoseng opened #9153 "TreeGrid breaks point references on point.update"
With a TreeGrid axis, updating points causes the points to be destroyed and recreated. This is done in `updateYNames`, which calls `setData` with the `updatePoints` parameter explicitly set to `false`. Setting the parameter to `true` seems to cause other issues.

Since the point references are invalidated, this breaks drag/drop logic, which relies on point references to be maintained when using `p

[2018-10-10 09:29] pawelfus commented on #8643
@jdwillemse

Demo works fine for me, no errors:

![screen shot 2018-10-10 at 11 28 23](https://user-images.githubusercontent.com/1453926/46726892-a40c9100-cc7f-11e8-98f6-1fce15b57650.png)

[2018-10-10 09:37] pawelfus commented on #9143
Hi @Dams591

Thank you for the clarification!

Let me explain what happens: you have points at 21:00, but xAxis ticks (for days) are always rendered at 00:00. That means 31-12-2019 00:00:00.000 is outside the visible xAxis range, so first daily tick is rendered at 01-01-2020 00:00:00.000. There's not direct relation one point=one tick. However we can achieve this using [`xAxis.tickPositioner`](htt

[2018-10-10 11:01] pawelfus commented on #9147
Hi @bbonczek

Could you recreate issue in plunker/jsfiddle? I have just tried to use your options in a standalone chart (no angular involved): https://jsfiddle.net/BlackLabel/c7tpfe05/2/ - this looks fine.

Chart looks different (disabled navigator) - are you sue these are the options you use? Could you also test `v6.1.4` version?

[2018-10-10 11:05] pawelfus commented on #9150
Hi @ff-sgupta

Thank you for reporting the issue. You are right, it looks broken:

![screen shot 2018-10-10 at 13 05 12](https://user-images.githubusercontent.com/1453926/46732211-2780af00-cc8d-11e8-8c6c-e56b187318f3.png)

[2018-10-10 11:06] pawelfus commented on #8873
It was caused by disabled webgl in browser. Closing as duplicate of #9150

[2018-10-10 11:06] #8873 closed

[2018-10-10 12:11] ff-cviradiya commented on #9150
@pawelfus This was working fine when we were in the old highcharts version 5.0.12.

[2018-10-10 12:38] Dams591 commented on #9143
@pawelfus make sense ! Thanks !!

[2018-10-10 15:02] KacperMadej commented on #4230
`Should endOnTick and startOnTick be always set to false?`
Yes, when scrolling is enabled those options should be set to `false'.

This is not a bug.
For technical support please contact [Highcharts technical support](https://www.highcharts.com/support).

[2018-10-10 15:02] #4230 closed

[2018-10-10 15:05] WeakMill98 commented on #9135
Why vue component got slower when destroy and redraw function is called?

[2018-10-10 15:12] KacperMadej commented on #705
In case you want to show no-data message with custom conditions then no-data-to-display module supports showing message about lack of data on function call as presented in [a demo](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/no-data-to-display/no-data-line) from API reference:
https://api.highcharts.com/highcharts/noData

Closing this issue as this

[2018-10-10 15:12] #705 closed

[2018-10-10 15:22] KacperMadej commented on #5212
To better track how popular the enhancement idea is please use userVoice.
https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api/suggestions/14921250-support-more-3d-chart-types

Closing the issue for now, but it could get reopened when implementation of the feature will be started.

[2018-10-10 15:22] #5212 closed

[2018-10-10 15:24] #5282 closed

[2018-10-10 15:35] KacperMadej commented on #3959
The issue is possible to resolve using existing axis options like min, max, linkedTo, etc.

Please contact [Highcharts technical support](https://www.highcharts.com/support) for technical support.

To suggest a new enhancement idea please use [userVoice](https://highcharts.uservoice.com/forums/55896-general), the most popular ideas are getting implemented.

[2018-10-10 15:35] #3959 closed

[2018-10-10 15:39] #7879 closed

[2018-10-10 15:52] KacperMadej commented on #4306
Closing as a duplicate of #705

[2018-10-10 15:52] #4306 closed

[2018-10-10 15:54] KacperMadej commented on #6190
Closing as a duplicate

[2018-10-10 15:54] #6190 closed

[2018-10-10 15:57] oysteinmoseng commented on #6961
Closing this as it seems to be working with the current code. Feel free to reopen if this is still an issue.

[2018-10-10 15:57] #6961 closed

[2018-10-10 22:01] muperi commented on #4876
ChartEventsOptions functions like selection do not seem to be taking in the event function parameter

[2018-10-10 23:30] muperi commented on #4876
Couple of other issues that I found

- Not able to import the exporting, offlinexporting modules. I had to change export = factory to export default factory and use it as a default import

- Missing annotations module

- PlotSeriesEventsOptions click needs to be modified as click?: (e:PointerEventObject) => boolean;

[2018-10-10 23:33] syd-mlp-sean opened #9156 "Export data (CSV, XLS) on iOS Safari does not work"
#### Expected behaviour
When using the offline/export data plugin in Highcharts, clicking Download CSV or XLS on an iOS device should open the exported format.

#### Actual behaviour
Nothing happens when selecting to Download CSV or XLS on iOS.

#### Live demo with steps to reproduce

https://www.highcharts.com/demo/funnel
http://jsfiddle.net/highcharts/cqjvD/show

Open a demo page using the expor

[2018-10-11 06:48] nagdevbharat opened #9157 "xAxis values are not rendered properly on zoom"
#### Expected behaviour
when zooming the chart and using range selector button the xAxis values should be properly rendered

#### Actual behaviour
after zooming multiple times and using range selector the xAxis values are either blank or not getting updated on click

#### Live demo with steps to reproduce
https://jsfiddle.net/BlackLabel/xd1vzojh/  -used one of the fiddles from the answers
1. chang

[2018-10-11 07:32] bbonczek commented on #9147
Hi,

Yes, I am sure that I am using settings I've sent - the navigator that you can see is separate chart, with it's height set to 0, so only navigator is visible. It is not using boost module, so it's not important here - I can reproduce this issue even with navigator removed. I am having troubles reproducing it in fiddler, but still not giving up :)

[2018-10-11 09:01] pawelfus commented on #9147
Thanks for clarification! Unfortunately we won't be able to debug the issue using image only.

I guess this is caused by [`boost.useGPTTranslations`](https://api.highcharts.com/highcharts/boost.useGPUTranslations) which should be disabled if you have datetime axis. Could you try disabling this?

Another thing that comes to my mind: a few days ago we fixed similar issue (missing lines, tooltip fine

[2018-10-11 09:39] bbonczek commented on #9147
Hi,

I know it's hard to debug - I was trying to provide all information, that I think might be necessary to find the core issue, since I am not able to reproduce in fiddler (our code base is pretty large ATM, and we added bunch of custom stuff into highcharts).

My case resembles this one:
https://jsfiddle.net/c7tpfe05/5

Live data, with very often updates, usually there are more than one series

[2018-10-11 09:42] bbonczek commented on #9147
Also - are u sure, that [boost.useGPTTranslations](https://api.highcharts.com/highcharts/boost.useGPUTranslations) should be disabled when using datetime axis? Seems like in your first fiddle it worked (https://jsfiddle.net/BlackLabel/c7tpfe05/2/).

[2018-10-11 10:59] sebastianbochan commented on #9156
Hi @syd-mlp-sean,
By default all iOS browsers do not save file but open in a tab. You can try to use workaround which shows CSV as right content (instead of blank page) like here:
- http://jsfiddle.net/BlackLabel/6z1reb7t/

If it is still not enough, you should use external libraries to it. I.e `FileSaver`, `FileReader`, `Blob`

Related topic:
- https://stackoverflow.com/questions/29134418/how-to-

[2018-10-11 12:22] pawelfus commented on #9157
Hi @bharatnagdev

Thank you for reporting the issue! This is result of forced dataGrouping. With disabled dataGrouping (recommended for async loading of data) it works as expected: https://jsfiddle.net/BlackLabel/oqn6u3y5/

Forced dataGrouping can group points into higher groups (e.g. one day of data -> one data point) so you will see only one point on a chart. I couldn't recreate issue with no po

[2018-10-11 12:31] KacperMadej commented on #47
The problem appears only in case the third party sortable widget is used. It's possible to resolve the issue through calling chart / series update that will force redraw the shapes.
[code]

This seems to be a more a technical support case than a bug.
Closing as possible to be resolved with provided code, but this issue could be reopened if you have more comments and info about the problem.

[2018-10-11 12:31] #47 closed

[2018-10-11 12:31] pawelfus commented on #9147
Thanks for confirmation!

Just like written in docs:

It depends on a dataset. That is probably the reason we couldn't recreate the issue in jsFiddle. In general, when working with `datetime`-axis, `boost.useGPTTranslations` should be disabled.

[2018-10-11 12:37] KacperMadej commented on #143
This is basically an edge case of #8935 and since the other issue has a suggested workaround I'm closing this issue as a duplicate.

[2018-10-11 12:37] #143 closed

[2018-10-11 12:38] bharatnagdev commented on #9157
Hi @pawelfus

Thanks for the update but the issue is not about points on plot area. what actually i wanted to highlight is the xAxis labels shown while performing the steps given above.
please look into the highlighted area in a screenshot shared
![highcharts demo jsfiddle](https://user-images.githubusercontent.com/43880269/46804597-ac98c080-cd80-11e8-8bda-0fcc7e5bca3e.png)

[2018-10-11 12:41] #9147 closed

[2018-10-11 12:52] KacperMadej commented on #150
Unable to recreate using version 6.1.4
Closing as resolved

[2018-10-11 12:52] #150 closed

[2018-10-11 13:01] KacperMadej commented on #300
By default plotBands are placed under the alternating grid and if you want to have the plotBands placed over the grid then use documented API options - [plotBands.zIndex](https://api.highcharts.com/highcharts/xAxis.plotBands.zIndex).

The doesn't seems to be a bug in here when using version 6.1.4 and if the case is unclear please leave a comment and we could improve documentation with requested in

[2018-10-11 13:01] #300 closed

[2018-10-11 14:13] KacperMadej commented on #330
Works fine with jQuery 1.8.2, so this could have been a jQuery issue.
Closing as resolved.

[2018-10-11 14:13] #330 closed

[2018-10-11 14:58] ThePaSch opened #9159 "DotNet Highcharts: Series click event handlers are broken (6.1.1.65)"
Using the latest version of DotNet.Highcharts (NuGet 6.1.1.65), adding a "Click" event handler to any series on any chart type results in broken JavaScript code, which causes the click event to not properly function.

I am using the Html.Highsoft().GetHighchartsJS method in my view to render the chart to an identified container. The generated javascript code defines the click event handler in the

[2018-10-11 15:44] KacperMadej commented on #3798
Unable to recreate using version 6.1.4.
Closing as resolved.

[2018-10-11 15:44] #3798 closed

[2018-10-11 15:45] KacperMadej commented on #6286
Unable to recreate using version 6.1.4.
Closing as resolved.

[2018-10-11 15:45] #6286 closed

[2018-10-11 15:50] KacperMadej commented on #1429
Unable (99% sure, images are missing, so hard to be 100% sure) to recreate using version 6.1.4.
Closing as resolved.

[2018-10-11 15:50] #1429 closed

[2018-10-11 15:54] kamilkulig commented on #9135
I don't see anything like:

[code]
in my browsers console. Could you correct the demo so that it prints that information? Moreover, please specify where in your project tree `highcharts.src.js` file is located.

[2018-10-11 15:58] KacperMadej commented on #6553
Unable to recreate using version 6.1.4.
Closing as resolved.

[2018-10-11 16:01] gbenthomas opened #9160 "Highstock "overscroll" setting causing xAxis formatting issue"
#### Expected behaviour
xAxis labels should be formatted the same as when there is no overscroll set

#### Actual behaviour
xAxis labels show hours, minutes, and seconds (instead of just hours and minutes) and too many labels are rendered which causes them to be oriented diagonally and take up too much space on the chart. It's also very difficult to read.

The labels generally format themselves co

[2018-10-11 16:21] KacperMadej commented on #4527
Unable to recreate using version 6.1.4
Closing as resolved

[2018-10-11 16:21] #4527 closed

[2018-10-11 16:38] kamilkulig commented on #9135
If everything works fine in pure Highcharts then it's Vue's fault. Please try to recreate the issue in our official Vue wrapper: https://github.com/highcharts/highcharts-vue If the same problem will occur while using the wrapper, create a new ticket here: https://github.com/highcharts/highcharts-vue/issues

[2018-10-11 17:16] ransoing opened #9161 "Annotations exceed the bounds of the chart in exported PDF"
#### Expected behaviour
PDF export should look the same as PNG/JPEG/SVG export.

#### Actual behaviour
Annotations in PDF export are drawn past the boundaries of the axes.
This issue is only present in offline export.

#### Live demo with steps to reproduce
When exported to PDF, the annotation is visible past the top of the chart and past the bottom of the chart.

Demo using pixel y-values for the

[2018-10-11 21:14] jweider opened #9162 "Null Values in Data are being set improperly"
#### Expected behaviour
If the data coming in is a null value, it should either default to 0 or maybe not show it at all.

#### Actual behaviour
The value gets set to 0, 1, 2. Please see the codepen below.
Please note - we are doing ajax calls into high charts and when we have null data coming, our x-axis gets completely unsorted.

#### Live demo with steps to reproduce
https://codepen.io/jameswei

[2018-10-12 04:42] x-dra opened #9163 "Series drawn in the both axis in a multiple axis series when min(yAxis) is grater than the dataMin."
#### Expected behaviour

I have created two separate y axes and added different series to each axis. Min value of the top most y axis is set as 200. But the series has y data less than the 200. Expected to crop that series from the 200 line.

#### Actual behaviour
Top most series is drawn in the bottom axis also for the points which has values below 200.

see below image for more details
https://d

[2018-10-12 08:23] bbonczek opened #9164 "Can't deactivate boost module"
#### Expected behaviour

From [boost module docs](https://www.highcharts.com/docs/advanced-chart-features/boost-module):

In fidlder below I've set boostTreshold to 15. When I zoom into the area, where there are less then 15 points visible, boost module should be deactivated, and markers should become visible.

Same thing should happen if I click "Disable boost module" button.

#### Actual behavio

[2018-10-12 08:54] sebastianbochan commented on #9159
Hi @ThePaSch,
I have passed your case to our .NET developer. He will answer you here, as soon as possible.

[2018-10-12 09:49] brofixo commented on #9159
@ThePaSch Assign to `ColumnSeriesEvents.Click` only function name and place function in JS in view file.

[2018-10-12 09:51] sebastianbochan commented on #9162
Hi @jweider,
Thank you for contacting us. Could you update the example with your data? It will allow me to debug your problem.

[2018-10-12 10:28] meltingice1337 opened #9165 "Cannot remove all space from the chart"
#### Expected behaviour
Hello there, I'm trying to get the chart to be full height (without legend, axes, title, only the bars) but i cant seem to get it right, there always is that space as show in the image below
![chrome_2018-10-12_13-24-12](https://user-images.githubusercontent.com/10818970/46864212-52503c00-ce22-11e8-9419-7beedd11b289.png)

#### Config used
[code]
#### Product version
Highcha

[2018-10-12 11:14] bbonczek opened #9166 "When chart is zoomed in in boost mode, points accumulate on right side of the chart"
#### Expected behaviour
When zoomin in in boost mode overflowed data points should disappear completely.

#### Actual behaviour
When zoomin in in boost mode, overflowed data points are accumulating on the right side of the screen.

#### Live demo with steps to reproduce
https://jsfiddle.net/c7tpfe05/13/

#### Product version
Highcharts 6.1.4

#### Affected browser(s)
Chrome, Firefox

![image](http

[2018-10-12 11:16] pawelfus commented on #9161
Hi @ransoing

Thank you for reporting the issue! You are right it's broken.

**Workaround:**
Install package https://github.com/yWorks/svg2pdf.js and change [`exporting.libURL`](https://api.highcharts.com/highcharts/exporting.libURL) to point to your server with files.

*Internal note:*
Simplified demo: https://jsfiddle.net/BlackLabel/2vp0adju/ - it looks like we need to update svg2pdf in our libs

[2018-10-12 11:32] pawelfus commented on #9157
Hi @bharatnagdev

Thank you for the clarification! Sorry, I misread the issue. Still this is the same issue with enabled dataGrouping - dataGrouping should be disabled when async loading is in use (see my demo). It's a different method for performance optimisation.

[2018-10-12 12:34] aodarenko opened #9169 "DotNet.Highcharts textAlign property in X(Y)AxisTitle doesn't implemented"
#### Expected behaviour
TextAlign property in X(Y)AxisTitle implemented.

#### Actual behaviour
TextAlign property in X(Y)AxisTitle doesn't implemented.

[2018-10-12 12:40] smokir opened #9170 "Area with normal stacking and logarithmic yAxis"
When drawing area with normal stacking and logarithmic yAxis:
![2018-10-12 15 36 30](https://user-images.githubusercontent.com/2204174/46869477-a49a5880-ce34-11e8-96f0-f82d593a42b1.png)

Also:
* Console errors like `Error: <path> attribute d: Expected number, "…1.8267973856209 Infinity L 828.7…".`
* Tooltip on 8 Oct shows only 1 value
* Try comment `connectNulls: true`

#### Live demo with steps t

[2018-10-12 12:57] aodarenko opened #9171 "DotNet.Highcharts Rotation in X(Y)AxisTitle doesn't set '0' value"
I try to create horizontal title on xAxis in **inverted** chart. But DotNet.Highcharts think that rotation=0 is default value for all cases (I know that I can set value to 360), and as result DotNet.Highcharts library are skiped this property in JSON object.

#### Expected behaviour
For inverted charts. Default values of axis title rotation must be swapped between xAxis and yAxis.

#### Actual beh

[2018-10-12 13:11] jweider commented on #9162
Hey thanks for the quick response. I thought that values getting set to 0,1,2 could be related. Here is the data we are using and we are using data.row:
![xaxis-labels-because-null-values](https://user-images.githubusercontent.com/41597539/46870651-2a9aad00-cdfd-11e8-9efd-45e027c44c3b.jpg)

[2018-10-12 13:55] ru-web-designer opened #9173 "Strange behaviour of buttons with force data grouping in days"
Hi! I have a small data array with wide range dates and two buttons in range selector. One with forced grouping in days, another with force grouping in months.

#### Expected behaviour

Both buttons can be activated and change appearance when it happens. Days button set data grouping to days and somehow move selected range for it becomes one month (like it set in settings) wide. Same for Month but

[2018-10-12 14:17] pawelfus commented on #9165
Hi @meltingice1337

Thanks for contacting us. This is our bug tracker, as for questions please use our other [support channels](https://www.highcharts.com/support).

PS: You can control this by [`series.groupPadding`](https://api.highcharts.com/highcharts/series.column.groupPadding) and [`series.pointPadding`](https://api.highcharts.com/highcharts/series.column.pointPadding).

[2018-10-12 14:17] #9165 closed

[2018-10-12 14:40] sebastianbochan commented on #9166
Hi @bbonczek,
Thank you for reporting. It looks like a bug with adding new point in the boost module.

@cvasseng

[2018-10-12 15:00] aodarenko commented on #9169
Sounds good. I will be waiting.

пт, 12 жовт. 2018 о 17:27 Sebastian <notifications@github.com> пише:

[2018-10-12 15:04] sophiebremer commented on #4876
Thanks you for the feedback, @muperi !
Some comments about your second post:
- The regular modules do no default export. Please check your tsconfig for ES6 settings.
- Only a few modules have declarations yet. We will of course add more over the next couple of months.
- We will look into this issue.

[2018-10-12 22:19] gbenthomas commented on #9160
Hi @pawelfus

Thanks for the workaround and quick response! Just another question because I couldn't find anything about this in the documentation. Do I need to remove this event manually or does chart.destroy() take care of the cleanup?

[2018-10-13 10:39] sophiebremer commented on #4876
Fix is part of highcharts/highcharts#9110 and will be included in next update of https://github.com/highcharts/highcharts-declarations-beta.

[2018-10-13 10:40] sophiebremer commented on #4876
Please add further issues with the declaration files to this repository:  https://github.com/highcharts/highcharts-declarations-beta.

Thank you.

[2018-10-14 14:14] #9119 closed

[2018-10-14 14:14] #9020 closed

[2018-10-15 04:57] ff-sgupta commented on #9150
@pawelfus Thanks for the response. By when are we expecting this to be fixed?

[2018-10-15 07:07] pawelfus commented on #9160
Event is bound to the prototype of the `Highcharts.Axis` class, so no need to remove it.

[2018-10-15 07:41] pawelfus commented on #9150
**Workaround:**
Position canvas manually, demo: https://jsfiddle.net/BlackLabel/79tmxrn8/2/

Snippet:
[code]

@ff-sgupta Hopefully it will get into the next release.

[2018-10-15 07:54] sebastianbochan commented on #2069
It looks like the issue in `stacking` when yAxis is the logarithic type.

Demo:
- http://jsfiddle.net/49u3mtrs/

Related topic:
- https://github.com/highcharts/highcharts/issues/9170

[2018-10-15 07:55] sebastianbochan commented on #9170
Hi @smokir,
Thank you for reporting. The issue is realted with our known case here: https://github.com/highcharts/highcharts/issues/2069. So Im closing the ticket and move to main thread. It will allow us to keep all cases in one topic.

[2018-10-15 08:33] sebastianbochan commented on #9173
Hi @ru-web-designer,
Thank you for the reporting. The issue about inconsistent points and random appering it after a few clicks is caused by non ordinal data. The solution is setting [xAxis.ordinal](https://api.highcharts.com/highstock/xAxis.ordinal) as false.

Demo:
- http://jsfiddle.net/BlackLabel/f1t3rg9s/

Could you confirm that it solved your problem too?

[2018-10-15 08:36] oysteinmoseng opened #9174 "Dragdrop should indicate the value it is currently dragging to"
When dragging it is useful to see which value we are dragging to. Currently the tooltip is updating, but it is not reliably showing while dragging - i.e. the tooltip sometimes disappears while dragging.

#### Live demo with steps to reproduce
http://jsfiddle.net/1pm7o3Lj/

[2018-10-15 08:43] yash27 opened #9175 "Showing only one tooltip for all. Highstock highcharts"
I am using highstock module, indicator module in highcharts in my angular application. For example , here's the option of my highstock chart with indicator.

[code]

This code looks like this

![screenshot 14](https://user-images.githubusercontent.com/20498789/46939578-41066a00-d084-11e8-9264-fa4e7326107e.png)

If you see, there are two tooltips. One for the candlestick series and another one for

[2018-10-15 08:47] pawelfus commented on #9174
It's probably connected to `directTouch` for columns (dragging down - fine, dragging up - missing tooltip). For example `tooltip.shared` resolves the issue: http://jsfiddle.net/BlackLabel/1pm7o3Lj/2/

[2018-10-15 08:55] oysteinmoseng commented on #8526
Closing this, as the functionality is now available in Gantt. Please open new issues for other series types.

[2018-10-15 08:55] #8526 closed

[2018-10-15 08:58] bre1470 opened #9176 "Docs: boost.usePreallocated requires a doclet"
boost.usePreallocated is undocumented, but official supported.

[2018-10-15 09:00] KacperMadej commented on #9162
[Relevant API documentation](https://api.highcharts.com/highcharts/series.scatter.data):

This could be resolved by setting the relevant options like:

[code]

Demo: https://codepen.io/Blacklabel/pen/KGywbj

This doesn't look like a bug - all works as explained in documentation.

[2018-10-15 09:01] sebastianbochan commented on #9175
Hi @yash27,
Thank you for contacting us. This is our tracker for reporting bugs, so for general [support](http://www.highcharts.com/support) questions, please use forum / stackoverflow or email.

ps. You should disable split and enable shared option in tooltip.

[code]

Demo:
- https://jsfiddle.net/BlackLabel/zfjwo90u/

[2018-10-15 09:01] #9175 closed

[2018-10-15 09:01] bre1470 opened #9177 "Docs: Make plotOptions.series.boostBlending official"
Setting the mode can be quite useful. The valid values are `add` `mult` `darken`.

[2018-10-15 09:04] yash27 commented on #9175
Thank you @sebastianbochan it helped 👍

[2018-10-15 09:30] oysteinmoseng opened #9178 "Gantt: Pathfinder fails on inverted charts."
See title.

http://jsfiddle.net/cs7gaL4r/

[2018-10-15 09:32] oysteinmoseng opened #9179 "Gantt: TreeGrid fails on inverted charts."
See title.

http://jsfiddle.net/ft5sgyqc/

[2018-10-15 09:35] ru-web-designer commented on #9173
I will reply as soon as i check this. Thanks!

[2018-10-15 09:44] ru-web-designer commented on #9173
I checked your fiddle and it's acting same way. I have a demo below:

https://youtu.be/YtPmZiy1R5k

[2018-10-15 11:36] #8508 closed

[2018-10-15 12:36] bharatnagdev commented on #9157
Hi @pawelfus
Thank you for the explanation however i am using 'approximation' in dataGrouping.
Can you please help me to resolve it?
P.S.: Sorry couldn't generate fiddle for that one.

[2018-10-15 12:48] bharatnagdev commented on #3552
Hi @pawelfus
Tried to implement the code and it returned an error 'chart object.merge' is not a function
any suggestions what's wrong in it?

[2018-10-15 13:46] KacperMadej commented on #9162
@jweider Please share what do you think about the issue with regards to my previous comment.

[2018-10-15 15:55] KacperMadej opened #9183 "Enhancement idea: Interpolated tooltip for multiple series"
#### Expected behaviour
Interpolated tooltip value for line and similar series types. When hovered between points tooltip should show interpolated value between known points for all series. Interpolation should happen dynamically on hover without the need for multiple interpolated points.

#### Actual behaviour
Tooltip is shared for points with the same x values for points.

#### Notes
This is sim

[2018-10-15 21:01] sgibson53 opened #9184 "Scatter chart update plots inconsistent data points"
I have a scatter plot (data points connected with a series line). Page load consistently plots correctly, but updating with new series data brings unexpected data points in the graph.

#### Expected behaviour
Plot consistently when updating with new series data

#### Actual behaviour
Inconsistent data points show up depending on previous series data.

#### Live demo with steps to reproduce
http://

[2018-10-16 05:46] ff-sgupta commented on #9150
@pawelfus The workaround does not seem to work for inverted heatmaps

Inverted heatmap with webgl disabled
![inverted_heatmap_webgl_disabled](https://user-images.githubusercontent.com/644292/46995099-dc571800-d134-11e8-8029-63a14130cce3.png)

Inverted heatmap with webgl enabled
![inverted_heatmap_webgl_enabled](https://user-images.githubusercontent.com/644292/46995122-eed15180-d134-11e8-9d47-89287

[2018-10-16 08:00] sebastianbochan commented on #3552
Hi @bharatnagdev
Did you place the code in the section:
![zrzut ekranu 2018-10-16 o 10 00 03](https://user-images.githubusercontent.com/2115686/47001239-46b68b00-d12a-11e8-9593-388d3245efa0.png)

When I run the console I do not see the error. Could you confirm that it still appears? If yes, which browser do you use?

[2018-10-16 08:45] pawelfus commented on #9184
Hi @sgibson53

Thank you for reporting the issue. It's a problem when updating data with the same amount of points. Instead of `chart.update()` use [`series.setData()`](https://api.highcharts.com/class-reference/Highcharts.Series#setData) and set `updatePoints =false`. Demo: http://jsfiddle.net/BlackLabel/g8uxne36/6/

Closing as duplicate of #9037 (please check alternative workaround there).

[2018-10-16 08:45] #9184 closed

[2018-10-16 09:57] pawelfus commented on #9157
Hi @bharatnagdev

I don't see any better solution than disabling dataGrouping. Could you explain why you need `approximation` and `dataGrouping`? Maybe you don't need `approximation` method, but something simpler.

[2018-10-16 10:01] pawelfus commented on #3552
@bharatnagdev

So you are not looking for a Highcharts Cloud solution? In that case please provide **full description** of the issue. At this moment we can only guess what is wrong, for example you use outdated typescript/flow definitions. Additionally, please provide a live demo. Note that solutions for Highcharts Cloud are different from simply using Highcharts library...

[2018-10-16 10:42] bharatnagdev commented on #9157
Hi @pawelfus
I am having a user interface in which user has the ability to select the grouping method as per the data user wants.
anything else you can just for the same?

[2018-10-16 10:56] bharatnagdev commented on #3552
Hi @pawelfus
i shared the Highcharts cloud link for the explanation of issue i am facing.
here is the [link](https://jsfiddle.net/4uwf8bcq/)
![desktop screenshot](https://user-images.githubusercontent.com/43880269/47011627-0671ff80-d160-11e8-994e-96da3e41790a.png)

[2018-10-16 12:00] VasiliyPolyakov opened #9185 "How do I create a draggable plotline in Highcharts?"
#### Expected behaviour

I couldn't find info about this. See please screenshot. You will see a green line on the screenshot. This plotline must be oriented on xAxis and draggable with max and min value on the axis Х. Can you help me? maybe some suggestion or link to official docs. Thank you in advance.

screenshot and a short video with this issue You can find in this issue on StackOverflow

http

[2018-10-16 12:19] pawelfus commented on #9150
Hi @ff-sgupta

Thank you for pointing this out! It looks like a separate issue, but let's keep it here.

*Internal note:*
@oysteinmoseng / @TorsteinHonsi FYI:
We have simple translation for canvas-boost here:
https://github.com/highcharts/highcharts/blob/6f5df755f0589df601ad3d3f09057a74f1fdbf88/js/modules/boost-canvas.src.js#L61-L66
However, WebGL boost adds logic for inverted heatmap:
https://git

[2018-10-16 12:28] #6555 closed

[2018-10-16 12:28] #6920 closed

[2018-10-16 12:28] #7370 closed

[2018-10-16 12:28] #6551 closed

[2018-10-16 12:28] #6919 closed

[2018-10-16 12:28] #6921 closed

[2018-10-16 12:28] #6822 closed

[2018-10-16 12:28] #8841 closed

[2018-10-16 12:28] #9151 closed

[2018-10-16 12:34] pawelfus commented on #9164
Hi @bbonczek

Sorry for a late reply! For me it looks wrong, could you confirm @cvasseng ?

[2018-10-16 13:00] pawelfus commented on #9157
Yes @bharatnagdev I think I can: instead of using build-in dataGrouping, request new data from server with specified grouping. For example request params would be not only `start` and `end` but also `approximation` which would return grouped points according to the dataGrouping.

If you don't want to group points in the backend with different approximations, then manually group points **before** s

[2018-10-16 13:02] pawelfus commented on #3552
In your case @bharatnagdev  simply set `headerFormat` in options for series or for tooltip, like any other option. Demo: https://jsfiddle.net/BlackLabel/4uwf8bcq/4/

[2018-10-16 13:05] pawelfus commented on #9185
Hi @VasiliyPolyakov

This is our bug tracker. For questions please use StackOverflow, our forum or contact us by email: https://www.highcharts.com/support

PS: To answer your question: you can use simple line series with draggable points plugin: https://github.com/highcharts/draggable-points/

In upcoming Highcharts 7 it will be available through annotations module too.

[2018-10-16 13:05] #9185 closed

[2018-10-16 13:19] rajeswariaddepalli opened #9186 "Doughnut chart(Pie) - When user tabs/shift+tabs chart is not getting focussed"
#### Expected behaviour
When user tabs/Shift+tabs ,focus should be visible to the user.

#### Actual behaviour
Focus is not visible when user tabs/shift + tabs

#### Live demo with steps to reproduce
http://jsfiddle.net/17mse092/2/
http://jsfiddle.net/KNFJE/33/

If number of Pie charts gets rendered side by side. When user tab/shift+tab the charts are not getting focused.

**Issue** :  width and h

[2018-10-16 13:19] bharatnagdev commented on #3552
Thanks @pawelfus finally it worked.

[2018-10-16 14:11] andiger opened #9187 "Too large y axis max with multiple axes"
#### Expected behaviour
I expect the max of the y axes be set to around 360.

#### Actual behaviour
The max of both axes are set to 600.

#### Live demo with steps to reproduce
This charts has two axes. The second axis contains clones of the series from the first.
https://jsfiddle.net/adgadg/5m9u0tdb/
Note: setting chart.title seems to fix the problem.

In this chart I've removed the second axis a

[2018-10-16 14:20] sgibson53 commented on #9184
Thanks @pawelfus  for the quick reply and workaround. I'll give that a try here soon.
Please note that the data sets do **not** have the same amount of points.  I can't remember their exact numbers, but I know they are not the same data sets with altered point values.

[2018-10-16 14:26] rajeswariaddepalli opened #9188 "Accessibility module: depending on direction of tabbing through (tab or shift+tab) first or last point is being highlighted"
#### Expected behaviour

If user tabs/shift tabs, created rect should have same **X and Y coordinates and its width and height rect should be same** so that rect will be visible on the Pie at exact location.

#### Actual behaviour

1.  When user **tabs/Shift+tab , X and Y** that gets generated are on the pie chart are as below
and event width and height gets varied.

rect x="**94.98503112792969**"

[2018-10-16 14:47] rajeswariaddepalli commented on #9186
![pie-focus](https://user-images.githubusercontent.com/44196885/47025012-624c8080-d180-11e8-8421-5c05da72ebee.png)

[2018-10-16 14:57] andiger commented on #9187
Thank you for your answer. But it does not explain why the chart gets such a high max value (600) when the highest value is ~303.

The documentation states that if alignTicks is set to true both axes will get the same number of ticks. But, in this case, the number of ticks should be the same regardless of the alignTicks property as both axes contain the same data. The only difference I see with al

[2018-10-16 15:19] Dams591 opened #9196 "Bar/Column Chart - Series Order scrambles when there are more than 10 series"
Hi guys,

I have the following bar chart with 10 series,

https://jsfiddle.net/015Lbpk2/11/

If I add another series at the end (same as last series n°10) the order of two bars are changed

https://jsfiddle.net/015Lbpk2/9/

![image](https://user-images.githubusercontent.com/12731716/47027291-7afc6c80-d167-11e8-8540-7952914ee49e.png)

Am I doing something wrong there or is it a known issue ?
Thanks

[2018-10-16 15:44] KacperMadej commented on #4119
@TorsteinHonsi Should names change and be dynamic for dynamic changes in code?
I would say yes, but I want to be sure.
Example: http://jsfiddle.net/BlackLabel/u210jwq5/

[2018-10-16 16:18] Denyllon opened #9197 "No series animation after calling 'Chart.update()' with the same 'chart.type' as before."
#### Expected behaviour

Animation should be visible after updating the chart, in case the passed object had the same set `chart.type`.

#### Actual behaviour

When we are trying to update the chart with the object, where the `chart.type` is the same as was before, series is rendered again, resulting in no animation.

#### Live demo with steps to reproduce

https://jsfiddle.net/8eupcdas/
Please co

[2018-10-16 16:21] KacperMadej commented on #4121
Looks like garbage collector runs when it feels like it should run and all is fine.
Adding 20 series and removing them 50 times looks like in the below image:

![4121](https://user-images.githubusercontent.com/8960408/47031286-d4689980-d16f-11e8-92a3-23466111ba7c.jpg)

http://jsfiddle.net/BlackLabel/rcohLz7s/1/

Closing for now, but feel free to reopen in case this will become a problem.

[2018-10-16 16:21] #4121 closed

[2018-10-16 19:38] merakmarey opened #9198 "Bug: Negative border on area with incorrect color due chart height"
#### Expected behaviour
Negative border on area chart should show in red color (defined by negativeColor prop)

#### Actual behaviour
Negative border on area chart shows in green color, inherited from color for positive area.

#### Live demo with steps to reproduce
http://jsfiddle.net/0srqapLz/

#### Product version
Highstock JS v6.1.4 (2018-09-25)

#### Affected browser(s)
Chrome latest version

[2018-10-17 06:51] andiger commented on #9187
@sebastianbochan, I can't reopen this case myself. Do you mind taking another look at this?

[2018-10-17 08:04] pimskie opened #9200 "Area chart: small height, no data results in JS errors"
#### Expected behaviour
Expected an empty chart without JS errors.

#### Actual behaviour
An empty chart with JS errors.

#### Live demo with steps to reproduce
It looks like the following combination results in JS errors:
no data + chart type `area` + chart height < 95px + setting `negativeColor`

 *Working*:
* chart height: < 95px
* data: yes
* property `negativeColor`  set: yes
* No JS errors:

[2018-10-17 08:33] VasiliyPolyakov commented on #9185
Ok, I got it! Thank you

[2018-10-17 08:41] pawelfus commented on #9196
PS: These are your datasets without other options:
- https://jsfiddle.net/BlackLabel/015Lbpk2/24/
- https://jsfiddle.net/BlackLabel/015Lbpk2/27/

As you can see, order of points is different, so chart is rendered as expected. You can also observe order of points in legend.

[2018-10-17 08:51] pawelfus commented on #9200
Hi @pimskie

Thanks for reporting this bug.

**Workaround:**
Don't use `negativeColor` on a small empty chart. Instead use `series.update({ .. });` to set this once data is available. Or create chart **without** series and later use `chart.addSeries({ ... });`.

*Internal note:*
Simplified demo: https://jsfiddle.net/BlackLabel/hyxzvnbe/5/

[2018-10-17 09:18] ThePaSch commented on #9159
Hi @brofixo,

thanks for your response.

For my use-case, this unfortunately won't work. This behavior, if I'm correct, does not support anonymous functions like most other event/callback properties - including, actually, the Chart Click event, which implements the exact behavior I was expecting the Series Click event to implement as well (inserts the given value into the javascript code without q

[2018-10-17 09:40] pawelfus commented on #9198
Hi @merakmarey

Thanks for reporting this bug. It looks like broken when using `setData()`. When initializing chart with data it works fine: http://jsfiddle.net/BlackLabel/0srqapLz/1/

**Workaround:**
Instead of `setData()` use `update()` with reapplied `negativeColor`: http://jsfiddle.net/BlackLabel/0srqapLz/2/

*Internal note:*
Minified demo: http://jsfiddle.net/BlackLabel/mcr6edhg/15/

[2018-10-17 09:54] KacperMadej commented on #8818
Still an issue with mixed (or mixed findNearestPointBy option) series types - https://jsfiddle.net/BlackLabel/8ydq59hw/177/

[2018-10-17 09:55] pawelfus commented on #9186
Hi @rajeswariaddepalli

Thanks for reporting the issue. Do you mean it's a bug in our accessibility module? Your demos don't include this module. Could you provide more detailed description? Do you use any external plugin to focus elements? Could you also let us know about affected browsers? Thanks!

[2018-10-17 10:39] Dams591 commented on #9196
My bad @pawelfus !! haven't seen that.

[2018-10-17 10:56] pimskie commented on #9200
Thanks for the quick reply @pawelfus
The `series.update({ .. });` workaround when data comes is works.

[2018-10-17 11:00] pawelfus commented on #9200
Thanks for the info! Let's keep this open - this should be fixed in the core.

[2018-10-17 12:45] brofixo commented on #9159
@ThePaSch It will be adjusted by Monday.

Also I have a question :) Why do you name it DotNet Highcharts if official
name is Highcharts.NET and package on NuGet has name Highsoft.Highcharts?

Daniel Drwięga

śr., 17.10.2018, 11:19 użytkownik ThePaSch <notifications@github.com>
napisał:

[2018-10-17 12:53] #9197 closed

[2018-10-17 14:52] ArielKr opened #9204 "highstock present null integer values as their index"
#### Expected behaviour

xAris with null value will be displaed as null.
#### Actual behaviour
It shows bar index, that looks like one of the values

#### Live demo with steps to reproduce

https://jsfiddle.net/v1gc0udp/2/
#### Product version

#### Affected browser(s)

[2018-10-17 16:14] merakmarey commented on #9198
Will do. What really intrigues me is why and how is related to chart height. If chart is a little taller and I use setData it will work well. Thanks anyway.

[2018-10-17 16:19] twanwv opened #9206 "Draggable only works when series available on chart creation"
#### Expected behaviour
After adding a series to an empty chart; dragging and dropping of points should work normally if the settings are set to it.

#### Actual behaviour
Dragging and dropping only works if there is a serie available at the moment the chart is created.

#### Live demo with steps to reproduce
Step to reproduce: http://jsfiddle.net/md3kpnfr/2/ (Press 'Add Series' and try to drag/dr

[2018-10-17 17:56] ThePaSch commented on #9159
Hi @brofixo,

thanks a lot for your quick responses and the good support!

It's mostly a matter of habit. Before Highcharts.NET was available, the only .NET wrapper for the Highcharts.js library was an unofficial one called DotNet Highcharts, which I made use of once in the past.

[2018-10-17 22:27] brofixo opened #9207 "Sort items in JSON file"
#### Expected behaviour
Items in JSON file are sorted - specially items in `children`.

#### Actual behaviour
Items in JSON file are not sorted. They seem to be randomly located in JSON.

[2018-10-18 07:29] brofixo commented on #9207
It is about https://api.highcharts.com/highcharts/tree.json. I use it to
create .NET wrapper and it is really helpful if items are sorted. I was
talking about it with @sophie and she asked me to create this task and
assign it to her, but I don't have privileges here to do that.

Daniel Drwięga

czw., 18.10.2018, 09:22 użytkownik Torstein Hønsi <notifications@github.com>
napisał:

[2018-10-18 07:32] jon-a-nygaard commented on #8675
Consider this closed as we have managed to tick of all the boxes.

[2018-10-18 07:32] #8675 closed

[2018-10-18 07:56] oysteinmoseng commented on #7551
Closing this, as it has been implemented in Gantt now.

[2018-10-18 07:56] #7551 closed

[2018-10-18 07:57] #8576 closed

[2018-10-18 07:57] #8586 closed

[2018-10-18 07:59] oysteinmoseng commented on #7910
Fixed now, control this behavior with `yAxis.uniqueNames` https://jsfiddle.net/fsL6mfu4/14/

[2018-10-18 07:59] #7910 closed

[2018-10-18 08:01] oysteinmoseng commented on #6770
Fixed now, control this behavior with `yAxis.uniqueNames` https://jsfiddle.net/s2zd539y/2/

[2018-10-18 08:01] #6770 closed

[2018-10-18 08:02] oysteinmoseng commented on #6558
Fixed now, control this behavior with `yAxis.uniqueNames` https://jsfiddle.net/fsL6mfu4/14/

[2018-10-18 08:02] #6558 closed

[2018-10-18 08:18] #9102 closed

[2018-10-18 08:29] #9150 closed

[2018-10-18 08:30] #9160 closed

[2018-10-18 08:37] #5293 closed

[2018-10-18 08:41] pawelfus commented on #9198
Thanks for the remarks! I agree, that's really strange that height does matter..

[2018-10-18 08:58] pawelfus commented on #9204
Hi @ArielKr

Thanks for reporting the issue. This is expected behaviour - when no category name is provided, then index of the point is used. If you want to use `null`, then set it as string: `'null'`: https://jsfiddle.net/BlackLabel/v1gc0udp/3/

[2018-10-18 08:58] #9204 closed

[2018-10-18 09:13] ff-sgupta commented on #9150
Thank you for the fix

[2018-10-18 09:25] raf18seb opened #9209 "Unexpected zoom extremes after series data is updated"
#### Expected behaviour
After series data update I would like to keep current level zoom.

#### Live demo with steps to reproduce
http://jsfiddle.net/BlackLabel/zjnxhsL2/
Click a zoom button, then select region to zoom in further. After a few seconds, when the data is updated, the zoom level resets to the level set by the button.

#### Product version
Highstock 6.1.4

[2018-10-18 09:26] jjenzz opened #9210 "Month xAxis has inconsistent space after February column"
#### Expected behaviour

Plotting month columns on a `datetime` xAxis using `tickInterval` and/or `pointInterval` would render consistent width columns with consistent gutters.

#### Actual behaviour

There is an inconsistent (smaller) space between February and March even though I've used `tickInterval` so ensure all ticks are 28 days.

#### Live demo with steps to reproduce

http://jsfiddle.net/

[2018-10-18 09:51] pawelfus opened #9211 "Boost - inverted heatmap has wrong dimensions when WebGL is disabled"
#### Expected behaviour
Correct inverted chart when WebGL is disabled

#### Actual behaviour
Chart is misplaced

#### Live demo with steps to reproduce
https://jsfiddle.net/BlackLabel/79tmxrn8/13/

#### Details:
We have simple translation for canvas-boost here:
https://github.com/highcharts/highcharts/blob/6f5df755f0589df601ad3d3f09057a74f1fdbf88/js/modules/boost-canvas.src.js#L61-L66
However, Web

[2018-10-18 09:51] pawelfus commented on #9150
Issue with inverted chart has a separate issue: #9211

[2018-10-18 10:56] ppotaczek commented on #9210
Hi @jjenzz, Thank you for reporting this problem.

Datetime axes are based on milliseconds and not equal spaces result from a different time interval for months. The set `tickInterval` option is rounded, here you can see how ticks would look like with your fixed interval: http://jsfiddle.net/BlackLabel/vh4k05yx/

To align the spaces between the columns you can use:
- `ordinal` xAxis from Highstock

[2018-10-18 11:03] kutensky opened #9212 "Annotations module's defaultOptions couldn't be overriden"
I try to override Annotations module's default options using Highcharts.setOptions method. But apparently it doesn't override them.
I found in code of Annotations module that id define
H.defaultOptions.annotations = [];
But it doesn't really use it anyhow. So Highcharts.setOptions doesn't effect it.

#### Expected behaviour

Highcharts.setOptions with "annotations: [{ labelOptions: { ... }}] shoul

[2018-10-18 11:18] Kartiki-Sahu-InfoCepts opened #9213 "High volume modulating stacked bar chart is not rendered with boost module"
#### Expected behaviour
Bar chart should be rendered successfully irrespective of bar width and quantity

#### Actual behaviour
The bar chart isn't rendered if there is bulky modulating data for the stacked bar chart

#### Issue Description
I am painting a stacked bar chart with high volume data, as it was giving performance issue I integrated boost module with it, but it hid my chart completely.

[2018-10-18 11:53] whawker opened #9214 "Feature request - Can themed sass be included in the NPM package?"
It's very useful that Highcharts includes the Sass file `css/highcharts.scss` in the NPM package.

Would it be possible to also include the Sass files for the themes as well (i.e. Dark Unica) in the NPM module too?

[2018-10-18 12:08] karolinakuzniewicz opened #9215 "Title is dropped from chart's container while having verticalAlign to bottom"
#### Expected behaviour
Move chart with legend to top to create place for bottom title and fit in actual chart's measurements.

#### Actual behaviour
Chart with legend is not moving, the title is placed at the bottom of container and doesn't fit in, it is cut.

#### Live demo with steps to reproduce
https://jsfiddle.net/7Lf2uk15/

#### Product version
Highcharts 6.1.4

#### Affected browser(s)
Chr

[2018-10-18 12:15] oysteinmoseng opened #9216 "Gantt export default size should be larger"
#### Expected behaviour
Exported chart size is currently optimized for Highcharts as default. Gantt charts are generally bigger, and a larger default size makes sense.

#### Live demo with steps to reproduce
https://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/gantt/demo/resource-management/
- Export the above chart to e.g. PNG

#### Product version
Highcharts Gantt 6

[2018-10-18 15:48] kutensky opened #9217 "Legend become inactive with Annotations and overflow: visible"
I configured chart with annotations and legend. We use "overflow: visible" for chart. And in that case when you hide some series by clicking on legend item, legend items become inactive, so you can't show series again.
It happens because when you hide some series, annotation hides by moving to y = -9000. And because "overflow" is "visible", chart container blocks chart content.

#### Expected beha

[2018-10-18 16:50] megamysterion commented on #8105
what if you need split tooltips on multiple series, without bottom tooltips(for example I use series without date data and this tooltip no needed)

[2018-10-19 06:49] #7988 closed

[2018-10-19 07:57] #9206 closed

[2018-10-19 08:42] #9210 closed

[2018-10-19 08:43] #8455 closed

[2018-10-19 09:18] #9200 closed

[2018-10-19 09:33] balkarov opened #9218 "Labels do not wrap (or cut) after drilldown"
Labels do not wrap (or cut) after drilldown

![1](https://user-images.githubusercontent.com/6030335/47210229-0f9ae080-d39b-11e8-8d04-3f86b60967ee.gif)

#### Expected behaviour
labels words wrap and columns show normal

#### Actual behaviour
labels show full name and columns not visible

#### Live demo with steps to reproduce
https://jsfiddle.net/ogfrLphv/

#### Product version
Highcharts version 6

[2018-10-19 09:39] sebastianbochan commented on #8105
You can `wrap` the `tooltipHeaderFooterFormatter` and return false.

Demo:
- http://jsfiddle.net/BlackLabel/ycqt7n0o/

[2018-10-19 09:48] sebastianbochan commented on #9214
Hi @whawker,
Thank you for contacting us. Its really good suggestion and I will notify our NPM publishers about it.

@jon-a-nygaard

[2018-10-19 10:45] pawelfus commented on #9212
Hi @kutensky

Thanks for reporting the issue. Annotations, similar to series, are dynamic elements on the chart, so `setOptions()` won't change anything. However, I agree, an option to define defaults for all annotationa would be useful.

At this moment you can do this by changing prototype defaultOptions:

[code]

[2018-10-19 10:54] pawelfus commented on #9213
Hi @Kartiki-Sahu-InfoCepts

Thanks for reporting the issue! Could you add a live demo with this?

Remember, that columns/bars are 1px wide in boost mode, so it may not be the best solution in your case: https://jsfiddle.net/BlackLabel/c8rg3Lqf/

[2018-10-19 11:25] #9164 closed, assigned to nobody

[2018-10-19 11:57] pawelfus commented on #9217
Thanks fore reporting!

[2018-10-19 12:35] pawelfus commented on #8062
Fixed in c88342ca1717bc5a4d4d6ba40dab3fb126efbc6c

[2018-10-19 12:35] #8062 closed

[2018-10-19 12:39] pawelfus commented on #9212
Honestly I don't know - this simply won't work.

[2018-10-19 14:15] adamcooper94 commented on #5098
Great, that's exactly what I wanted. Thanks @jon-a-nygaard

[2018-10-19 20:35] LoranHayden opened #9223 "Reversing labels array results in values not text being displayed on axis"
#### Expected behaviour
I have an array of
[code]
And I find that when I use it as:
[code]

the x-axis labels **do not show the text** but show the value instead
if I use the same array but call **reverse** on it then the text values appear properly

[code]

[2018-10-20 08:44] megamysterion commented on #8105
thanks for the help, if you have some time look at [this question](https://stackoverflow.com/questions/52879667/chart-to-multiply-data-series-without-date-data), please.

[2018-10-20 11:00] heySasha opened #9224 "Highmaps is shit!"
How to import Highmaps from typescript?

[2018-10-20 11:02] heySasha commented on #9224
How to import Highmaps from typescript?

[2018-10-20 12:02] #9224 closed

[2018-10-20 13:07] Yaseen-Nadaf commented on #8091
Hi, I am getting the same error as @NehaSharma2304, But I am using highcharts with angular universal, client-side rendering is all good but when it comes to server-side rendering, it's giving me that error.

Here are my configs:

Angular CLI: 6.0.0
Node: 8.11.3
OS: win32 x64
Angular: 6.1.10
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
...

[2018-10-20 13:12] Yaseen-Nadaf commented on #8091
This is my code for chart:

[code]

[2018-10-20 18:08] TorsteinHonsi opened #9225 "Highcharts 7 - remove abstractions for array functions like forEach etc."
Until now we have kept abstractions for array functions like `forEach`, `map`, `filter` etc to avoid using polyfills for legacy browsers, that can induce bugs in unrelated code.

From Highcharts 7 we will remove those abstractions (`Highcharts.each`, `Highcharts.map` etc.) and provide workarounds for those who still need to support IE8. Either we demonstrate how to use a third party polyfill libra

[2018-10-20 18:12] TorsteinHonsi commented on #9225
`H.each` to `forEach`: aa3c02972762b5274ad7c3fe5c8f2ba93ba8fb78

[2018-10-21 10:41] yunicz opened #9226 "After updating series with indexes one is omitted"
#### Expected behaviour
I have a chart and I would like to update it's series. Each serie has got ID and INDEX specified. After data is fetched from server and chart.update() is called series are updated because each has its unique ID.

#### Actual behaviour
After calling chart.update() one of the new series is ignored. Check attached fiddle. This happens if series in array are not sorted by index

[2018-10-22 08:12] sebastianbochan commented on #9223
Hi @LoranHayden,
This is our tracker to reporting bugs. For general [support](http://www.highcharts.com/support) questions, please use forum / stackoverflow or email.

p.s You should use [categories](https://api.highcharts.com/highcharts/xAxis.categories) which allows you to declare axis labels as strings.

[2018-10-22 08:12] #9223 closed

[2018-10-22 08:30] sebastianbochan commented on #9226
Hi @yunicz,
Thank you for reporting.

**Workaround:**
- Remove all series before update.

Demo:
- https://jsfiddle.net/BlackLabel/46t0udoa/

**Internal note:**
It looks like a problem with `oneToOne` param which does not map indexes properly. When we disable this param, update is the same.

[2018-10-22 09:17] pawelfus commented on #9226
*Internal note:*
Probably caused by these lines:
https://github.com/highcharts/highcharts/blob/76842291e846d41de8027ebc848117cc5986f5ca/js/parts/Dynamics.js#L510-L512

Probably should be `indexMap.push(pick(s.options.index, i))`.

[2018-10-22 10:19] sachinchoolur commented on #9121
Thank you :)

[2018-10-22 10:42] balkarov commented on #9218
@pawelfus hi!
Thank you for your workaround👍

[2018-10-22 11:57] ff-sgupta commented on #9211
By when can we expect a fix for this issue?

[2018-10-22 12:06] ff-sgupta commented on #9211
By when can we expect this issue to be fixed?

[2018-10-22 12:22] ff-rboutotte commented on #9211
Here are the code changes that I have that make this work for us with v5.0.x, not sure if other changes are needed for newer version, but hopefully this will allow this issue to get fixed sooner....

Replace lines 289 - 310 with these lines:
[code]

[2018-10-22 12:58] pawelfus commented on #9211
Thanks @ff-rboutotte for sharing! @ff-sgupta no ETA at this moment.

[2018-10-22 13:00] kfir124 opened #9229 "Zooming doesn't scale Y axis if setExtremes() was called"
#### Expected behaviour
Zooming shall ignore setExtremes(), I would want the Y axis to scale like it would if setExtremes() wasn't called

#### Actual behaviour
After you call setExtremes() zooming the chart will not scale the Y axis at all, after you reset the zoom it returns to the previous scale (ignoring the setExtreme)

#### Live demo with steps to reproduce
http://jsfiddle.net/dqnm6ry0/
Try

[2018-10-22 13:03] kfir124 opened #9230 "Zooming doesn't scale Y axis after setExtremes() call"
#### Expected behaviour
Zooming shall ignore setExtremes(), I would want the Y axis to scale like it would if setExtremes() wasn't called

#### Actual behaviour
After you call setExtremes() zooming the chart will not scale the Y axis at all, after you reset the zoom it returns to the previous scale (ignoring the setExtreme)

#### Live demo with steps to reproduce
http://jsfiddle.net/dqnm6ry0/
Try

[2018-10-22 13:06] kfir124 opened #9231 "Zooming doesn't scale Y axis after setExtremes() call"
#### Expected behaviour
Zooming shall ignore setExtremes(), I would want the Y axis to scale like it would if setExtremes() wasn't called

#### Actual behaviour
After you call setExtremes() zooming the chart will not scale the Y axis at all, after you reset the zoom it returns to the previous scale (ignoring the setExtreme)

#### Live demo with steps to reproduce

Try to zoom (select range) in the

[2018-10-22 13:48] benzmarkus commented on #7885
Version 6.2 is out now but the bug is still open. When is the bug going to be fixed?

[2018-10-22 15:02] #9230 closed

[2018-10-22 15:03] #9231 closed

[2018-10-22 15:22] fiantsev opened #9232 "Second call to chart.destroy fails"
#### Expected behaviour
Multiple invocations to destroy method of chart should be safe

#### Actual behaviour
the second and any further invocations will be failed

![image](https://user-images.githubusercontent.com/25036176/47300809-16895380-d626-11e8-8c36-e373fc15942e.png)

#### Live demo with steps to reproduce
[demo](https://jsfiddle.net/gorjy0x1/2/)
Steps:

1. Load the demo
2. Open the consol

[2018-10-22 15:45] kamilkulig opened #9233 "Data labels are not shown for null points in heatmap"
#### Expected behaviour
In treemap null points are visible thus their data label should be too.

#### Actual behaviour
Highcharts doesn't create data labels for null points due to this piece of code (_DataLabels.js_ file):
[code]

#### Live demo with steps to reproduce
https://jsfiddle.net/BlackLabel/4mh1c650/

#### Product version
6.2.0

[2018-10-22 16:07] KacperMadej commented on #8091
@Yaseen-Nadaf Looks like you are using highcharts-angular wrapper, so please add a live demo and report the issue on the wrapper's GitHub issues page. https://github.com/highcharts/highcharts-angular/

[2018-10-22 16:10] KacperMadej commented on #4160
@terraze Solution here was to disable, so this will not resolve the issue or you could disable 3d manually through option. Adding bar type series for 3d chart is an enhancement suggestion you are looking for. For such cases we are recommending adding a new or vote for an existing idea in our userVoice. The most popular ideas are getting implemented. https://highcharts.uservoice.com/forums/55896-ge

[2018-10-22 16:13] KacperMadej commented on #7885
@cvasseng ☝️

[2018-10-22 21:10] DK-Unit4 opened #9234 "Funnel : inside is not working and when it is inside it is still bold despite fontWeight: normal"
#### Expected behaviour
1. Data label is inside
2. Font is not bold

#### Actual behaviour
1. In version 6.1.14 the label is inside but bold
2. in sample below the data label is not inside (6.2)

#### Live demo with steps to reproduce
https://jsfiddle.net/Kumlander/hbrcpuwj/3/

note I use inside and use style for data label

#### Product version
highcharts 6.2 and 6.1.4

#### Affected browser(s)
C

[2018-10-23 02:30] VBIManonmaniM opened #9235 "Issue with ScrollBar in HighStocks"
#### Expected behaviour
Highstocks trigger the redraw or render function after the scroll bar moved.

#### Actual behaviour
**But I don't want to trigger the redraw or render function after the scroll bar moved**. Because I setting axis maximum value inside the render function.

#### Live demo with steps to reproduce

http://jsfiddle.net/qfhc09z7/

#### Product version

Highstock 6.2.0
#### Affect

[2018-10-23 02:31] VBIManonmaniM commented on #9235
@nsdevaraj Please look tinto the issue.

[2018-10-23 08:08] balkarov commented on #9218
@pawelfus you hack broke chart before drilldown
https://jsfiddle.net/zfseyh75/

[2018-10-23 08:23] akhilj64 opened #9236 "In newly contributed India map with Telangana, the hc-a2 code for Andhra Pradesh and Arunachal Pradesh is same. This will result in a conflict when try to plot data from Json."
**EXPECTED BEHAVIOUR**
Andhra Pradesh, hc-a2: AP,
Arunanchal Pradesh, hc-a2: AR

**ACTUAL BEHAVIOUR**

Andhra Pradesh, hc-a2: AP,
Arunanchal Pradesh, hc-a2: AP

**LIVE DEMO**
Please verify the hc-a2 code for Andhra Pradesh and Arunachal Pradesh in the following example.
http://jsfiddle.net/BlackLabel/jyhLxfb4/

**SOLUTION**
Changing the hc-a2 code of Arunachal Pradesh from "AP" to "AR" will fix th

[2018-10-23 09:10] KacperMadej commented on #4160
Closing as a duplicate of #5508

[2018-10-23 09:10] #4160 closed

[2018-10-23 09:21] Basts opened #9237 "Wrong default values in API reference"
#### Expected behaviour

In API references we can find information that value of navigator handles lineWidth is default equal 7, but in demo below we can notice that it's not true. The same issue is with setting marker radius. API has information that default value for marker radius is 4.

API links:
https://api.highcharts.com/highstock/navigator.handles.lineWidth
https://api.highcharts.com/highch

[2018-10-23 09:40] ff-sgupta commented on #9211
@pawelfus One possible solution

refering boost-canvas.src.js - https://github.com/highcharts/highcharts/blob/master/js/modules/boost-canvas.src.js

Replace line 63-68
[code]
with
[code]

[2018-10-23 10:05] pawelfus commented on #9218
Hi @balkarov

Thank you for testing my solution! You are right, it breaks something else.

**Workaround:**
- https://jsfiddle.net/BlackLabel/ogfrLphv/11/
- http://jsfiddle.net/BlackLabel/d7f5pq3z/26/

Snippet:
[code]

*Internal note:*
It looks like resetting width should be applied only for ellipsis, not for word-wrapping (related to #8210), but I may be wrong.

Related lines:
https://github.com/h

[2018-10-23 10:32] balkarov commented on #9218
@pawelfus thank you for your help!

[2018-10-23 10:33] pawelfus commented on #9232
Hi @fiantsev

Thanks for reporting the issue. I'm not sure if we should place everywhere sanity checks if chart was destroyed - personally I would be really confused (and angry while debugging) that destroyed element is not throwing errors when operation within this object was performed. What do you think @TorsteinHonsi ? It would require additional checking in every public API method. Alternative

[2018-10-23 10:47] pawelfus commented on #9235
Hi @VBIManonmaniM

Thanks for reporting the issue. In `chart.scrollbar` you have an option `liveRedraw` which will call `render` and `redraw` only after mouseup: http://jsfiddle.net/BlackLabel/qfhc09z7/6/

It looks like the same option is broken for `Axis.scrollbar`: http://jsfiddle.net/BlackLabel/qfhc09z7/8/

[2018-10-23 10:59] pawelfus commented on #9229
Hi @kfir124

Thanks for reporting the issue, but I'm not sure if the expected behaviour is really expected. In short:
- `yAxis.setExtremes()` modifies only yAxis extremes
- `zoomType: x` modifies only xAxis extremes
- if yAxis **has no extremes set**, then yAxis rescales, no matter the reason (`addPoint()`, zooming/panning, resizing browser's window etc.)
- reset zoom button resets extremes on all

[2018-10-23 11:09] pawelfus commented on #9234
Hi @DK-Unit4

Thank you fro reporting the issue. I'm not sure if it's not a bug in funnel documentation, as `inside` option is not implemented for funnel (neither for pie chart: http://jsfiddle.net/BlackLabel/h0kj9zcf/). These series (pie, funnel) have [`series.dataLabels.distance`](https://api.highcharts.com/highcharts/series.funnel.dataLabels.distance) option which replaces `inside` option: http

[2018-10-23 11:19] DK-Unit4 commented on #9234
Thank you very much. you are correct it is not a bug: I was mis-leaded by our old code and documentation: you are right : inside have no effect on funnel, and the bold text is also comes from a different place. Sorry for bothering you

[2018-10-23 11:59] pawelfus commented on #9211
Hi @ff-sgupta

Thank you! I have tried this before, it's not a correct solution:

![screen shot 2018-10-23 at 13 54 08](https://user-images.githubusercontent.com/1453926/47358817-30c93d00-d6cb-11e8-9f2f-d7969a798898.png)

Tested with: http://jsfiddle.net/79tmxrn8/18/ (lines 81-94).

[2018-10-23 12:51] fhahne opened #9238 "Y-label hidden despite enough space"
#### Expected behaviour
All Y labels should appear

#### Actual behaviour
Second Y label only appears when zooming in

Please also see HelpDesk case 60951

#### Live demo with steps to reproduce
https://jsfiddle.net/BlackLabel/pL8x21qh/

#### Product version
Highcharts 6.2.0

#### Affected browser(s)
All

[2018-10-23 12:59] balkarov commented on #9218
@pawelfus hello!
Sorry but your hack broke another case
http://jsfiddle.net/tL4aoh8n/

[2018-10-23 13:12] pawelfus commented on #9218
Right! Exclude rotated labels. Demo: http://jsfiddle.net/BlackLabel/tL4aoh8n/3/

[2018-10-23 13:34] balkarov commented on #9218
@pawelfus thanks a lot!

[2018-10-23 13:55] pawelfus commented on #9238
Hi @fhahne

Thank you for reporting the issue. As said by @kamilkulig you can workaround the issue by resetting extremes in `chart.events.load`. Alternative solution is to set [`yAxis.labels.step`](https://api.highcharts.com/highcharts/yAxis.labels.step) to 1, demo: https://jsfiddle.net/BlackLabel/pL8x21qh/12/

*Internal note:*
Caused by these lines:
https://github.com/highcharts/highcharts/blob/b

[2018-10-23 14:50] ff-rboutotte commented on #9211
So further debugging the following code fixes the last issue from what I can tell:
<img width="762" alt="screen shot 2018-10-23 at 8 19 25 pm" src="https://user-images.githubusercontent.com/6979875/47369297-01cdbe00-d701-11e8-941e-d02707eb53f2.png">

[code]

[2018-10-24 08:21] pawelfus commented on #9236
@KacperMadej

[2018-10-24 08:28] KacperMadej commented on #9236
Hi @akhilj64

Thank you for reporting about the problem.

https://www.highcharts.com/docs/maps/map-collection :

According to documentation this is not a bug. Tagging as an enhancement suggestion.

[2018-10-24 08:58] #9234 closed

[2018-10-24 08:58] zelenkoff commented on #7130
What about this issue? Will it fixed? I have the same problem.

[2018-10-24 12:05] scipper commented on #5152
@jessonjoy what was your final solution? something like `chart.tooltip.refresh([this.series.data]);` ?

[2018-10-24 12:25] ivankokan opened #9239 "Idea: Rename series long clicking on its legend item"
#### Expected behaviour
The idea is about improving click handling so that user gets an opportunity to rename series if click is long enough.

#### Actual behaviour
Currently, a common click on a legend item is handled in a way it toggles the corresponding series visibility.

I will try to implement this on my own and submit a PR.

[2018-10-24 13:11] pawelfus commented on #5152
Something like this: http://jsfiddle.net/BlackLabel/w1cv0bgq/157/

[code]

[2018-10-24 13:13] pawelfus commented on #9239
Hi @ivankokan

Thanks for sharing your idea. We gather ideas on our uservoice: https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api and we implement them in core once popularity increases. We use github for bug reports.

[2018-10-24 14:22] ivankokan commented on #9239
Hi @pawelfus

Do I still have freedom to submit a PR when ready?

[2018-10-24 14:30] ivankokan commented on #9239
Idea submitted: https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api/suggestions/35813527-enhance-legend-item-click-handling-so-that-corresp

[2018-10-24 14:51] fiantsev commented on #9232
@pawelfus
i didn't propose to add sanity checks everywhere. The only thing i meant is to add one conditional check at the beginning of the destroy method like this:
[code]

[2018-10-24 15:46] pawelfus commented on #9239
Yes, of course! Feel free to submit PR. Thanks! :)

[2018-10-24 15:50] pawelfus commented on #9232
@fiantsev not everywhere, but every API method, for example `chart.addAxis()`: https://jsfiddle.net/BlackLabel/gorjy0x1/18/ `setSize()`, `setTitle()`, `showLoading()`, `update()` etc. - all of them otherwise will throw error, while `destroy()` not which will be confusing.

[2018-10-24 16:30] KacperMadej commented on #3277
@akhilj64 Thank you for adding this info here.

_Interna note:_ The above comment is a duplicate of #9236

[2018-10-24 18:13] fazelmk commented on #8091
Having the ```TypeError: Cannot read property 'navigator' of undefined``` in exporting module too.
In my case it's caused by webWorker. Worked fine before I add webWorker.

Any ideas on how to get working with webWorker?

I'm using Angular 5 and Highcharts 6.2.0.
And I'm not using the angular wrapper.

[2018-10-24 18:44] tuckergordon opened #9242 "Exporting SVGs with Multiple Y Axes"
#### Expected behaviour
When exporting a chart with two y axes using `getSVG(..)`, the user should be able to apply styles to both axes using something like:

[code]

#### Actual behaviour

Doing the above breaks the `merge` function and results in all options being overwritten except for the new options. For example, the above will result in two y axes each titled "Values" but with the correct si

[2018-10-24 19:17] dusankocurek commented on #9109
Hi Pawel,
unfortunately, I am not able to share the source file.

Here is the config:

       var valueChartConfig = {
            title: {
                text: null
            },
            chart: {
                type: 'sankey',
                backgroundColor: 'transparent',
                animation: {
                    duration: 50
                }
            },
            legend: {

[2018-10-24 19:22] engagex opened #9243 "Error when switching graphic types (Line vs Column)"
#### Expected behaviour
Display the same information in each date for different graphic types.

#### Actual behaviour
Depending on the type of graphic selected (line and column), the following happens:
1) the date range differs (initial and end date)
2) the values get screwed up, just by looking at the graphic scale (using the ALL zoom). In the line version, the scale on the right is 400%, in the

[2018-10-24 19:28] darbelaez commented on #5508
Hi - any updates on when we can expect a fix for this issue? thanks!

![3d](https://user-images.githubusercontent.com/6105269/47456023-66405a00-d7a1-11e8-9411-bd81d4497210.PNG)

[2018-10-24 20:00] offthetwig opened #9244 "Line and area series not rendering correctly."
#### Expected behaviour
I cannot reproduce this problem in Fiddle (I included the example anyway), so I assume that the problem is related to something specific to my application.  The chart should be a simple line, but instead I am seeing the attached image.  I suspect that it is some sort of CSS conflict, but I have not been able to isolate the cause.  I get similar results for an area series bu

[2018-10-24 23:15] alexliu-github commented on #8091
I have the same error return when I run the code locally, using latest react, highcharts and highcharts-react-official

import Highcharts from 'highcharts'
import exporting from 'highcharts/modules/exporting'
import HighchartsReact from 'highcharts-react-official'
exporting(Highcharts)  // App is crashed trigger by exporting function

[2018-10-25 06:41] rajeevsinghchib opened #9245 "Flicker effect for realtime data in firefox and safari browsers"
#### Expected behaviour
No flicker, when realtime data is updated

#### Actual behaviour
Flicker in firefox and safari browsers, while working fine in chrome.

#### Live demo with steps to reproduce
http://jsfiddle.net/kkulig/7u6ozqg8/

#### Product version
HighChart, HighStock, Boost 6.2.0

#### Affected browser(s)
Firefox and Safari

[2018-10-25 09:39] berdejitendra14 commented on #3444
Hi Team,

I am facing the same issue and legendItemClick does not work as expected. Also, the example shared by @pawelfus also fires an event. Does anyone have a solution to this?

[2018-10-25 09:39] pawelfus commented on #9244
Hi @offthetwig

Thank you for reporting the issue. Unfortunately, without live demo we can only guess what is wrong. This can be a CSS issue, like `fill` option set somewhere in your code: https://jsfiddle.net/BlackLabel/LLExL/13265/

[2018-10-25 09:44] pawelfus commented on #9243
Hi @engagex

Thanks for reporting the issue. This is expected behaviour when [`dataGrouping`](https://api.highcharts.com/highstock/series.line.dataGrouping.enabled) is used. Columns require more space as per [`groupPixelWidth`](https://api.highcharts.com/highstock/series.line.dataGrouping.groupPixelWidth) option so you see grouped columns, while non-grouped line series. You can disable `dataGroupi

[2018-10-25 09:44] #9243 closed

[2018-10-25 09:50] berdejitendra14 opened #9246 "Highcharts Bug - clicking on legend item in heatmap with use of colorAxis > dataClasses & legendItemClick not fired event."
#### Expected behaviour
http://jsfiddle.net/2mvfgh99/20/
Above jsfiddle has Highcharts heatmap example integrated heatmap graph with colorAxis property and it showing corresponding legends.
By clicking of legend items, we don't want to fire an event which hides a range of heat blocks on the graph.

#### Actual behaviour
By clicking of legend items, it hides a range of heat blocks on the graph.

##

[2018-10-25 09:55] drmrbrewer opened #9247 "dataLabels bug in HC 6.2.0?"
I think this must relate to changes made to add the new feature "Added support for multiple data labels on each single point" in 6.2.0.

I'm getting the error:

    Uncaught TypeError: Cannot read property 'options' of undefined

The problem occurs in the following bit of HC code:

    each(dataLabels, function (label) {
        var options = label.options; // <---- label is undefined here

[2018-10-25 09:55] pawelfus commented on #9242
Hi @tuckergordon

Thanks for reporting the issue! You are right, the issue comes from `merge()` method in the core, which does not merge arrays, but instead replaces items in those arrays.

### Live demo:
http://jsfiddle.net/BlackLabel/924npmts/

And simplified to `merge()` case: http://jsfiddle.net/BlackLabel/vktae0hd/

*Internal note:*
Actually it's the same issue as #2439 - just different use c

[2018-10-25 10:07] pawelfus commented on #3444
*Internal note:*
Comment above reported as #9246

[2018-10-25 11:00] pawelfus commented on #9246
Hi @berdejitendra14

Thanks for reporting the issue. As described in #3444, there's no `colorAxis.dataClasses.event.legendItemClick`. Only `colorAxis.events.legendItemClick` bound to colorAxis without dataClasses: http://jsfiddle.net/BlackLabel/2mvfgh99/25/

I agree, these events should be supported in `dataClasses`. Simple plugin to add this functionality to the core: http://jsfiddle.net/BlackLab

[2018-10-25 11:01] pawelfus commented on #3444
Hi @berdejitendra14

Please see my answer #9246 I was working for a workaround for you..

[2018-10-25 11:16] pawelfus commented on #9247
Hi @drmrbrewer

Thanks for reporting the issue. You are right, it used to work in v6.1: https://jsfiddle.net/BlackLabel/jbhgkze2/5/

**Workaround:**
Instead of returning `null`, return empty string: https://jsfiddle.net/BlackLabel/2pq3fzhg/

[2018-10-25 11:32] raf18seb opened #9248 "Parallel Coordinates doesn't scale y-axes when hiding/showing series"
Expected is that Parallel Coordinates scales y-axes after hiding or showing the series but it's not happening.
https://jsfiddle.net/BlackLabel/7Lyg9oz1/

Workaround:
https://jsfiddle.net/BlackLabel/6a2wr9xj/

#### Product version
6.2.0

[2018-10-25 11:36] drmrbrewer commented on #9247
I tried returning blank strings already, but the problem is that I am using boxes around the labels, so they appear around the blank labels.

[2018-10-25 12:04] pawelfus commented on #9109
Could you try to recreate issue in any sandbox? Your config looks fine. Without a live demo we can not debug and fix the issue.

[2018-10-25 12:12] pawelfus commented on #7130
Hi @zelenkoff could you try this workaround? It's rather simple solution.

[2018-10-25 12:19] totszwai opened #9249 "plotOptions.pie.minSize is gone/not working"
#### Expected behaviour
Expected minSize on pie chart to work

#### Actual behaviour
minSize on pie chart does not work...

#### Live demo with steps to reproduce
http://jsfiddle.net/totszwai/xr7wqpn1/

The code or variable related to minSize is completely gone??
https://github.com/highcharts/highcharts/blob/aa70c5786/js/parts/PieSeries.js#L284-#L294

[2018-10-25 12:47] sebastianbochan commented on #9173
Hi @ru-web-designer,
I apologize for my late reply, the notification was missing. Regarding to your issue, now I see where the problem is. So, please set minRange as 1 day (time in miliseconds) in the xAxis object.

Demo:
- http://jsfiddle.net/BlackLabel/1gxwc2yz/

Docs:
- https://api.highcharts.com/highcharts/xAxis.minRange

[2018-10-25 12:54] pawelfus commented on #9245
Hi @rajeevsinghchib

Thank you for reporting the issue! I'm able to reproduce this in Safari v11.1.2. Latest Chrome is fine.

@cvasseng - could you take a look? For me it looks like a duplicate of #6751

[2018-10-25 13:03] pawelfus commented on #9249
Hi @totszwai

[`minSize`](https://api.highcharts.com/highcharts/series.pie.minSize) option is available and is `80px` as docs says:

Note this `minSize` is not about minimum size for the container, but for the pie to not decrease pie size more than 80px when dataLabels are **enabled**. Take a look: http://jsfiddle.net/BlackLabel/xr7wqpn1/11/

[2018-10-25 13:03] #9249 closed

[2018-10-25 13:13] KacperMadej commented on #8091
@fazelmk @alexliu-github
This error could be seen when exporting module doesn't have the same version as Highcharts. Please try loading .src.js instead of .js files to use not minified code and if you could create a live demo then it would be great. Version of Highcharts could be checked using Highcharts.version, but for modules the info about version is only in a comment at the beginning of each

[2018-10-25 13:19] KacperMadej commented on #5508
_Internal note:_ Planned for version 7 as https://github.com/highcharts/highcharts/blob/762c6f2d87fea4442b4c9a116ce6dbff669a0a47/js/parts-3d/Column.js#L343-L350

[2018-10-25 13:45] fazelmk commented on #8091
@KacperMadej In my case I think it's just the lack of a DOM. As webWorkers execute in a different process then the DOM the exporting module don't have access to it and therefore raise the error.

[2018-10-25 14:04] offthetwig commented on #9244
Thank you so much for your very prompt reply.  Since I could not reproduce the problem outside of my application, the best I could hope for was what you provided.  You have provided me with a great start.
 I will let you know what I find.

Thanks

[2018-10-25 14:04] #9244 closed

[2018-10-25 15:32] zelenkoff commented on #7130
Hi, @pawelfus! Thank you, it's works for me.

[2018-10-25 16:00] KacperMadej commented on #6943
It looks like current behavior is to fire both old and new events. Master branch doesn't change anything as far as we (I use more "we" in this comment - I usually mean @pawelfus and me) could test this.

This is a bigger problem for wrappers for Angular / Vue / React where chart.update is used with all options each time. cleanRecursively could help in this case, but it looks like it will break mor

[2018-10-25 16:42] bre1470 commented on #6943
@KacperMadej If we can not find a simple solutions for this, we have to implement the old behaviour and may not use test templates for unit tests with events (similar to cases with overloads). But this also means that you can **not** add additional series with events after the initial chart options, because existing ones get destroyed at the same time.

[2018-10-25 19:04] totszwai commented on #9249
Shouldn't be the same behavior then for when legend is there? `minSize` is not working for legends.
https://jsfiddle.net/totszwai/s57t0x93/

[2018-10-25 20:11] alexliu-github commented on #8091
**@KacperMadej**
Thank you for your explanation, I understand what caused the error message, I am able to get it working and move forward.

[2018-10-25 20:53] offthetwig commented on #9244
Hi @pawelfus

Found a workaround but not the specific cause.  For whatever reason the minified version is not working in the context of my application.  When I replace the minified version with the clear text version, the line based series are rendered correctly.

Thanks again for your help with this.

[2018-10-26 08:23] Abrissirba opened #9250 "Can't set xAxis min max if panning"
#### Expected behaviour
In a chart where I have panned, I want to be able to set xAxis min and max manually in code later.

#### Actual behaviour
If I have panned, I can no longer update the graphs xAxis with xAxis.update({ min:..., max: ...})

#### Live demo with steps to reproduce
https://jsfiddle.net/bLu1645x/
If no panning has been made and you click on Update X-Axis, that chart will show anot

[2018-10-26 08:42] pawelfus commented on #9249
@totszwai legend decreases plotting area in a chart, while `minSize` limits pie chart only for dataLabels within the plotting area. `minSize` was added when we decided to decrease pie size to make some space for dataLabels - with `minSize` we could limit how small pie chart should be because of the dataLabels.

[2018-10-26 08:46] pawelfus commented on #9244
That's strange. Which files do you load (and how)?

[2018-10-26 08:47] pawelfus commented on #6943
@bre1470 Could you create an example? For example in jsFiddle? The more details about the issue, the better solution later. Thanks!

[2018-10-26 08:59] pawelfus commented on #9250
Hi @Abrissirba

Thanks for reporting the issue. I'm not sure if this is a bug, but certainly this should be explained in docs. `panning` internally uses `setExtremes()` which stores information about current extremes, set by user. These extremes have the highest priority when deciding extremes (data extremes < options extremes < user extremes), so later when you update `xAxis.options.min`, user ex

[2018-10-26 09:16] Abrissirba commented on #9250
Thanks Pawel,

I agree that at least a note in the docs about this behavior would be nice. It was a bit confusing until I found out the why the update worked sometimes and sometimes not. setExtremes worked like a charm :)

I do update some more properties of the xAxis at the same as I set the extremes so for my use case it would be nice to be able to set the extremes in update aswell.

[2018-10-26 10:28] yunhyel opened #9251 "change chart type to treemap after Drilldown cause Error"
change chart type to treemap after Drilldown cause Error...
Is it impossible for latest version?

http://jsfiddle.net/175t76qw/239/

[2018-10-26 11:24] #1574 closed, assigned to nobody

[2018-10-26 11:34] kutensky opened #9252 "Add removeAnnotation by annotation object method"
Currently you can remove annotation by calling **removeAnnotation(id)** method, where **id** is some value that was passed in options object during creation of **Annotation** object.
First of all, you don't want to set id for each annotation.
Second, you can't set id for **Annotation**'s object using **.Net Highsoft** library. There is no Id property in that library.

Good solution would be to add

[2018-10-26 12:06] pawelfus commented on #9252
Hi @kutensky

Thank! We agree, that would be useful. In general, ideas should be created in our [UserVoice](https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api).

Actually this will be supported in v7: http://jsfiddle.net/BlackLabel/dywLou0r/

Thanks for reporting missing `id` for annotations in .Net extension!

[2018-10-26 12:18] kutensky commented on #9252
Great news about v7. Thanks for you response.

[2018-10-26 14:02] pawelfus commented on #9211
Thanks @ff-rboutotte - your code looks good! Implemented and PR'ed.

[2018-10-26 14:07] rriixx commented on #9232
@pawelfus

I faced the same exception being thrown while calling `chart.destroy()` twice.
Just checking `if (chart) { chart = chart.destroy() }` is not enough.
After the chart is destroyed call `destroy()` again and `chart` is giving you an empty object `a.Chart {}` which results in a truthy condition.

[2018-10-26 14:11] offthetwig commented on #9244
I load highcharts by itself or before other highcharts modules as follows.  Either way the result is the same:

<link href="css/highcharts.css" rel="stylesheet">
...
<script src="js/highcharts/highcharts.js"></script>
<script src="js/highcharts/histogram-bellcurve.js"></script>
<script src="js/highcharts/exporting.js"></script>
<script src="js/highcharts/offline-exporting.js"></script>
<script src

[2018-10-26 14:34] pawelfus commented on #9244
Are you sure you load correct files? Do you load styled-mode or just JS version? In the second case, css file is redundant. Maybe you accidentally mixed modules (some for JS version, others for CSS mode). I would suggest to load library once again and replace files, if that fixes the issue then above is correct.

[2018-10-26 14:36] pawelfus commented on #9232
Hi @rriixx
It's not, `destroy()` returns undefined not an empty object. See: https://jsfiddle.net/BlackLabel/gorjy0x1/20/

Maybe you did `if (chart) { chart.destroy() }` not `if (chart) { chart = chart.destroy() }`

[2018-10-26 14:37] offthetwig commented on #9244
I will take another look.
Thanks again.

[2018-10-26 15:06] offthetwig commented on #9244
That was the issue.  I apologize for bothering you with this.  I had not found the documentation until you pointed out that there was a difference.  Thank you very much for your help.

[2018-10-26 15:37] KacperMadej commented on #7050
Closing due to inactivity.
If you are able to recreate the issue please leave a comment and the issue could be reopened.

[2018-10-26 15:37] #7050 closed

[2018-10-26 15:37] KacperMadej commented on #8162
Closing due to inactivity.

[2018-10-26 15:37] #8162 closed

[2018-10-26 15:38] KacperMadej commented on #8750
Closing due to inactivity.

[2018-10-26 15:38] #8750 closed

[2018-10-26 15:38] KacperMadej commented on #8940
Closing due to inactivity.

[2018-10-26 15:38] #8940 closed

[2018-10-26 15:41] KacperMadej commented on #8756
Closing due to inactivity.

[2018-10-26 15:41] #8756 closed

[2018-10-26 15:41] KacperMadej commented on #8779
Closing due to inactivity.

[2018-10-26 15:41] #8779 closed

[2018-10-26 15:54] KacperMadej commented on #8091
@fazelmk In such case you could load module (`import * as HC_exporting from 'highcharts/modules/exporting';`), but postpone initialization (`HC_exporting(Highcharts);`) until DOM is available or do both, load and init, later when it will have DOM accessible.

[2018-10-26 16:37] Kartiki-Sahu-InfoCepts commented on #9213
Hi @pawelfus

PFA live demo for the above issue
https://jsfiddle.net/kartiki/gfmvhkr9/52

Issue :
If boostThreshold is made 0,
chart renders correctly but the boost module does not have any effect on it, the rendering time is same as previous,
and as soon as it is made greater than it, it's height reduces to almost negligible

[2018-10-26 17:22] lumberg72 opened #9255 "Plot Bands/Lines only appear for first axis"
#### Expected behaviour
I would expect plot bands and plot lines to appear for each axis they are configured on.

#### Actual behaviour
Only the ones in the first axis appear.

#### Live demo with steps to reproduce
https://jsfiddle.net/91cw67uv/
Here you'll notice that the orange plot band on the 2nd y-axis does not render.

#### Product version
6.2

#### Affected browser(s)
Chrome

[2018-10-26 21:03] dpgalloway commented on #9058
Running into the same exact issue. Also very interested in any workaround as we'd like to test our components that use Highcharts.

[2018-10-29 02:55] xcqwan opened #9258 "treemap render emtpy-string label wrong"
#### Expected behaviour

#### Actual behaviour
https://jsfiddle.net/gc3rx9fo/

#### Live demo with steps to reproduce

#### Product version

6.2.0
#### Affected browser(s)

[2018-10-29 08:39] #9211 closed

[2018-10-29 08:40] #9252 closed

[2018-10-29 08:51] #9214 closed

[2018-10-29 09:18] TorsteinHonsi commented on #9258
_Internal note_:
Since v6.2.0 we give each point an `id` internally. This conflicts with the default data label formatter: https://github.com/highcharts/highcharts/blob/v6.2.0/js/modules/treemap.src.js#L174

@jon-a-nygaard Does it make sense at all to use the `point.id` in the datalabel? If so, we could use `point.options.id`, otherwise remove it.

[2018-10-29 09:36] TorsteinHonsi commented on #9258
#### Workaround
Set an explicit `dataLabel.format`: https://jsfiddle.net/highcharts/gc3rx9fo/1/

[2018-10-29 10:07] #9247 closed

[2018-10-29 11:00] KacperMadej commented on #9251
Hi @yunhyel

Thank you for reporting about the problem.

On drilldown axes extremes are changed, because of how treemap series interacts with axes. The easiest solution here is to add different axes (xAxis and yAxis) for treemap series. Demo: http://jsfiddle.net/BlackLabel/2xzuyrcw/

[2018-10-29 11:50] jon-a-nygaard commented on #5508
I changed the label from bug to enhancement, since 3D bar series is not officially supported in Highcharts.

[2018-10-29 12:04] TorsteinHonsi commented on #9255
Thanks for writing!

It works, but there were a couple of configuration issues:
* The missing plot band is on the third axis. The purple one on the second axis does show.
* The third axis had no series assigned to it, so it didn't show.
* When assigning a series to it, the plot band was outside the scope.
* When changing the plot band `from` and `to`, it works as intended: https://jsfiddle.net/hig

[2018-10-29 12:04] #9255 closed

[2018-10-29 12:42] TorsteinHonsi commented on #6782
#### Workaround

So there are two problems here: First, the Highcharts bounding box cache is not cleared. Second, the chart is updated before the web fonts are loaded, thereby applying a premature bounding box.

It seems like the first problem is fixed by @nedimg's workaround above, white the second one can be fixed by using the [Web Font Loader](https://github.com/typekit/webfontloader#readme) li

[2018-10-29 13:02] jon-a-nygaard commented on #9258
@TorsteinHonsi If I remember correctly, it was done as a conveniece to avoid having to set both `id` and `name`. However I believe this was a mistake, and it is probably better to just look for only `name`, especially after the recent changes.

Will submit a PR soon to correct it.

[2018-10-29 14:58] KacperMadej opened #9262 "API docs - broken link"
Caused by broken line at:
https://github.com/highcharts/highcharts/blob/942f67b85b6b81d297f242d012039344865b729b/js/modules/data.src.js#L34-L35

The link in API reference doesn't work correctly - https://api.highcharts.com/highcharts/data

[2018-10-29 16:19] KacperMadej commented on #9213
Hi @Kartiki-Sahu-InfoCepts

The demo you have provided seems to be acting as Paweł mentioned:

You have wrote "Gives an error if the stacked bar chart have bars with moderate width and bulky data" - please let us know what error do you have - is it an error in browser console? I was unable to recreate anything that could be a bug.

I'm attaching downloaded chart from your demo - it looks for me th

[2018-10-29 17:35] rriixx opened #9265 "How to affect candlestick color-up/color-down classes"
I'm trying to find out how to affect the candlestick classes `highcharts-point-down` and `highcharts-point-up`.
In my screenshot you can see that candles which four values (open, high, low, close) are equal, got the class `highcharts-point-down` applied which is red in my case.
<img width="949" alt="screenshot 2018-10-29 at 18 26 35" src="https://user-images.githubusercontent.com/7082458/47668241-

[2018-10-29 20:00] anselmbradford opened #9266 "Setting map navigation buttons text positions"
I don't see a way via the API to position the text inside the map navigation buttons. I have these buttons:

<img width="57" alt="screen shot 2018-10-29 at 3 55 11 pm" src="https://user-images.githubusercontent.com/704760/47676461-11cb1f00-db93-11e8-8971-9d50e1fe1e11.png">

I can position them with:

[code]

However, both buttons have the same parent CSS classes:

<img width="292" alt="screen shot

[2018-10-29 20:02] anselmbradford commented on #9266
Heeeey, well, staring at that I realized the zoom in button has `.highcharts-button-normal`, which the zoom out button does not have. But it still seems like they should each have specific classes.

[2018-10-30 01:36] yunhyel commented on #9251
OMG thank you for perfect answer

[2018-10-30 04:13] yunhyel opened #9267 "variwide drilldown to treemap error"
I want to see treemap chart after drilldown in variwide chart.
is this error related to axis? How can I fix it...?

my code is here
https://jsfiddle.net/c2dtqfn3/9/

[2018-10-30 06:14] #9251 closed

[2018-10-30 06:53] yunhyel opened #9268 "in detail graph, chart update (type to treemap) error when click"
I want to change the detail chart type to treemap (after click the point)
but error 17 "The requested series type does not exist" occurs
Is it impossible?

this is my code
https://jsfiddle.net/g572czrh/8/

[2018-10-30 09:45] sebastianbochan commented on #9265
Hi @rriixx,
Thank you for contacting us. This is our bug tracker so for general [support](http://www.highcharts.com/support) questions please use forum / stackoverflow or forum.

[2018-10-30 09:45] #9265 closed

[2018-10-30 09:50] sebastianbochan commented on #9268
Hi @yunhyel ,
Thank you for contacting us. This is our bug tracker so for general [support](http:/www.highcharts.com/support) questions please use forum / stackoverflow or forum.

[2018-10-30 09:50] #9268 closed

[2018-10-30 09:51] sebastianbochan commented on #9267
Hi @rriixx,
Thank you for contacting us. This is our bug tracker so for general support questions please use forum / stackoverflow or forum.

[2018-10-30 09:51] #9267 closed

[2018-10-30 09:54] sebastianbochan commented on #9267
Hi @rriixx,
Thank you for contacting us. This is our bug tracker so for general support questions please use forum / stackoverflow or forum.

ps. The error appears, because you refer to xAxis:1 and yAxis:1. Both option mean that you declared array for each axis and you have at least two axis for x and y (axis are indexed from 0). I fixed it here: https://jsfiddle.net/BlackLabel/v8fdLe9n/ but in th

[2018-10-30 10:01] nilsm0hr commented on #8364
We are experiencing the same issue in Google Chome (v 64 and v 69) on Windows 7 32 bit with a fairly old Intel Pentium G630 with second Gen HD Grafics.

The boost samples/demos and my own code fails in Chrome, but it works in internet explorer.
I also tried the Override software renderig list setting in Chrome without success.

Is that just a hardware issue? Or is there a different cause hidden so

[2018-10-30 10:18] #9216 closed

[2018-10-30 10:18] #9262 closed

[2018-10-30 10:21] cvasseng commented on #8364
@nilsm0hr could you try to use this version of the module https://github.highcharts.com/bugfix/boost-shaderfixes/modules/boost.js and see if you're still getting the error?

[2018-10-30 10:44] nilsm0hr commented on #8364
@cvasseng Hi, build this fiddle https://jsfiddle.net/x5onbakq/ and unfortunately still the same error.
![pastedimage](https://user-images.githubusercontent.com/25453204/47712832-b2bbe780-dc30-11e8-97b7-69aced024555.png)

[2018-10-30 10:55] cvasseng commented on #8364
@nilsm0hr thanks for testing. I've tried something else now - does the fiddle still give you issues if you reload it?

I suspect this is a driver problem and/or an issue with the GLSL->HLSL transpiler. I am unable to reproduce it here, so it may require a bit of back and forth to get to the bottom of it.

[2018-10-30 11:05] nilsm0hr commented on #8364
@cvasseng As I said, we are running on old hardware, however the demo here (https://get.webgl.org/) works. Would the chrome://gpu help? Or any other suggestions to simplify the process?

I did a empty cache and hard reload on the fiddle but still the error message.

[2018-10-30 11:43] KacperMadej commented on #7266
+1

[2018-10-30 11:44] KacperMadej commented on #8735
+1

[2018-10-30 11:51] ppotaczek opened #9269 "Gantt: Problems with axis grid update"
#### Expected behaviour
`chart.update()` should work properly.

#### Actual behaviour
Error with `oneToOne` flag:
`Uncaught TypeError: Cannot set property 'index' of undefined`

Error without `oneToOne` flag:
`Uncaught TypeError: Cannot read property 'uniqueNames' of undefined`

#### Live demo with steps to reproduce
https://jsfiddle.net/BlackLabel/8sxraqdp/

Click 'update' button.

#### Product v

[2018-10-30 11:57] Denyllon opened #9270 "Series object is `null` after chart render in Gantt chart."
#### Expected behaviour

Series object shouldn't be equal to `null`

#### Actual behaviour

If chart options object is assigned to a variable (not directly passed into the `ganttChart` constructor), then after chart rendering, the series object is equal to `null`. It adversely affects work of wrappers for example, because all of them bases on updating the data stored in component or state.

#### L

[2018-10-30 12:15] oysteinmoseng commented on #9156
CSV/XLS downloads should now open in a new tab on iOS, and can be downloaded from there

[2018-10-30 12:16] vishavgandotra opened #9272 "Not able to disable ScrollabarPlotArea.minWidth while drillDown"
Hi,
I was implementing Drilldown with its parent chart have ScrollbarPlotArea Settings, but Iwant to disable it dynamically while doing drillDown. I have tried it by creating a function with property this.userOptions.chart.scrollablePlotArea.minWidth = 0. But on drillDown, it is not affecting.

Can you help me out, please,
Thank you.

[2018-10-30 12:55] bre1470 commented on #6943
@pawelfus Sorry, I can not anymore. In the unit tests are no event tests using templates, so I have no idea, what exactly was going wrong back then. If you think events should be removed during an update, then an undo is fine for me. Just do not use the template system then. It relies on a proper update behaviour.

[2018-10-30 12:58] Basts opened #9274 "Updating chart.data - removing point"
#### Actual behaviour
While updating chart.data object - every first point is being removed from each series.

#### Live demo with steps to reproduce
[jsFiddle](http://jsfiddle.net/Bastss/toLvzghd/)
[Google Spreadsheet](https://docs.google.com/spreadsheets/d/1eK264_It9ezV8g1Ah_PROiOiOMkKg3KYszvcNHbjso0/edit#gid=0)

#### Product version
Highcharts 6.2.0

#### Affected browser(s)
All

[2018-10-30 13:42] totszwai opened #9275 "labels's step option ignored showLastLabel"
#### Expected behaviour
Axis label's step option should respect showLastLabel option

#### Actual behaviour
label's step option ignored showLastLabel option

#### Live demo with steps to reproduce
http://jsfiddle.net/totszwai/0tc2n3zd/

#### Product version
6.1.4

#### Affected browser(s)
All

[2018-10-30 14:43] ppotaczek opened #9276 "Arearange with dashStyle - Low performance after zoom"
#### Expected behaviour
The chart should work efficiently with all dash styles.

#### Actual behaviour

http://jsfiddle.net/BlackLabel/s5k7wmop/

Try zooming few times and tooltip will work slower and slower.

#### Product version
Highcharts v6.2.0

#### Affected browser(s)
All

[2018-10-30 14:44] cvasseng commented on #8364
@nilsm0hr sure, the report from chrome://gpu could be helpful. You can send it to support@highcharts.com if you're not comfortable sharing it here.

Thanks!

[2018-10-30 16:56] anselmbradford commented on #9266
@KacperMadej Here's a [demo](http://jsfiddle.net/38bx5ufm/1/) showing that the styles can be adjusted for the buttons, breaking the layout.

[2018-10-30 18:52] totszwai commented on #7920
@TorsteinHonsi
Can't reproduce it for now, we did an upgrade to a newer version of highcharts along with some workaround with the formatter I think, seems to be ok now. Thanks!

[2018-10-30 20:51] GeorgeKnap commented on #6427
I'm starting to use Highcharts and I've run into this as well.
What I don't get is the chart is actually `SVG`. So there should not be any problem to put it to 100% size. Instead it looks like the width & height is explicitly set directly to svg.

![capture](https://user-images.githubusercontent.com/11920691/47749694-f1cc5600-dc8d-11e8-9b72-bd58e6319074.PNG)

[2018-10-31 01:05] oblivione81 commented on #8160
I'm experiencing the same issue in styled mode. Any news on this?

[2018-10-31 08:59] KacperMadej commented on #9272
Hi @vishavgandotra

I'm unable to recreate the issue.
Please add a live demo for the problem.

[2018-10-31 09:05] nilsm0hr commented on #8364
Just send the report to the provided mail.

[2018-10-31 09:42] sebastianbochan commented on #9274
Hi @Basts,
Thank you for reporting. It looks like a bug.

Simplified demo:
- http://jsfiddle.net/BlackLabel/4dwsf6bn/

Its a regression since 6.1 version.

**Workaround**
Use jQuery and data module: v6.0.7.
Demo:
- http://jsfiddle.net/BlackLabel/0dug69w8/

**Internal note**
Bisect leads me to https://github.com/highcharts/highcharts/commit/5182f43

@oysteinmoseng

[2018-10-31 10:05] #9258 closed

[2018-10-31 10:06] oysteinmoseng commented on #9274
@TorsteinHonsi

[2018-10-31 10:11] KacperMadej commented on #9275
Hi @totszwai

`step` option logic runs after `showLastLabel`, so if `step` will hide the label then state based on `showLastLabel` option will be overridden. It's possible to additionally hide last label using `showLastLabel` - [demo](http://jsfiddle.net/BlackLabel/0tc2n3zd/2/), but not other way around.

Here's a workaround (`step` logic runs first and after that `showLastLabel` or `showFirstLabe

[2018-10-31 10:25] jon-a-nygaard opened #9277 "Add support for series.grouping in treegrid axis"
#### Expected behaviour
Treegrid axis should support [`series<type>.grouping: false`](https://api.highcharts.com/highcharts/plotOptions.column.grouping) to allow multiple series to be drawn on the same line and potentially overlap.

A potential workaround to achieve this is to [use only one series and have a custom formatter](https://jsfiddle.net/jon_a_nygaard/3dy0bgsx/).

#### Actual behaviour
Wh

[2018-10-31 10:36] KacperMadej commented on #6427
Hi @GeorgeKnap

Could you provide a live demo with Highcharts and a non-Highcharts SVG to show what do you have in mind? How will this influence scaling and pixel precision of sharp rendering?

[2018-10-31 10:38] Basts commented on #9274
Further to this bug - switching between worksheets not working properly.

[jsFiddle](http://jsfiddle.net/Bastss/yx83qa4m/4/)

[2018-10-31 11:46] #9270 closed

[2018-10-31 11:56] #9156 closed

[2018-10-31 12:08] TorsteinHonsi commented on #9276
The low performance is probably due to the complexity of the path itself.

#### Workaround
Set a lower [cropThreshold](https://api.highcharts.com/highcharts/plotOptions.arearange.cropThreshold) so that the browser doesn't have to render data that is outside the plot area: http://jsfiddle.net/highcharts/qhbajx4r/7/

[2018-10-31 14:44] oysteinmoseng opened #9278 "Dragdrop issues on mobile"
The official dragdrop module fails on mobile. Try dragging or resizing points in the official demos.

#### Live demo with steps to reproduce
https://www.highcharts.com/gantt/demo/interactive-gantt
https://www.highcharts.com/samples/view?path=highcharts/dragdrop/resize-column
https://www.highcharts.com/samples/view?path=highcharts/dragdrop/drag-xrange

[2018-10-31 17:50] oblivione81 commented on #8160
Update: I made some progress to enable ellipsis for data labels in styled mode.

http://jsfiddle.net/b0fo1wcr/
(Please resize the window to see the ellipsis work correctly.)
I still don't know why the initial state of the data labels bounding box is incorrect, which is causing the ellipsis to initially not work. Is this possible to work that around by triggering a reflow of the chart somehow?

Wha

[2018-10-31 18:48] anselmbradford commented on #9266
Could be, but that demo appears to be making larger buttons overall. I don't want larger buttons, I want a larger font size in the buttons, and when the font size is increased they don't lay out correctly.

[2018-10-31 19:13] k-dauda commented on #8160
The workaround I used was to make the width of the dataLabel smaller than it's bounding box.
http://jsfiddle.net/b0fo1wcr/4/

[2018-10-31 19:35] f1ghtingfalcons opened #9280 "Series Sometimes disappears when x-axis height changes"
#### Expected behaviour
Series at bottom of plot should always be rendered even after changing the x axis label formatters.

#### Actual behaviour
On occasion when you are zoomed in on a section of the plot and you change the height of the x-axis labels the series with values at 0 disappears.

![image](https://user-images.githubusercontent.com/3945430/47813532-03a30d00-dd11-11e8-87bc-edfd6036f8f4.

[2018-11-01 07:20] ly564205400 opened #9281 "canvas"
#### Expected behaviour

#### Actual behaviour

#### Live demo with steps to reproduce

#### Product version

#### Affected browser(s)

[2018-11-01 07:38] #9281 closed

[2018-11-01 07:59] GeorgeKnap commented on #6427
@KacperMadej
well, svg is a vector graphics. That means putting SVG width and height to 100% should not have any bad effect on rendering, correct me if i'm wrong.

I managed to override the inner `svg` element width CSS:
[code]

It works reasonably well now.

[2018-11-01 13:03] #9278 closed

[2018-11-01 13:47] henkli opened #9284 "Half pie dataLabel is placed incorrectly after updating distance from positive to negative"
#### Expected behaviour
Updating the distance of the point in pie from positive to negative should move dataLabel inside the pie.

#### Actual behaviour
When updating distance of dataLabel for point in half-pie from positive (e.g. 20) to negative (e.g. -20), the dataLabel is (sometimes) placed outside the pie (not inside the pie, as one would expect with a negative distance).

#### Live demo with

[2018-11-01 15:05] Abrissirba opened #9285 "Not possible to reset zoom when toggling navigator"
#### Expected behaviour
If the navigator is turned off I expect to be able to zoom and reset the zoom level.

#### Actual behaviour
I'm not able to reset zoom if I turn the navigator off

#### Live demo with steps to reproduce
http://jsfiddle.net/20pjhd9a/
1. Zoom the chart
2. Turn off the navigator by clicking on "Toggle navigator"
3. Zoom once again
4. No "Reset zoom" button available

#### Prod

[2018-11-01 16:04] kfir124 opened #9286 "Way to add delay before tooltip is showing up"
It is less than an issue and more of a feature request (or maybe it exists and I didn't see it on the docs)

Is there a way to have some delay before the highcharts tooltip is showing up? right now it is instant.

I would want to configure it like I can configure `hideDelay: 250`

For example I would expect `showDelay: 1000`

From google searching it seems that at least around 5-2 years ago the on

[2018-11-01 19:33] fazelmk opened #9287 "Problem when dynamically Loading data and setting the navigator"
#### Expected behaviour

afterSetExtremes called once

#### Actual behaviour

afterSetExtremes called infinite times until you manually change the zoom

#### Live demo with steps to reproduce
http://jsfiddle.net/1kbeuLrn/3/

#### Affected browser(s)
Chrome and Firefox have the problem ( didn't try others )

I need to set the navigator dynamically because I have multiple series and they are not loa

[2018-11-02 10:18] tejaspchordiya commented on #8890
I agree with @mbrodala what he says:

We use RequireJS to load Highcharts library. I think, the earlier method to simply require `highcharts` to get the `Highcharts` object injected is better, because the current state is confusing as well as restricting users like us to upgrade to latest version of Highcharts.

[2018-11-02 12:37] DineshkumarVellingiri22 opened #9288 "c3.js like customization"
Hi,
  First of all its prominent wish to use this flawless charts package. Thanks for this wonderful library as always.
   My questions are:
  1. **Can we have the feature to create charts with multiple rows and columns (Drag and drop rows and columns) Example reference is C3.js**

  2. Can we customize the rows and columns based on the user inputs (Which and which rows and columns he/she likes to

[2018-11-02 14:00] galdeguer opened #9289 "Wordcloud with Drilldown"
Hi,

I'm trying to do a wordcloud with drilldown, but I don't know if it's possible or if I'm doing something wrong. Is there any way to do it?

**Live demo**: https://jsfiddle.net/Naimikan/se2da6rz/
**Highcharts version**: 6.1.1

Thanks!

[2018-11-02 18:29] KacperMadej commented on #9266
Padding could be used for further adjustments - http://jsfiddle.net/BlackLabel/q7jrsnh9/1/

[2018-11-02 18:46] KacperMadej commented on #6427
Thank you for sharing the solution.

The problem with scaling SVG is that this could cause blurry rendering as pixel precision could be lost. Another issue for a general Highcharts solution is support for legacy browsers (it's not a blocker, we'll just need to be sure that we have a proper polyfill).

[2018-11-02 20:04] anselmbradford commented on #9266
Ehhh seems pretty hackish with the negative padding, not to say it's not a nice hack! But it seems like those settings should go in CSS in styled mode (which I'm using).

[2018-11-05 09:05] KacperMadej commented on #9280
Hi @f1ghtingfalcons

Thank you for reporting about the problem.
This is hard to recreate - I'm unable to provide steps.

_Internal note:_
The issue is caused by wrong `clipPath` size - height is not updated.

[2018-11-05 09:20] KacperMadej commented on #9285
Hi @Abrissirba

Thank you for reporting about the bug.

**Workaround**: set `chart.zoomType` to `'xy'`

_Internal note:_
`resetZoomButton` is blocked ([`chart.resetZoomButton = 'blocked';`](https://github.com/highcharts/highcharts/blob/942f67b85b6b81d297f242d012039344865b729b/js/parts/Navigator.js#L2348-L2349)), but never released from the block.

[2018-11-05 09:20] TorsteinHonsi commented on #9289
It seems like bug.

If we do the drilldown then resize the canvas, the text is showing again.

Also, if we simply replace the series, it works: https://jsfiddle.net/highcharts/se2da6rz/10/

[2018-11-05 09:29] KacperMadej commented on #9286
Hi @kfir124

For feature requests please use [userVoice](https://highcharts.uservoice.com/forums/55896-general) - to suggest an idea or vote for an already existing one. The most popular ideas are getting implemented.

Related SO topic: https://stackoverflow.com/questions/39720470/highcharts-tooltip-delay-before-display

Show delay for tooltip is currently not implemented.

[2018-11-05 09:38] TorsteinHonsi commented on #9266
I've added individual class names to the buttons now, so you can do something like this: http://jsfiddle.net/highcharts/q7jrsnh9/8/.

Also, already with the current version, you  should be able do style the item by [first-child or last-child selectors](https://www.w3schools.com/cssref/sel_firstchild.asp).

However, since this is SVG, I am not sure you'll get the results you want. The rectangle aro