[2018-08-19 06:13] dandv opened #8805 "Broken text in v6 announcement post"
https://www.highcharts.com/blog/news/announcing-highcharts-6/

![image](https://user-images.githubusercontent.com/33569/44306072-06aa7600-a33c-11e8-9a24-936cc3e8459e.png)

Another break: "allowing visually

impaired users"

Farther down below: "datavisualization"

[2018-08-19 07:37] dandv opened #8806 "Accessibility issue in the JS API Reference site"
On the [API docs site](https://api.highcharts.com/highstock/plotOptions), once the `#body` is focused by clicking in the right-side panel, pressing up/down arrow doesn't scroll. It seems that the keyboard focus is split between the search box and the right hand side panel:

* PgDn/PgUp/Space scroll the right side panel (`#body`)
* arrows move in the drop-down below the search box at the top of the

[2018-08-19 07:55] dandv commented on #8752
Thanks @sebastianbochan. I'd be happy to submit a PR linking `series.typedata` to https://api.highcharts.com/class-reference/Highcharts.Series#.data but I don't see an edit button on **class-reference** pages. Is there another way to submit PRs for them, as it is for the JS API Reference pages?

[2018-08-19 07:56] dandv opened #8808 "Broken link in .dateFormat docs"
https://api.highcharts.com/class-reference/Highcharts#dateFormat

[2018-08-19 08:00] dandv commented on #8808
Also, can you please document the "subset of the formats"? `%R` doesn't work, for example.

[2018-08-19 09:11] dandv commented on #6581
Please document how to zoom out. On mobile, users could [pinch out](https://english.stackexchange.com/questions/177077/does-pinch-have-an-opposite) (I haven't tried if this actually works), but on the desktop there's no clear guidance on how to zoom out. This is a common enough request that there's a [zoom out plugin](https://www.highcharts.com/products/plugin-registry/single/26/Zoom%20Out%20Selec

[2018-08-19 11:23] SaleemDiab opened #8809 "x-Axis labels position bug when useHtml: true with drilldown"
#### Expected behaviour
x-Axis label aligned in the correct position under the relevant column after drilldown and drillup

#### Actual behaviour
x-Axis labels incorrect position when drillup

case:
I found the issue reproduces only when the label is long (few words).
in the live demo please click on the column 'All patches average dE' to drilldown and then make sure that there is enough width to

[2018-08-20 01:12] dandv commented on #3043
@TorsteinHonsi: random question about that winter snow sample, why does it claim it's "Winter 2014-2016" but all dates are from the 70's? :)

[2018-08-20 01:13] dandv commented on #3591
Typos in the support page, "our support engineer monitor the forum"

[2018-08-20 01:41] dandv opened #8811 "Broken JS API Reference edit link"
At https://api.highcharts.com/highstock/xAxis.ordinal, the edit link points to https://github.com/highcharts/highcharts/blob/c8b1b0ea3/js/supplemental.docs.js#L1473-#L1485

That file [no longer appears to exist in master](https://github.com/highcharts/highcharts/pull/8810).

[2018-08-20 05:08] alvintheodora commented on #7956
Hi @pawelfus Is it supported now? If not, do you have any other solution to mimic the clustering?
Thanks in advance

[2018-08-20 05:38] miladyeganeh commented on #8766
Hi @sebastianbochan
Thank you for your reply, I'll do it.

[2018-08-20 07:17] TorsteinHonsi commented on #8811
Thanks for reporting,

You're correct, the file has been removed in master, but the link points to the file that the docs were generated from. Maybe the pencil icon is misleading, but the tooltip text simply says "Defined in...".

[2018-08-20 07:17] #8811 closed

[2018-08-20 07:55] DiegoCardoso commented on #8801
Hello, @sebastianbochan

Could you update your comment to point to the original issue, please? I would like to follow it.

[2018-08-20 07:58] sebastianbochan commented on #3591
Hi @dandv,
Thank you for reporting.
It looks like a jsfiddle issue, fixed demo: http://jsfiddle.net/BlackLabel/3dcr51ko/

[2018-08-20 08:25] sebastianbochan commented on #8805
Hi @dandv,
Thank you for reporting, we will fix it as soon as possible.

[2018-08-20 08:27] sebastianbochan commented on #8808
Hi @dandv,
Thank you for reporting!

[2018-08-20 08:32] sebastianbochan commented on #8801
Hi @DiegoCardoso,
Sorry for my bad, I added incorrect reference to the main issue, by accident.

[2018-08-20 08:32] pawelfus commented on #8808
Duplicate of #6737

[2018-08-20 08:32] #8808 closed

[2018-08-20 08:43] DiegoCardoso commented on #8801
No probs. Thanks for the update!

[2018-08-20 08:52] sebastianbochan commented on #8806
Hi @dandv,
Thank you for reporting.

@jon-a-nygaard @sophiebremer

[2018-08-20 08:53] mekhatria commented on #8805
Fixed :)

[2018-08-20 08:53] #8805 closed

[2018-08-20 08:59] sebastianbochan commented on #8809
Hi @SaleemDiab,
Thank you for reporting. When I run your demo, unfortunately I was not able to reproduce the issue.

![resize](https://user-images.githubusercontent.com/2115686/44330736-11fac000-a468-11e8-8869-3e1cee2ebf7a.gif)

Chrome: 68.0.3440.106
MacOSX: 10.12.4

Could you point me out which version of Chrome / OS you have ?

[2018-08-20 09:00] pawelfus commented on #8803
Hi @zombiehugs

Thank you for reporting the issue. It looks like specific os/hardware + browser causes the issue. For me it works fine:

![screen shot 2018-08-20 at 10 59 46](https://user-images.githubusercontent.com/1453926/44330795-3c4c7d80-a468-11e8-8f26-6267a1f1da82.png)
Chrome:
![screen shot 2018-08-20 at 11 00 08](https://user-images.githubusercontent.com/1453926/44330796-3c4c7d80-a468-11e8-

[2018-08-20 09:10] SaleemDiab commented on #8809
hi @sebastianbochan, you have to drill down and up again
![awesomescreenshot-2018-08-20t09-06-07-710z](https://user-images.githubusercontent.com/9072934/44331375-001e1a80-a472-11e8-8fcb-94e3fa703aff.gif)

[2018-08-20 09:16] SaleemDiab commented on #8809
Chrome Version 68.0.3440.106
Windows 10
width 960px is enough I think

Thanks,

[2018-08-20 10:16] pawelfus commented on #8809
Thanks @SaleemDiab  for reporting this bug. Actually, we have two regressions here:

- v6.0.4 -> v6.0.5 -> broken first three labels after drill down (demo: http://jsfiddle.net/BlackLabel/xu2oh1yr/87/). Responsible commit: 6bf7ff5c8
- v6.0.7 -> v6.1.0 -> broken first three labels after drill up (demo: http://jsfiddle.net/BlackLabel/xu2oh1yr/87/). Responsible commit: cef5aed50

Last working version

[2018-08-20 10:22] vyakymenko opened #8812 "Regression in Highstock navigator when chart inverted. >= Highstock 6.0.5"
#### Expected behaviour

Correctly working navigator when `inverted: true` configured.
[code]

#### Actual behaviour

Once you configure `inverted: true` and chart is rendered try to drag the selected navigator area to the top or bottom, you will see that at the top and bottom it `setExtremes` to some random data. This issue does not occur on **Highstock 6.0.4**

#### Live demo with steps to repro

[2018-08-20 10:33] spidercode commented on #8546
@pawelfus : First of all, sorry for the late reply.

Here is the demo.

https://jsfiddle.net/spidercode/o3hdezg1/2/

Once chart is loaded,

- First click on **Set Extremes** button
- After that click on **Plot Annotations**
- And then, from export menu, "Download PNG Image"

[2018-08-20 10:34] pawelfus commented on #8752
There's no reference URL to the github parts for classes. It would be useful, I agree.

Definition can be found here: https://github.com/highcharts/highcharts/blob/c78aa15292dfc3b5e39de922143d2363e8911472/js/parts/Series.js#L3153-L3196

[2018-08-20 10:44] pawelfus commented on #8546
@spidercode don't forget to apply workaround to each series. My example shows solution for just one series. Demo for you, with multiple flag-series: https://jsfiddle.net/BlackLabel/m8bptx3a/

Snippet:

[code]

[2018-08-20 10:48] pawelfus commented on #8812
Hi @vyakymenko

Thank you for reporting this regression!

*Internal note:*
Regression after b75814dd7

[2018-08-20 11:29] oysteinmoseng commented on #7956
@alvintheodora @sebastianbochan It is possible to do clustering by manually computing the clusters beforehand and showing them as you zoom the chart. This can be done by listening to the `afterSetExtremes` event on the axis to detect zoom level. One way to do it would be to keep each cluster level in a separate series, and show/hide these on demand: http://jsfiddle.net/gqcbz23v/

[2018-08-20 11:33] TorsteinHonsi commented on #8712
The [yAxis.min](https://api.highcharts.com/highcharts/yAxis.min) API also explains what happens:

In this case, setting `startOnTick` to false probably gives the desired result: https://jsfiddle.net/highcharts/ebok7fa0/12/.

[2018-08-20 11:33] #8712 closed

[2018-08-20 11:52] TorsteinHonsi commented on #8715
The error comes when running `Series.remove` on a navigator series after its parent has already been destroyed. The *workaround* is to remove only the parent series: http://jsfiddle.net/highcharts/r321y4h6/11/

[2018-08-20 12:03] #8715 closed

[2018-08-20 12:05] TorsteinHonsi commented on #8713
@sophiebremer Will you have a look at why the syntax matters? Propably the easiest fix is just to make sure we use the one syntax that works.

[2018-08-20 12:12] TorsteinHonsi commented on #8721
@RononDex Most likely this happens because you're using a font in your chart setup that is not present on our export server. The extent of the black border is calculated in the browser based on the font that is used. However, on the server, the font is not present so it falls back to another font, but the extent of the frame is still the same, since it was calculated on the client. There are at le

[2018-08-20 12:12] #8721 closed

[2018-08-20 12:16] SaleemDiab commented on #8809
any suggested workaround ?

[2018-08-20 12:19] #8666 closed

[2018-08-20 12:29] sebastianbochan commented on #7956
@oysteinmoseng datalabels are visible, but should not be in the lowest level.

![zrzut ekranu 2018-08-20 o 14 29 22](https://user-images.githubusercontent.com/2115686/44340546-75471b00-a485-11e8-964a-e44e93890b37.png)

[2018-08-20 12:33] sebastianbochan commented on #5834
The ticket has still enhancement status which means that the feature is not available yet.

[2018-08-20 12:37] oysteinmoseng commented on #7956
@sebastianbochan This is an issue (or feature?) that is not related to this demo. See e.g. https://jsfiddle.net/13tjydeo/

[2018-08-20 12:38] sebastianbochan commented on #7956
@oysteinmoseng You are right, its separate issue.

[2018-08-20 12:40] raf18seb opened #8814 "Screen readers (NVDA and JAWS) don't read aloud point's description in IE11 and Edge."
NVDA - https://www.nvaccess.org/
JAWS - https://www.freedomscientific.com/Downloads/JAWS

Both programs (and propably other screen readers too) can't read aloud point's description when you navigate using keyboard.

#### Live demo with steps to reproduce
Install one of the programs above.
https://codepen.io/jharri/full/OwYZyy/
Use TAB to navigate and find point. In modern browsers screen reader re

[2018-08-20 12:48] TorsteinHonsi commented on #8196
Thanks for your patience! The issue comes not from using `oneToOne` per se, but from reusing the same options set, which Highcharts mutates internally. The *workaround* is to work on copies of the data: https://jsfiddle.net/highcharts/thrqwjc1/6/.

I'll investigate more on which mutations cause the issue, and whether it can be avoided.

[2018-08-20 13:39] #8196 closed

[2018-08-20 13:43] TorsteinHonsi commented on #8196
#### Fix
The issue is now fixed in the master branch and will be official with the next release. See the demo with the fix applied: https://jsfiddle.net/highcharts/thrqwjc1/24/.

#### Workaround
Until then, a clean workaround is to add this snippet to your pages:

[code]
View it live at https://jsfiddle.net/highcharts/thrqwjc1/23/

[2018-08-20 14:56] sebastianbochan commented on #8814
@oysteinmoseng any comments?

[2018-08-20 17:25] martinste1n commented on #8803
I can confirm the issue.
Chrome Dev-Tools log prints

[.Offscreen-For-WebGL-000001E6666E16B0]RENDER WARNING: Render count or primcount is 0.

**Chrome Version**
Version 68.0.3440.106 (Official Build) (64-Bit)

**OS**
Windows 10

Tried Software & Hardware Rendering.

Firefox & Edge render just fine. Seems to be related to newest Chrome Version.

[2018-08-20 21:45] dandv commented on #6737
+1 for adding the list of formats in the documentation. Here on GitHub it's not really discoverable and I ended up filing a duplicate issue for this, #8808.

[2018-08-21 02:00] dandv commented on #8811
Oh, I thought the pencil icon was to encourage readers to submit documentation PRs, the way [the MongoDB docs](https://docs.mongodb.com/manual/tutorial/getting-started/) do.

[2018-08-21 05:09] karthiiivgn opened #8815 "Highchart export option not working CSRF token missing issue"
Hi ,
I'm developing high-chart.
When using self server, how to add csrf token when posting the data.
#### Expected behaviour
when clicking the download option i need to post csrf token along with the posted data (for self server)
#### Actual behaviour
due to csrf token missing its shows bad request. But exporting option is working only on exporting server (https://exporting.highcharts.com)

[2018-08-21 08:29] pawelfus commented on #8809
@SaleemDiab Could you try `xAxis.labels.rotation = 0` ? This should resolve the issue, please take a look: http://jsfiddle.net/BlackLabel/xu2oh1yr/107/

[2018-08-21 08:41] SaleemDiab commented on #8809
@pawelfus, thaknk you very much it really solved the issue for me :)

[2018-08-21 08:49] KacperMadej commented on #8803
Still can't reproduce. Works fine for me with the same setup:
**Win 10 + Chrome v. 68.0.3440.106 (64-Bit)**

When running console (dev. tools) with verbose (all levels) then there's no error - only console logs for line rendering (and some verbose violations about `requestAnimationFrame` - nothing exiting).

Does it make any sense to dig dipper into hardware configuration @cvasseng ? If yes, then

[2018-08-21 08:58] raf18seb opened #8816 "Parallel Coordinates chart displays "No data to display" even when there is data displayed."
In no-data module there is a function

`H.Series.prototype.hasData = function () {`
		    `return (`
		        `this.visible &&`
		        `this.dataMax !== undefined &&`
		        `this.dataMin !== undefined // #3703`
		    `);`
		`};`

which returns statement "No data to display" when can't find any of _visible_, _dataMax_ or _dataMin_.
Parallel Coordinates series has no dataMax nor dataMin so n

[2018-08-21 09:03] SaleemDiab commented on #8809
@pawelfus, sorry to disappoint you again but I found another issue :
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/9072934/44392131-2c9d6980-a53a-11e8-80ce-8f1acf7fb818.gif)

[2018-08-21 09:40] pawelfus commented on #8809
@SaleemDiab I don't see any better workaround than disabling `useHTML` or downgrading to v6.0.4.

[2018-08-21 09:50] wchmiel opened #8817 "Candlestick docs: stacking is included in the docs but it's not working."
Check api for candlestick series: [https://api.highcharts.com/highstock/series.candlestick.stacking](https://api.highcharts.com/highstock/series.candlestick.stacking).

When you try to set stacking = "normal" the console shows error **num.toPrecision is not a function** see [https://jsfiddle.net/wchmiel/z4boxtn1/](https://jsfiddle.net/wchmiel/z4boxtn1/). The documentation for candlestick series sh

[2018-08-21 09:53] pawelfus commented on #8817
*Internal note:*
The fix should update docs **and** prevent errors when `stacking` is set (e.g. changed type with default config etc.).

[2018-08-21 09:59] TorsteinHonsi opened #8818 "Shared tooltip in boost mode, all series not included"
#### Expected behaviour
All points to display at all times. All series have equal X values.

#### Actual behaviour
Random series display

#### Live demo with steps to reproduce
https://jsfiddle.net/highcharts/8ydq59hw/119/

#### Product version
6.1.0

[2018-08-21 10:46] #8733 closed

[2018-08-21 11:48] oysteinmoseng commented on #2125
Closing, see https://www.highcharts.com/docs/chart-concepts/accessibility

[2018-08-21 11:48] #2125 closed

[2018-08-21 11:51] TorsteinHonsi commented on #8735
The logic for `gapSize` is performed when the path is generated, so it is skipped in boost mode: https://github.com/highcharts/highcharts/blob/v6.1.0/js/modules/broken-axis.src.js#L430.

Probaly it needs to either be re-implemented in WebGL (look for similar `connectNulls` logic), or added to the list of missing features in Boost.

@cvasseng

[2018-08-21 12:32] TorsteinHonsi commented on #8744
I can't reproduce this on BrowserStack - @jon-a-nygaard can you see it in native Edge?

[2018-08-21 12:34] TorsteinHonsi commented on #8748
Closing this as we are aware of some tests failing in various Browserstack instances. Awaiting full custom integration.

[2018-08-21 12:34] #8748 closed

[2018-08-21 12:41] TorsteinHonsi commented on #8749
Fixed, thanks!

[2018-08-21 12:41] #8749 closed

[2018-08-21 12:44] oysteinmoseng commented on #8814
This is strange, but there seems to have been some recent changes to how Edge handles SVG accessibility.

The issue with IE11 is that it doesn't support `focus` calls on SVG elements, so it is not picking up that you are moving between elements. There is little we can do to fix this. We have discussed implementing a different solution where we would be taking over all keyboard navigation, effectiv

[2018-08-21 12:44] TorsteinHonsi commented on #8754
Note: When resizing the pane of our [basic heatmap demo](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/heatmap/), the legend items are not recreated.

[2018-08-21 13:59] karthiiivgn commented on #8815
I am using self server.

[2018-08-21 19:02] zombiehugs commented on #8803
@martinste1n confirmed working in Edge and Firefox as stated, previous versions and future (69) do not appear to be affected at this time.

@KacperMadej I concur with your findings regarding errors and messaging, no exceptions appear to be thrown.

Thanks for all the help.

[2018-08-22 07:10] #8355 closed

[2018-08-22 07:41] TorsteinHonsi commented on #8764
A simpler approach would be to use our offline-export.js module. To do this, we need to have MathJax process the copied chart before exported it. It seems to do that correctly when calling it from an event handler, though it still doesn't look correct: http://jsfiddle.net/highcharts/e4urL07k/6/. Probably the missing piece is the CSS from MathJax, that is not passed to the exported SVG.

[2018-08-22 07:46] #8777 closed

[2018-08-22 07:53] TorsteinHonsi commented on #8033
Sorry for the late reply! We hope to publish it next week.

[2018-08-22 08:03] TorsteinHonsi commented on #8789
Reliable repro with fixed widths: https://jsfiddle.net/highcharts/hqzfat7k/3/

[2018-08-22 08:14] luuuke commented on #8713
I'm not sure if I'm understanding you right. So the guess is, that setting cropThreshold explicitly in the series config is causing it and by adjusting the docs it will be fixed?
In my observations the error also occurs when not supplying cropThreshold (see http://jsfiddle.net/4saL58wu/13/). As a default value is then used instead, just more data is required to cause this problem.

[2018-08-22 08:30] SaleemDiab opened #8820 "chart title disappears when useHTML:true and scrollablePlotArea"
#### Expected behaviour

#### Actual behaviour
when using scrollablePlotArea with chart title.useHTMl = true, title disappears although the element is in the DOM

#### Live demo with steps to reproduce
http://jsfiddle.net/hsa9zwL1/1/

#### Product version
Highcharts v6.1.1

#### Affected browser(s)
Chrome only tested (v68.0)

[2018-08-22 08:30] pawelfus commented on #8713
Hi @luuuke

This will be fixed in the core too. Simply we have two issues here: wrong docs and bug in code. As I said above:

[2018-08-22 08:46] jon-a-nygaard commented on #7186
Hi @netaisllc,

Apologies for the late reply.

The ES-modules is released since v6.1.0, release v6.0.8 was bumped to v6.1.0.
You can find the es-modules located at `/es-modules` for classic mode, and the styled mode under `/js/es-modules`.
For instance the highcharts master file can be found on our DNS at https://code.highcharts.com/es-modules/masters/highcharts.src.js

The publish of our ES modul

[2018-08-22 09:01] pawelfus commented on #8815
Thank you for confirmation @karthiiivgn

I have reported the issue in exporting server repository: https://github.com/highcharts/node-export-server/issues/164 - this is main library repository.

[2018-08-22 09:01] #8815 closed

[2018-08-22 09:06] jon-a-nygaard commented on #8744
@TorsteinHonsi Yes, I am. It seems that Edge is struggling to redraw the svg elements when there is "too much" interaction for it to handle.

I found that there is similar issues reported that Microsoft Edge 42.17134.1.0 Microsoft EdgeHTML 17.17134 has a bug with this. One of them can be found at https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3723601/#comment-19

[2018-08-22 09:07] #8789 closed

[2018-08-22 09:07] #8773 closed

[2018-08-22 09:08] TorsteinHonsi commented on #8773
Demo with the fix applied: http://jsfiddle.net/highcharts/sbog6ep5/11/

[2018-08-22 09:27] #8791 closed

[2018-08-22 09:29] TorsteinHonsi commented on #8731
@cvasseng Any insight?

[2018-08-22 09:35] einord opened #8821 "plotOptions.series have too high prioritization"
#### Expected behaviour
When setting chart options, I expect the values in `plotOptions.series` to be lower than for specific chart types such as `plotOptions.scatter`.

So, if I have multiple series of different types with settings I can set the default plotOption settings, and define any specific settings for a certain type.

#### Actual behaviour
The default plotOptions settings is always prior

[2018-08-22 10:00] TorsteinHonsi commented on #8796
Closed by 6b6b83a7867509862769903678ee62437c591dbb

[2018-08-22 10:00] #8796 closed

[2018-08-22 10:13] KacperMadej opened #8822 "Map of Estonia"
#### Behaviour
Estonia had Administrative-Territorial Reform, so the map changed:
https://www.rahandusministeerium.ee/en/objectivesactivities/local-governments-and-administrative-territorial-reform/administrative

No source available on current map collection source.

If you have a source for the map that could be used (QGIS map file format and usable license are required), please let us know.

[2018-08-22 11:02] toh82 opened #8824 "Show checkboxes and usehtml within diagram legend does not work well if scrollablePlotArea is configured"
#### Expected behaviour
1. Highcharts series checkboxes should stick to the Legend lables on scrollable plot areas
2. HTML formatted legend should also be visible on scrollable plot areas

#### Actual behaviour
If you want to have swipable diagrams on mobile or a specific viewport you can activate chart.scrollablePlotArea https://api.highcharts.com/highcharts/chart.scrollablePlotArea

And if you w

[2018-08-22 11:25] cvasseng commented on #8731
The answer is likely in [this block](https://github.com/highcharts/highcharts/blob/master/js/modules/boost.src.js#L1801-L1810). I think `minVal` needs to be set to `yAxis.min` in there if it's not a range series or a stacked series.

[2018-08-22 11:59] TorsteinHonsi commented on #8797
_Internal note_
Broken down, it's a problem with calling setSize on a chart with scrollablePlotArea: http://jsfiddle.net/highcharts/w5uohq82/14/. Running reflow makes it even worse.

[2018-08-22 12:04] TorsteinHonsi commented on #8797
#### Workaround
We can tap into the `endResize` event and make it right.

[code]

Live demo: http://jsfiddle.net/highcharts/w5uohq82/19/

[2018-08-22 13:42] #6581 closed

[2018-08-22 13:42] #8797 closed

[2018-08-22 13:43] TorsteinHonsi commented on #6581
Thanks, it's done. Exposed `Chart.zoomOut` in the API and added description to the docs.

[2018-08-22 13:51] TorsteinHonsi commented on #8766
Closing this as inactive. Please don't hesitate to reopen if you have a live demo with fail case.

[2018-08-22 14:00] KacperMadej commented on #8820
Hi @SaleemDiab

Thank you for reporting about the problem.

Here's more detailed description:
With `useHTML: true` some elements are not shown:
- title,
- subtitle,
- vertical axis title and labels (yAxis for not inverted and xAxis for inverted)

http://jsfiddle.net/BlackLabel/vrq625z4/

Additionally - after resize to init the scrollablePlotArea the problematic elements hide and never go back - ev

[2018-08-22 15:20] alvintheodora commented on #7956
@sebastianbochan @oysteinmoseng Thank you for the workaround. Cheers.

[2018-08-22 22:30] dandv commented on #7186
Thanks @jon-a-nygaard. I've submitted a [PR to document how to load Highcharts from CDN as an ES module](https://github.com/highcharts/highcharts/pull/8827). I was going to also add how to dynamically import it, but ran into [this issue](https://github.com/basarat/typescript-book/issues/422). Any chance to avoid `export default`? More reasons:

1. https://basarat.gitbooks.io/typescript/docs/tips/d

[2018-08-22 22:54] ljharb commented on #7186
`export default` should be preferred, not avoided.

[2018-08-23 01:13] dandv commented on #1805
I'm happy to have this issue closed as is, especially if *actual* benchmarking a forced `Number(...)` conversion shows that it does slow down processing significantly. I've run a [synthetic](https://jsperf.com/forced-number-conversion) benchmark and forcing a `Number()` does incur a performance penalty.

In any case, seeing as nobody else has commented on this issue in 5 years, it's probably fine

[2018-08-23 05:40] WizardCM commented on #4183
Ran into this issue myself too - panning automatically zooms out as you try and pan until the tick you've enabled fits in the view. Very unpleasant to use and defeats the point of both options.

[2018-08-23 06:18] sharma848 opened #8828 "Charts not responsive when its container DIV's width changes."
I am using a toggle view for the charts where I can view them in both small view and large view.

But when I switch view and width of the containers changes graphs are not adjusting themselves accordingly.

Please reply as soon as possible.

[2018-08-23 07:26] cvasseng commented on #8633
We're looking on the best approach to this. The complicating factor is that it's very much a case of "all or nothing" - if we're going to open the door on more types of shapes, we should open up for arbitrary ones as well. This requires some thought.

Partly internal note:

If the marker can be done on a canvas, it's fairly easy to patch in.

The texture is created here: https://github.com/highcha

[2018-08-23 08:05] #1805 closed

[2018-08-23 08:06] TorsteinHonsi commented on #7977
We've taken this one step further and provided a recommendation for how to integrate zipcelx. See http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/export-data/xlsx/. The zipcelx library is MIT licensed, lightweight and standalone.

A possible next step, if this proves stable, would be to integrate a hook that looks for the existence of this library in th

[2018-08-23 08:11] TorsteinHonsi commented on #8752
It's just a typo, there is no such thing as `series.typedata`. What we are referring to is `series.{type}.data`, like [series.line.data](https://api.highcharts.com/highcharts/series.line.data).

[2018-08-23 08:13] #8752 closed

[2018-08-23 08:34] kamilkulig opened #8830 "Data labels of non-visible points appear on the bottom of the plot area after zoom"
#### Expected behaviour
Only the labels of the visible points should be shown within the plot area.

#### Actual behaviour
Data labels of the points which are beyond the extremes appear on the bottom of the plot area after the zoom action.

![image](https://user-images.githubusercontent.com/13188589/44514184-b7f43780-a6bf-11e8-8b9e-74493a9bb73e.png)

#### Live demo with steps to reproduce
https://

[2018-08-23 08:47] sebastianbochan commented on #8828
Hi @sharma848,
I created a simple demo here: https://jsfiddle.net/BlackLabel/vo64g75k/ , which uses responsive.
For testing, please click on a `update` button and as a result the legend is disabled according to responsive rules. Could you confirm that it works in your environment too?

Could you simplify your demo and update my code with yours? It will allow me to debug your chart.

[2018-08-23 08:52] kamilkulig commented on #8830
**Workaround:** https://jsfiddle.net/BlackLabel/z0u5pv4e/

[2018-08-23 08:52] luuuke opened #8831 "Vector and wind barb series do not consider borderColor option"
#### Expected behaviour

Vector and wind barb series show a border around their pictograms.

#### Actual behaviour

They don't.

#### Live demo with steps to reproduce
wind barb: https://jsfiddle.net/8wyqe2Lr/4/
vector: https://jsfiddle.net/8wh6qrc4/1/

#### Product version
6.0.5

[2018-08-23 09:06] TorsteinHonsi commented on #8811
Yes, that's exactly what it is for. I'm not sure how to handle cases like this though. Although rare, it may happen that the source location of a doclet is changed. We could do a [GitHub code search](https://github.com/highcharts/highcharts/search?q=%40apioption+xAxis.ordinal&unscoped_q=%40apioption+xAxis.ordinal), but all things considered I think the current approach is more precise.

[2018-08-23 09:38] pawelfus commented on #8831
Hi @luuuke

Thanks for reporting the issue. It looks like a bug in docs: only `lineWidth` and `color` are supported and options like `borderRadius`, `borderColor` and `borderWidth` are accidentally inherited from parent series. @TorsteinHonsi could you confirm?

Possible workaround: Duplicate series in the background: https://jsfiddle.net/BlackLabel/8wyqe2Lr/10/

[2018-08-23 09:52] pawelfus commented on #7491
Hi @AmmyXu

Thanks for pointing this out. It looks like fixed width for the chart is required to recreate the issue: http://jsfiddle.net/BlackLabel/w9Lx2yv1/10/

[2018-08-23 09:55] luuuke commented on #8831
Thanks for the workaround!

Would it be possible to add those options natively? In our case we're overlaying the wind barbs on top of an area chart with the accompanying wind speeds; with a small white border around the barbs it looks much nicer. Something like this, using your workaround: https://jsfiddle.net/8wyqe2Lr/13/. I can imagine the option of having a border for the vector types to be qui

[2018-08-23 10:34] sebastianbochan commented on #3881
+1

[2018-08-23 10:56] jon-a-nygaard commented on #7186
@dandv Currently we only export to default, and I do not know a way to get around it with our latest version.
I do agree that we should provide named exports as well, and this should not conflict with those using the default export since we can provide both. So I believe this part should be fairly simple to achieve.

However we might need to do some work on our [highcharts-assembler](https://githu

[2018-08-23 11:31] TorsteinHonsi commented on #8809
I think I have found the underlying source of the problem, it has to do with internal cache not being cleared after unsetting width by CSS. The fix will be committed in a minute and release with the next maintenance release, targeted next week.

Here's a drop-in **workaround** you can use in the meantime:
[code]

View it live: http://jsfiddle.net/highcharts/xu2oh1yr/115/

[2018-08-23 12:06] AmmyXu commented on #8632
Hi @pawelfus
We had meet the same problem, the tags were stacked horizontally  when the tag text was long, but what we wanted is that it can rotate automatically.

If use the rotation method mentioned above to solve this problem, a strategy is need to determine whether the label should be rotated, which seems to be troublesome. Is there a better way?

demo: http://jsfiddle.net/kw34jb9b/57/

[2018-08-23 12:58] ivanmjartan opened #8834 "Multiple exception in log console Error: <text> attribute y: Expected length, "NaN""
We have all negative series in Stacked column chart when we try set yAxis min value for value grater than 0 than graph looks rendered correctly (any items in view) but in console is flooded by exceptions.

I guess thats it looks  like bug i not pls how set chart to avoid given ex.

#### Expected behaviour
No exception in log console

#### Actual behaviour
Several exceptions in log console

highcha

[2018-08-23 13:26] #8809 closed

[2018-08-23 13:35] #8713 closed

[2018-08-23 14:51] toh82 commented on #8824
Interesting Workaround, Thanks.
The Workaround I used is a bit shorter, I just moved the legend out of the svg with JS ;)

[2018-08-24 02:50] sharma848 commented on #8828
@sebastianbochan  thanks for the time and help you did. I get it solved by using reflow() whenever the view changes and it solved my problem.

Hence closing this issue.

[2018-08-24 02:50] #8828 closed

[2018-08-24 06:47] jon-a-nygaard commented on #7491
Hi @AmmyXu, I will a look into it today and see if I can provide a fix for this.

It is a bit difficult to give an ETA for this since next maintenance release will likely come in next week. If I am able to provide a fix before that, then it will be available in next week, otherwise it will take some longer before it is available.

[2018-08-24 08:57] sebastianbochan opened #8836 "Boost - some points are ignored in tooltip when is shared"
#### Expected behaviour
Points should be visible in the tooltip, when its shared

#### Actual behaviour
Some points are missed, when tooltip is shared.

#### Live demo with steps to reproduce
Too big date to create jsfiddle.

[bigdata.zip](https://github.com/highcharts/highcharts/files/2317700/bigdata.zip)

1. Run demo and observe that in some places, points are ignored in the tooltip.
2. When we

[2018-08-24 09:03] pawelfus commented on #8831
I agree, that would be nice feature. The problem is paths in SVG don't support border. To support this natively we would need to .. duplicate shape in the background. Just like creating a new series. Of course native solution would be faster than a duplicated series, but for a vector/windbarb series amount of points is relatively small (less than 50k points).

**Workaround:**
Simple plugin to gene

[2018-08-24 09:06] Izothep commented on #7317
The issue is still visible on iOS High Sierra as well, tested with
10.13.6,
10.13.4,
10.12.4

[2018-08-24 09:10] pawelfus commented on #8834
Hi @ivanmjartan

Thank you for reporting this issue. Issue comes from `stackLabels` - when disabled, it works fine: https://jsfiddle.net/BlackLabel/m7k54px8/37/

Minified demo: https://jsfiddle.net/BlackLabel/1c8fht32/

[2018-08-24 09:36] luuuke commented on #8831
I was hoping that SVG would support borders, too bad.
Thanks for the workaround though, looks great! As we are using Highstock, the only issue is now, that the background shapes stay when navigating to some other point in time.

[2018-08-24 10:13] pawelfus commented on #8831
Could you update my demo to recreate the issue? Simple demo looks fine: https://jsfiddle.net/BlackLabel/yu4sx8fh/

[2018-08-24 10:26] #8768 closed

[2018-08-24 10:26] TorsteinHonsi commented on #8768
Demo with the fix applied: http://jsfiddle.net/highcharts/tvhknz04/11/

This fix will be part of the next maintenance release scheduled next week.

[2018-08-24 10:30] pawelfus commented on #8632
I'm not sure what to do about this case. I mean, labels are very long where simply word is very long. Ellipsis sounds reasonable, but you may not see full labels (e.g. exporting) - and it's disabled by `textOverflow`(works fine when enabled: http://jsfiddle.net/BlackLabel/kw34jb9b/74/ ). @TorsteinHonsi Do I miss an obvious solution here?

[2018-08-24 10:53] AmmyXu commented on #8632
We want the label to be full, with no ellipsis.

This requirement is actually achievable. When the label is tilted 45 degrees, the text does not overlap. However, it seems that HC currently determines whether the label is tilted based on its columnar width, rather than on text. I think the latter is a more reasonable strategy.

So what I'm asking is, is there any way to meet our needs? Is that som

[2018-08-24 11:46] #8820 closed

[2018-08-24 11:54] TorsteinHonsi commented on #8803
@jon-a-nygaard Can you confirm this on Windows with Windows 10?

[2018-08-24 12:00] TorsteinHonsi commented on #8830
Removed some noise from demo: https://jsfiddle.net/highcharts/37ypuzec/29/

[2018-08-24 12:53] cvasseng commented on #8803
@zombiehugs what kind of GPU are you running, and which driver version for it are you on?

[2018-08-24 13:06] luuuke commented on #8831
What I've forgot to note, we're using async loading and thus update data on switching times. This recreates the issue: https://jsfiddle.net/yu4sx8fh/7/.

[2018-08-24 13:07] cvasseng commented on #7317
I think, as @TorsteinHonsi also mentioned, that it's related to sub pixel rendering, if you set the size to 0.1 you're effectively saying that the size of one point is 1/10th the size of a pixel. This might explain why it's more obvious for some than others, as some monitors will do magical scaling that might make it work better than others. The density would need to be quite high for 0.1 radius p

[2018-08-24 13:12] #8824 closed

[2018-08-24 13:12] TorsteinHonsi commented on #8824
Demo with the fix applied: http://jsfiddle.net/highcharts/xfnq0s34/34/.

Generally, the `useHTML` cases were fixed in another commit earlier today.

[2018-08-24 13:46] pawelfus commented on #8831
Ah, thanks! Updated demo: https://jsfiddle.net/BlackLabel/cbyjw0z2/

And plugin:

    (function(H) {
      H.wrap(H.seriesTypes.windbarb.prototype.pointClass.prototype, 'destroyElements', function(proceed) {
        if (this.backgroundGraphic) {
          this.backgroundGraphic = this.backgroundGraphic.destroy();
        }

        proceed.apply(this, Array.prototype.slice.call(arguments, 1));

[2018-08-24 16:03] zombiehugs commented on #8803
@cvasseng I can find out, it does not occur on my development machine but rather on a customer's machine. Let me get that information and return.

[2018-08-24 18:41] zombiehugs commented on #8803
@cvasseng These are the drivers in use on customer's laptop that is experiencing the issue. It is a laptop will dual cards. I have screenshots of driver versions below.

![intel](https://user-images.githubusercontent.com/5231398/44601844-6de48200-a7a3-11e8-88d0-7401e809cfcf.png)
![nvidia](https://user-images.githubusercontent.com/5231398/44601845-6de48200-a7a3-11e8-8268-a201d6e7dc19.png)

[2018-08-25 08:53] luuuke commented on #8831
Works great, thank you!

[2018-08-27 07:53] TorsteinHonsi commented on #8836
It's a duplicate of #8818, related to how k-d-tree points (used for tooltip) were generalized.

However it's unlikely that it is related to #8166, as the WebGL rendering uses separate downsampling from the k-d-tree.

[2018-08-27 07:53] #8836 closed

[2018-08-27 08:45] #8834 closed

[2018-08-27 09:50] aaronplanell commented on #8520
Hello,

Can I help in something?

Thanks.

[2018-08-27 10:44] jon-a-nygaard commented on #7491
Hi @AmmyXu,

I've found a solution which seems to work well to solve the problem. Currently working on adding unit-tests for the new code, but it looks promising in regards to have it shipped with the next maintenance release.

Here's the previous demo running with the updated wordcloud: http://jsfiddle.net/jon_a_nygaard/k4p5vo38/1/

You can load and test the new wordcloud source file from https:/

[2018-08-27 10:55] ASumIT2016 opened #8838 "Horizontal Scroll view"
how to set horizontal scroll view to chart type of column? in android.. with java.

[2018-08-27 11:05] KacperMadej opened #8839 "Drilldown and series update"
#### Expected behaviour
After drill down an update is called that changes series data.
Next a clean update should happen, so no back button.

#### Actual behaviour
Back button stays - it resets the series update on click.

#### Live demo with steps to reproduce
http://jsfiddle.net/BlackLabel/17cu5xjk/
1. Click the orange slice to drill down
2. Click the button to change series data
3. Chart is upd

[2018-08-27 11:14] fabscav commented on #6657
This is still an issue as of v6.1.1. Are there any plans to fix this?

[2018-08-27 12:02] #8830 closed

[2018-08-27 12:38] #7491 closed

[2018-08-27 12:42] oysteinmoseng opened #8841 "Support point.select in Gantt"
We need to support `point.select`/ `series.allowPointSelect` in Gantt, even with the draggable-gantt module loaded.

We want to be able to group points to select, but this does not have to be core logic.

We need to be able to get the selected point in the chart programmatically.

[2018-08-27 14:11] oysteinmoseng commented on #3498
Highcharts now prevents overlapping of datalabels out of the box, so closing this.

[2018-08-27 14:11] #3498 closed

[2018-08-27 15:33] renatoly commented on #8641
Thank you very much, I am looking forward for the next release.

[2018-08-27 15:35] jon-a-nygaard commented on #8803
I was unsuccessful to reproduce this issue.

**OS**
Name: Microsoft Windows 10 Pro
Version: 10.0.17134 Build 1734

**Chrome**
Version 68.0.3440.106 (Official Build) (64-bit)

**GPU**
Intel(R) UHD Graphics 620 (22.20.16.4840)
NVIDIA GeForce GTX 1060 (23.21.13.8808)

[2018-08-27 16:49] Madhu94 opened #8843 "yAxis.stackLabels should compute total of positive and negative series"
#### Expected behaviour
``yAxis.stackLabels`` option on column charts should allow ability to sum positive and negative values and show a net value. In the linked  fiddle, there should be a way to make the ``Grapes`` series sum up to -3.

#### Actual behaviour
The positive and negative stacks are treated separately (``Grapes`` stack adds to 4) , and there is no option to change this behavior.

###

[2018-08-27 18:16] ShMahadevan opened #8845 "Chart reloads on iOS device, on scrolling up/down"
#### Expected behaviour
Chart need not reload on scrolling the screen

#### Actual behaviour
chart reloads on scroll

#### Live demo with steps to reproduce

[donut-chart-bug-ios.zip](https://github.com/highcharts/highcharts/files/2325076/donut-chart-bug-ios.zip)

#### Product version

#### Affected browser(s)

iOS device

[2018-08-27 18:35] sturmenta commented on #8091
What I did was:

- Do not use the latest version of firebase, but the [version that indicate that you use](https://firebase.google.com/docs/firestore/quickstart?hl=es-419)
`npm install firebase@4.12.1 --save`

- Replace

[code]

by

[code]

- `npm i -S @firebase/firestore` `npm i -S @firebase/messaging`

And everything worked correctly!

[2018-08-27 19:45] ShMahadevan commented on #8845
**index.html**

<!DOCTYPE html>

<html ng-app="newApp" class="ng-cloak" ng-controller="newAppCtrl" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="no-cache">
    <link rel="stylesheet" ng-href="css/bootstrap.min.css" type="text/css" />
</head>

<body>

    <div>
        <h1>HighCh

[2018-08-27 19:46] ShMahadevan commented on #8845
[demo.zip](https://github.com/highcharts/highcharts/files/2325391/demo.zip)

[2018-08-28 06:46] TorsteinHonsi commented on #8632
As I understand the case, the option you're looking for is [autoRotationLimit](https://api.highcharts.com/highcharts/xAxis.labels.autoRotationLimit). Here's the demo with a higher `autoRotationLimit`, as far as I can see it gives the output you require: http://jsfiddle.net/highcharts/kw34jb9b/81/.

The rationale behind this default setting is that when the text strings are longer than this, it is

[2018-08-28 06:51] AmmyXu commented on #8632
Thank you very much. That's what I want.

[2018-08-28 07:09] JoostvDoorn commented on #8803
Just an FYI that this is not isolated to Windows. I had this issue on Ubuntu, but it has magically gone away. My current chrome version is 68.0.3440.106.

**OS**
Ubuntu 16.04

**GPU**
Quadro M1200/PCIe/SSE2

[2018-08-28 08:19] pawelfus commented on #8843
Hi @Madhu94

Thanks for reporting the issue. There's no direct option like "merge" positive and negative stacks. Those are always independent, but we can change what is displayed in a stacklabel using formatter: https://jsfiddle.net/BlackLabel/qh4of0gw/10/

Snippet:

[code]

The way to get negative stack is not obvious, probably we could add a reference to the negative stack (via arguments). What

[2018-08-28 08:37] pawelfus commented on #8845
Hi @ShMahadevan

Thanks for reporting the issue. It looks like you recreate chart on each scroll up/down - that's what initial animation suggests. Could you please add:

[code]

And check how many times `loaded chart` is displayed in the console?

[2018-08-28 08:39] pawelfus commented on #6657
Could you try to set `black` color instead of `contrast`? See: https://jsfiddle.net/BlackLabel/c1rcxn0r/4/

[2018-08-28 08:52] sebastianbochan commented on #8838
Hi @ASumIT2016,
Thank you for contacting us. This is our bug tracker, so for general [support](http://www.highcharts.com/support) questions, please use forum / stackoverflow or email.

[2018-08-28 08:52] #8838 closed

[2018-08-28 08:57] pawelfus commented on #8520
Thanks! According to commit from 2013 ( 98701ca7d86d183f43dcf4807247ff055d2e564f ) - this should work. Browser should fire `mousedown` event after touch events (ref: https://developer.mozilla.org/en-US/docs/Web/API/Touch_events/Supporting_both_TouchEvent_and_MouseEvent#Event_order ). Probably `mousedown` in iOS is not fired. I can't find anything in the official apple [docs](https://developer.appl

[2018-08-28 10:29] aaronplanell commented on #8520
Hello @pawelfus ,

Maybe it is needed to launch first the touchstart event:

It's the only thing I think is relevant :thinking: .

What do you think?

[2018-08-28 12:06] pawelfus commented on #4078
Closing as duplicate of #4606

[2018-08-28 12:06] #4078 closed

[2018-08-28 12:06] pawelfus commented on #4273
Duplicate of #4606

[2018-08-28 12:06] #4273 closed

[2018-08-28 13:11] KacperMadej opened #8847 "MACD crashes when not enough points in graph to generate plot"
#### Behaviour
Look like current check doesn't include signal line plot check.
` signalLine = EMA.prototype.getValues(...` returns false and code later fails when trying to access `if (MACD[i][0] >= signalLine[0][0]) {`

#### Live demo with steps to reproduce
http://jsfiddle.net/BlackLabel/5gsmy12w/

Steps:
0. it just fails on build
1. run with dev tools to debug the error

@pawelfus I saw your la

[2018-08-28 13:16] KacperMadej opened #8848 "MACD unable to remove when no plot"
#### Behaviour
No plot due to not enough data in base series. On the MACD remove - error.
`this.graphmacd = this.graphmacd.destroy();`

#### Live demo with steps to reproduce
http://jsfiddle.net/BlackLabel/5gsmy12w/1/

Steps:
1. click destroy
2. error in browser console

_Internal note:_ Might be related to #8847

[2018-08-28 13:47] pawelfus commented on #8848
**Workaround:**
Overwrite `destroy()` for MACD, demo: http://jsfiddle.net/BlackLabel/u128rx05/

Snippet:

[code]

[2018-08-28 14:07] pawelfus commented on #8847
**Workaround:**
Demo: http://jsfiddle.net/BlackLabel/8mfz62y9/

Snippet:
[code]

[2018-08-28 16:09] oysteinmoseng opened #8851 "yAxis.reversed=false on maps causes issues"
We should consider either forcing `yAxis.reversed` for maps, or take a look at the logic here.

Firstly, not reversing the yAxis does not appear to make a difference for map areas in terms of appearance, at least with GeoJSON loading. Note that the GeoJSON loader inverts the y coordinate regardless of yAxis orientation.

For mappoints and bubbles, reversing the yAxis seems to cause positioning and

[2018-08-28 17:15] mattnesterenko opened #8853 "Tooltips and hover-overs not working for points at the auto-determined max of the Y-axis"
#### Expected behaviour
Tooltips and hover markers should be visible for the points at the top of a series

#### Actual behaviour
No tooltips or hover markers are visible. Highcharts thinks the points are outside of the chart (`isInsidePlot` fails - because the line plotY is slightly negative - which I do not think it should be). This results in an empty KD tree and we never get point events.

###

[2018-08-29 01:19] DongShi opened #8854 "support assign a percentage to series.pie.dataLabels.distance property"
#### Expected behavior
With a percentage, we can denote how far away the data labels should be placed in related to the radius length.

#### Actual behaviour

See document(https://api.highcharts.com/highcharts/series.pie.dataLabels.distance):
distance: NumberSince 2.1
The distance of the data label from the pie's edge. Negative numbers put the data label on top of the pie slices. Connectors are on

[2018-08-29 04:45] vishalpherwani commented on #8731
@cvasseng @TorsteinHonsi : any update on the fix?

[2018-08-29 08:01] KacperMadej commented on #5009
Hi @LionelMarbot

As a workaround you could set [`useHTML` for axis labels](https://api.highcharts.com/highcharts/xAxis.labels.useHTML) to `true`.

The **problem**: **~5 seconds** to render
http://jsfiddle.net/BlackLabel/grfvadp7/

The **workaround**: **<0.2 seconds** to render
http://jsfiddle.net/BlackLabel/grfvadp7/1/

[2018-08-29 08:11] neewbee opened #8855 "Boost module support mappoint?"
![image](https://user-images.githubusercontent.com/13777940/44774308-66f3b000-aba5-11e8-8aa7-cd2564a0b8f7.png)

there are approximately 50,0000 mappoints in this map, and the render process is very slow.

according to the doc

It seems that there is no way to render mappoints using canvas, or am I missing something?

[2018-08-29 08:18] sebastianbochan commented on #8853
Hi @mattnesterenko,
Thank you for the reporting. The problem is more complex and related with the fact that in this scenario the  `searchKDTree` function can not find a point according to mouse event x/y coordinates. As a result the `hoverPoint` is undefined and the tooltip is missing.

**Workaround:**
Use [tickPositioner](https://api.highcharts.com/highcharts/tooltip.positioner) and set the max v

[2018-08-29 08:41] pawelfus commented on #8091
Hi @PadharaHitesh

Unfortunately, this is not enough to let us debug the issue and fix it, please provide more details. See https://github.com/highcharts/highcharts/issues/8091#issuecomment-416837853

[2018-08-29 08:47] pawelfus commented on #8854
Hi @DongShi

Thank you for your suggestion! Actually it's already reported on our UserVoice: https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api/suggestions/3072785-pie-label-distance-as-percentage-of-pie-size - please vote for this feature

[2018-08-29 09:55] pawelfus commented on #8855
Hi @neewbee

As you pointed out, Boost module is a module for Highcharts and Highstock, not Highmaps. It is already requested on our UserVoice: https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api/suggestions/34799527-boost-module-for-mappoint - please vote for this feature.

[2018-08-29 12:06] Memija opened #8856 "Highcharts flickers when hover event occurs over the chart or a click event next to it"
#### Expected behaviour

When clicking on a element next to the Highchart or hovering over Highchart elements the graph should be drawn correctly. The Bug does not occurs on Chrome or IE browsers.

#### Actual behaviour

Highcharts graph is broken when either clicking on the element next to it or when a hover event is performed over random elements of the chart itself. Once the graph is broken the

[2018-08-29 12:11] Bjarkias commented on #6538
This is a bit inconvenient when using your react wrapper (highcharts-react) as it doesn't provide a reference to the chart object.

Updating the options object is the only method of control and updating the events has no effects.
Effectively you can't update the event handlers.

[2018-08-29 12:20] pgusic opened #8857 "Highcharts Waterfall low value for yAxis point"
#### Expected behaviour

Waterfall chart should start at "low" value (series.data.low), the point should not start at bottom of the chart.

#### Actual behaviour

While testing Highcharts v6.0.7 I found that Waterfall chart yAxis point does not accept "low" value anymore. The same option in the Column chart works and the point does not start at the bottom but at the "low" value.

I tried it with a

[2018-08-29 15:38] KacperMadej commented on #6538
Hi @Bjarkias

As a workaround you could set up the event function to call a function that is placed outside of chart's configuration and update that.
Demo: http://jsfiddle.net/BlackLabel/631f04k8/
Steps:
1. open browser console
2. drill down
3. see console messages
4. click update button
5. drill up and back down
6. see new console message

[2018-08-29 18:07] thomasp11 commented on #8803
I have a Windows 10 VM running under VMWare Fusion on macOS that is also having this issue on on Chrome. This was the page I went to to test this:

https://www.highcharts.com/demo/line-boost

This does work on Edge. [Here](https://github.com/highcharts/highcharts/files/2333245/chrome_gpu.txt) is the report from going to chrome://gpu. [This](https://github.com/highcharts/highcharts/files/2333246/ww

[2018-08-29 20:33] MirzetKameric opened #8859 "xAxis not working with Navigator"
#### Expected behaviour
It should work. I use it with VueJS.

#### Actual behaviour

When using navigator : {enabled: true} with highcharts, and adding a couple of series to a chart, when I add xAxis or yAxis property to the chart, it all crashes. I get errors in console:

Uncaught TypeError: Cannot set property 'top' of undefined
at a.Chart.eval (stock.js?37d8:105)

TypeError: Cannot read propert

[2018-08-30 05:35] gizmocuz opened #8860 "Drop down menu partly visible"
#### Expected behaviour
Menu overlaps chart/page

#### Actual behaviour
Menu gets chopped at the bottom of the chart

#### Live demo with steps to reproduce
https://jsfiddle.net/0zbs765u/

If you make the chart small (in height) the drop down menu (to export the chart as PNG for example) gets chopped at the bottom of the chart.
This is specially noticeably on mobile devices as all charts seem to h

[2018-08-30 06:03] sebastianbochan commented on #8859
Hi @MirzetKameric,
Thank you for reporting. Please let me know if problem appears also in native Highstock (without vueJS)? Could you setup a simple demo which will allow us to debug and prepare a workaround / fix?

[2018-08-30 06:05] sebastianbochan commented on #8859
Hi @MirzetKameric,
It looks like the issue exists in the vueJS wrapper, reported here: https://github.com/highcharts/highcharts-vue/issues/20 and the problem is solved.

[2018-08-30 06:05] #8859 closed

[2018-08-30 06:26] sebastianbochan commented on #8860
Hi @gizmocuz,
Thank you for reporting. The issue is duplicate of https://github.com/highcharts/highcharts/issues/7671

[2018-08-30 06:26] #8860 closed

[2018-08-30 07:38] patryknut commented on #1982
Hello,

I think the issue is still present.
Here is a little bit modified official Highcharts demo of arearange, with enabled legend and dashStyle changed to 'Dash':

https://codepen.io/anon/pen/vzymLB

The plot line is dash, but there is solid dot in legend symbol:

![image](https://user-images.githubusercontent.com/35264502/44836742-0ceffa80-ac38-11e8-971b-4104c013bbe7.png)

[2018-08-30 08:18] oysteinmoseng commented on #1982
Reopening for discussion.

I am not sure what we would expect in the legend here. Comments @TorsteinHonsi @jon-a-nygaard?

[2018-08-30 08:34] ejubkadric94 opened #8861 "Halo on pie charts is not shown when defined through series"
I wanted to make halo different for each slice of pie chart, but that is currently not possible. It is only possible to define halo through plotOptions, but then the halo is the same for all pie slices.

#### Expected behaviour
Halo should behave as specified for each data point of series.

#### Actual behaviour
Chart keeps default halo, despite the fact that different halo is specified for each d

[2018-08-30 10:12] pawelfus commented on #8520
I'm not convinced. The same scenario works in Android, so most probably it's a problem with iOS. I remember other issue, where I simply added `touchStart` event, copy of `mousedown`. After the release we received reports that something happens twice on mobile devices (including iOS mobiles!). We needed to revert the commit..

Possible workaround is to add `touchstart` event and simply call this tw

[2018-08-30 10:25] pawelfus commented on #1982
I think it's just another example why we should let users decide legend symbol - by default it uses rectangle symbol with marker color. Simple change for `drawLegendSymbol` to `drawLineMarker` resolves the "issue".

Demo: https://codepen.io/anon/pen/jvVYrE

Snippet:
[code]

[2018-08-30 10:36] jon-a-nygaard commented on #8225
Closing this issue as it appears to be solved. If this is not correct, please give a comment and we will consider reopening the issue.

[2018-08-30 10:36] #8225 closed

[2018-08-30 10:36] aaronplanell commented on #8520
Hello @pawelfus ,

Good news! I have tried both examples:
- Without workaround: https://jsfiddle.net/BlackLabel/mg3rakq1/2/show
- With workaround: https://jsfiddle.net/BlackLabel/cyv7j9x0/2/show

With an iPad the workaround **works** :grinning:

Do you think that it will be a new release of Highcharts with this workaround?

Thanks a lot for your job!

[2018-08-30 10:46] pawelfus opened #8862 "yAxis updated when scrollablePlotArea is active"
#### Expected behaviour
Updating yAxis/xAxis should overlay scrollable box like on init.

#### Actual behaviour
Updating yAxis/xAxis doesn't overlay scrollable box like on init.

#### Live demo with steps to reproduce
https://jsfiddle.net/BlackLabel/jfco1L8z/

Steps:
- click on "update" button
- observer yAxis labels hidden below the overlay box

#### Product version
n/a

#### Affected browser(s)

[2018-08-30 11:42] Denyllon commented on #8857
If something _worked_ on specific version and wasn't documented at all (I checked the documentation of v4.2.3), then we can assume that was some type of undesirable behaviour. I see that `waterfall` series inherits from `column` series, on which the low parameter still works as you described, but it also doesn't occurs in documentation.

If you would like to get similar effect, please try to use s

[2018-08-30 11:42] #8857 closed

[2018-08-30 11:43] pawelfus commented on #8520
Thanks for the test!

@TorsteinHonsi - what do you think? Should we simply bind `touchstart` event to `hide()` menu?

[2018-08-30 11:43] KacperMadej commented on #8856
Hi @Memija

Unable to recreate - please add a demo and describe precise steps required to recreate the problem.

[2018-08-30 11:48] pawelfus commented on #8861
Hi @ejubkadric94

Thank your for reporting the issue. You are right, halo can be defined on **series** level, not **point** level. Defining in series object works fine: http://jsfiddle.net/BlackLabel/n7fu8zkb/5/

Please, create an idea on our [UserVoice](https://github.com/highcharts/highcharts) and vote for it. Thanks!

[2018-08-30 11:55] pawelfus commented on #8861
## Workaround:
Manually apply states for halo after point state's changed:

### Demo:
http://jsfiddle.net/BlackLabel/g0asqnhy/

### Snippet:
[code]

[2018-08-30 12:02] #2792 closed

[2018-08-30 12:13] KacperMadej commented on #3953
Doesn't look like a but and it's about the plugin that has it's own repository for bug reporting, so if you would like to reopen please open an issue there - https://github.com/highcharts/draggable-points/issues

[2018-08-30 12:13] #3953 closed

[2018-08-30 12:43] TorsteinHonsi commented on #8731
Hi @vishalpherwani, we're working on a fix, expect it to be fixed pretty soon.

[2018-08-30 12:44] ejubkadric94 commented on #8861
Hello @pawelfus
Thank you for replying. You are right, in documentation it is stated that it can only be set on **series** level. BUT, there are some other properties which are also supposed to work only on series level, but they also work on **point** level.
For example `series.pie.states.hover.borderColor` and `series.pie.states.hover.borderWidth` (Those are same in column charts, and on other c

[2018-08-30 12:55] Abrissirba opened #8863 "Not able to show series only in navigator"
#### Expected behaviour
Being able to show multiple series in navigator and without showing them in the normal chart area.

#### Actual behaviour
This worked before https://github.com/highcharts/highcharts/pull/8453 by setting showInNavigator = true and visible = false.

#### Live demo with steps to reproduce
https://jsfiddle.net/je5zro78/24/
switch between 6.1.0 and 6.1.1 and click on addnavigato

[2018-08-30 13:46] #8731 closed

[2018-08-30 13:46] sophiebremer commented on #4876
Hi everyone! I published a preview of the declarations for highcharts in my personal repository. You can test it by `npm i https://github.com/sophiebremer/highcharts-declarations-alpha.git` or download the declaration from https://github.com/sophiebremer/highcharts-declarations-alpha/blob/master/highcharts.d.ts and place it directly into `./node_modules/highcharts/`. Please let us know, if the dec

[2018-08-30 13:47] TorsteinHonsi commented on #8731
Demo with the fix applied: http://jsfiddle.net/highcharts/c9ek6pdb/14/

We're just preparing a release, and expect it ready for publishing tomorrow or early next week.

[2018-08-30 14:23] ejubkadric94 opened #8864 "Unable to set connectorColor on point level"
I need to set the connectorColor to be different for different pie slices. Currently it seems that it is only possible to set it on series level, and if done so, all points will have the same color of connector line.
Is there some workaround for this, to make it work on **point(slice)** level?
Thanks

#### Live demo with steps to reproduce
http://jsfiddle.net/9k0endv5/

#### Product version
6.1.1

[2018-08-30 14:28] pawelfus commented on #8861
Thank you for pointing this out! It looks like a bug in our docs, for example: https://api.highcharts.com/highcharts/series.pie.data should describe `states` with list of available options or at least reference `states` with limitations.

[2018-08-30 14:42] pawelfus commented on #8863
Hi @Abrissirba

Thank you for reporting this issue. This is expected behaviour: `visible` option should be inherited from base series. If you want to show series only in navigator, please set `series.navigatorOptions.visible = true`, demo: https://jsfiddle.net/BlackLabel/je5zro78/27/

[2018-08-30 14:42] #8863 closed

[2018-08-30 14:51] zlateskud opened #8865 "If specified the "column" for each node, the links between nodes are not drawn correctly"
Hello,

We have a problem with the sankey diagram.

If specified the "column" for each node, the links between nodes are not drawn correctly.
Besides that, in Internet Explorer 11 compatibility mode 7, using oldie.js the graphic isn't showing at all if is specified the column. Without it everything looks ok.

In attachment you find the code example

Some images on different browsers:
1)With no col

[2018-08-30 14:53] cvasseng commented on #8633
Support for all the regular symbols (i.e. `diamond square circle triangle triangle-down`) has now been added to boost through baf771a ([pull request](https://github.com/highcharts/highcharts/pull/8866)):

https://jsfiddle.net/egm28tn5/

Custom symbols can conceivably be added by forking the module and using [this](https://github.com/highcharts/highcharts/blob/feature/boost-marker-pool/js/modules/b

[2018-08-30 15:26] paulo-raca commented on #7614
Looks like this problem is back. I noticed it for the first time today

[2018-08-30 16:41] raf18seb opened #8867 "3d + zooming - yAxis highlighted when we click and drag over it"
When 3d and zooming are enabled in a column chart and we start dragging out of the plot area (over y-axis), the y-axis is being highlighted.

![y-axis selection](https://user-images.githubusercontent.com/23310742/44865953-1901a980-ac84-11e8-92de-e3b346f62499.png)

#### Live demo with steps to reproduce
https://jsfiddle.net/BlackLabel/b2g6j0ax/

#### Product version
6.1.1

#### Affected browser(s)

[2018-08-31 06:37] AmmyXu opened #8868 "Label automatic rotation fail if step is set"
#### Expected behaviour
Labels rotate automatically when they overlap horizontally

#### Actual behaviour
If step is not set, the label can be automatically rotated. Otherwise, the rotation will fail.

#### Live demo with steps to reproduce
http://jsfiddle.net/ammyxu/568ec9rv/16/

**without Setp**
![image](https://user-images.githubusercontent.com/29430746/44896560-33429280-ad2b-11e8-9082-27cc18ec

[2018-08-31 07:43] Memija commented on #8856
I am unable to create JSFiddle that will have a bug present. The graph where the bug is present is part of the React application and the graph itself gets disturbed on any hover or click event. I am attaching the image of the bug. The issue is not present on Chrome or IE browser, only in Firefox, and any resizing of the window or just scrolling makes the graph correct it self.

![image](https://us

[2018-08-31 08:13] #8633 closed

[2018-08-31 09:07] KacperMadej commented on #8856
If we cannot the problem and there's no demo for us to work with, then I think I can only advise you to debug the problem yourself - use highcharts.src.js instead highcharts.js to work with readable code, and remove all code step by step until you will work with minimal demo and when you find the source then please let us know.

[2018-08-31 09:18] pawelfus commented on #8868
Hi @AmmyXu

Isn't that a direct duplicate of #8632 ? Exactly the same issue: setting step causes overlapping (https://github.com/highcharts/highcharts/issues/8632#issuecomment-405503476).

[2018-08-31 09:37] pawelfus commented on #7614
Hi @paulo-raca - that a temporary problem with our exporting server, everything should be fine again. Could you confirm?

[2018-08-31 09:54] AmmyXu commented on #8868
it is a new problem

[2018-08-31 10:03] KacperMadej commented on #8868
@AmmyXu Please describe the difference, so we could avoid closing this issue as a duplicate.

[2018-08-31 10:33] KacperMadej commented on #8865
Hi @zlateskud

Thank you for reporting about the bug.

After debugging in IE7 looks like there's a problem with `forEachPolyfill`.
It should:

but it runs for all array indexes from 0 to length-1

[code]

#### As a workaround:
use this code after loading `oldie` module, but before creating any charts:
[code]

[2018-08-31 10:49] KacperMadej commented on #8864
Hi @ejubkadric94

Thank you for reporting about the enhancement idea - next time please use userVoice to suggest new ideas or features. The most popular ideas are getting implemented. https://highcharts.uservoice.com/forums/55896-general

#### As a workaround:
use the code in the demo below:
http://jsfiddle.net/BlackLabel/31shq4k8/

In short - changed connector stroke to:
[code]

[2018-08-31 11:05] KacperMadej commented on #4045
Works fine now (version 6.1.1). Closing as resolved.

In case you still can recreate the problem please provide more details about the problem and it could be reopened.

[2018-08-31 11:05] #4045 closed

[2018-08-31 12:50] vishalpherwani commented on #8731
Thank you @TorsteinHonsi ! please update once it is published.

[2018-08-31 13:04] #8861 closed

[2018-08-31 13:57] paulo-raca commented on #7614
Thank you!

[2018-08-31 15:47] Memija commented on #8856
That could not work as the graph would fix itself as soon as any break point would be hit. The graph would only flicker while the hover or click event is being performed. All this being said I have managed to solve the issue by setting position of the graph parent div to sticky. After that change the bug is no longer present. Thank you for the help.

[2018-08-31 15:47] #8856 closed

[2018-09-01 13:34] AmmyXu commented on #8868
Sorry, I may not have described it clearly, so that you can not understand.
The problem of #8632 is how to automatically rotate labels when they are long.
The problem of this issue is that when the step attribute is set, the solution given in #8632 fails and the labels are always placed horizontally rather than rotated automatically.

[2018-09-01 20:00] arondaniel opened #8873 "Heatmap w/ boost-canvas not centered on chart"
#### Expected behavior
Heatmap canvas centered in chart area

#### Actual behavior
Heatmap canvas shifted left/up and clipped

#### Live demo with steps to reproduce
Your own heatmap demo shows this problem (at least for me it does...)
https://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/heatmap-canvas/

Remove the boost-canvas include and it draws fin

[2018-09-02 07:56] chen365409389 opened #8874 "Unable to display dynamic data in IE8"
#### Expected behaviour
display dynamic data in IE8
#### Actual behaviour
unable to display dynamic data in IE8
#### Live demo with steps to reproduce
I get the archive from official website,in examples\dynamic-update , I import the oldie.js after highcharts.js,but still cann't display dynamic data in IE8.
I noticed that if i invoke addPoint method like "series.addPoint([x, y], true, true);",chart

[2018-09-03 06:40] zlateskud commented on #8865
Hi @KacperMadej ,
this solves the problem in IE11/CM7, but remain the problem with the column.
If specified the "column" for each node, the links between nodes are not drawn correctly.

![a1](https://user-images.githubusercontent.com/7415552/44971178-49379980-af5d-11e8-8162-a9cb3e819c0d.png)

Thank you.

[2018-09-03 06:51] scipper commented on #4602
What about multiple series?

[2018-09-03 06:54] karthiiivgn commented on #8815
Still i'm facing Highchart export issue.

[2018-09-03 09:41] #7815 closed

[2018-09-03 10:12] #8847 closed

[2018-09-03 10:13] #8848 closed

[2018-09-03 10:17] pawelfus commented on #4602
Since v5 you can use [`series.navigatorOptions`](https://api.highcharts.com/highstock/series.line.navigatorOptions) which can be set for each series separately: http://jsfiddle.net/BlackLabel/v4p9kmhj/45/

[2018-09-03 10:21] #8652 closed, assigned to jon-a-nygaard

[2018-09-03 10:28] scipper commented on #4602
Thanks for the hint! 😊

[2018-09-03 10:33] KacperMadej commented on #8868
Thank you for the clarification @AmmyXu

[2018-09-03 10:34] KacperMadej commented on #8856
Thank you for sharing your solution @Memija

[2018-09-03 10:36] KacperMadej commented on #8864
Let's keep this open until it's implemented or reported on userVoice

[2018-09-03 10:55] KacperMadej commented on #8731
@vishalpherwani version 6.1.2 was published.
Demo with version 6.1.2: http://jsfiddle.net/BlackLabel/8po7m3ct/

[2018-09-03 10:57] KacperMadej commented on #8815
@karthiiivgn Please continue on the moved issue to avoid duplication: https://github.com/highcharts/node-export-server/issues/164

[2018-09-03 11:29] chen365409389 commented on #8874
yes,it works fine in Chrome and IE9, but got issue in old IE browsers(IE6,IE8).
I open the official demo url in IE9, it tips need add oldie.js , so I download the latest archive from https://code.highcharts.com/zips/Highcharts-6.1.2.zip , and got the same issue
Thanks

[2018-09-03 11:37] arondaniel commented on #8873
Chrome Version 68.0.3440.106 (Official Build) (64-bit) on OS X 10.11.6

<img width="986" alt="screen shot 2018-09-03 at 7 34 37 am" src="https://user-images.githubusercontent.com/3535137/44984824-38caf300-af4c-11e8-911e-dac11d5aaabf.png">

[2018-09-03 12:33] KacperMadej commented on #4072
When using title with `useHTML: true` use inline style instead of style for full HTML support.
Demo: http://jsfiddle.net/BlackLabel/edo6ty78/

Closing as resolved, but if you have more info about the problem the issue could be reopened.

[2018-09-03 12:33] #4072 closed

[2018-09-03 12:44] vishalpherwani commented on #8731
Thank you @KacperMadej

[2018-09-03 14:43] pawelfus commented on #8873
Thanks for the screenshot!

Just tested on OS X 10.11.6 and 10.13.6, for both I have the same result - nothing is cut off. Could you check if it's not a problem with cache (e.g. test in incognito mode)? v6.1.2 was just released, maybe it's connected.

[2018-09-03 16:32] arondaniel commented on #8873
Incognito is disabled on my system but I did enable developer tools and reload the page with "Empty Cache and Hard Reload" and still see the problem. I also still see the problem w/ Safari private window.

Anyway I think I found the problem:

<img width="501" alt="screen shot 2018-09-03 at 12 18 50 pm" src="https://user-images.githubusercontent.com/3535137/44996320-4c3e8400-af75-11e8-9edc-2c07e67d

[2018-09-04 07:54] nosto-mikpou opened #8879 "Missing Sankey diagram legend"
#### Expected behaviour
Sankey diagram: adding ```legend: {enabled: true}``` legend to the default position of the chart. Note: This is the default value for legend

#### Actual behaviour
The legend is not visible or contains anything
![screen shot 2018-09-04 at 10 45 49](https://user-images.githubusercontent.com/12759991/45017233-c3385300-b02f-11e8-91e6-3a90bf3a9bb7.png)

#### Live demo with step

[2018-09-04 09:04] wchmiel opened #8880 "Changing extremes using navigator cause wrong data range when a chart is inverted."
#### Expected behaviour
Changing extremes using navigator should show correct data range.

#### Actual behaviour
Changing extremes using navigator cause wrong data range.

#### Live demo with steps to reproduce
https://jsfiddle.net/wchmiel/pv8xa1d6/

#### Product version
since Highstock 6.0.5
commit that caused this bug: [https://github.com/highcharts/highcharts/commit/b75814dd7](https://github.co

[2018-09-04 09:28] pawelfus commented on #8873
Thanks. This is strange. I was hoping for incognito mode, maybe it's caused by a plugin? It looks the same for me:

![screen shot 2018-09-04 at 11 27 17](https://user-images.githubusercontent.com/1453926/45022878-94bd7680-b035-11e8-8539-84cb8ef507d7.png)
And clip-paths:
![screen shot 2018-09-04 at 11 27 35](https://user-images.githubusercontent.com/1453926/45022868-9129ef80-b035-11e8-9dc5-144521ed

[2018-09-04 09:44] #8880 closed

[2018-09-04 09:50] pawelfus commented on #8879
Hi @nosto-mikpou

Thanks for reporting the issue. In sankey diagram, you need to enable `series.showInLegend` option: https://jsfiddle.net/BlackLabel/oepjasdh/2/

Docs: https://api.highcharts.com/highcharts/series.sankey.showInLegend

[2018-09-04 09:50] #8879 closed

[2018-09-04 10:50] oysteinmoseng commented on #7536
Seems to be working fine now.

[2018-09-04 10:50] #7536 closed

[2018-09-04 10:53] oysteinmoseng commented on #7884
Seems to be working fine now.

[2018-09-04 10:53] #7884 closed

[2018-09-04 10:56] oysteinmoseng commented on #7372
Seems to be working fine now.

[2018-09-04 10:59] oysteinmoseng commented on #7372
Turns out it is still an issue. Labels will not overlap each other, but in some cases the label will still have a width that is greater than the cell.

[2018-09-04 11:04] oysteinmoseng commented on #7695
This seems to be working as expected now, so closing this. Feel free to reopen if there are still issues.

[2018-09-04 11:04] #7695 closed

[2018-09-04 11:07] oysteinmoseng opened #8882 "Gantt: Constant cell size in datetime GridAxis"
#### Expected behaviour
Some users seem to expect a constant cell size from the GridAxis.

#### Actual behaviour
We now (by default) crop to data min.

#### Live demo with steps to reproduce
https://jsfiddle.net/2shmed8z/6/ - The first Monday has a squished box.

#### Product version
Highcharts Gantt Alpha

[2018-09-04 11:09] oysteinmoseng commented on #8674
Also see #7551

[2018-09-04 11:25] nithyavanig opened #8883 "Lineargauge tooltip issue"
#### Expected behaviour
When datalabels are not enabled, tooltip should be shown.

#### Actual behaviour
When datalabels are set to false, tooltip does not work in linear gauge .

#### Live demo with steps to reproduce

https://jsfiddle.net/nithivani86/ny0btsv2/3/

#### Product version

Highcharts  v6.1.1
#### Affected browser(s)
chrome

[2018-09-04 12:50] pawelfus commented on #8883
Hi @nithyavanig

Linear gauge series is not officially supported (see #6847). Please use bullet series instead, demo for you: https://jsfiddle.net/BlackLabel/ny0btsv2/8/

[2018-09-04 13:52] tdornele opened #8886 "Tooltip remains after mouseleave on synchronized charts"
#### Expected behaviour
Tooltip should only be shown when the graph is being hovered over, on mouseleave it should fade out, the same as a non-synchronized chart.

#### Actual behaviour
Tooltip is not initially drawn, but once it is drawn on hover, it remains there unless you refresh the page.

An alternative solution would be using tooltip.hide(), however this only hides the tooltip itself, it do

[2018-09-04 14:03] pawelfus commented on #8886
Hi @tdornele

Thank you for reporting the issue. This is expected behaviour from lines:
[code]

Instead of preventing this, we can hide all tooltips:
[code]

Demo: https://jsfiddle.net/BlackLabel/vrcp59ds/

[2018-09-04 14:16] micronaut commented on #7614
Hi.  We are getting the same error today for PNGs.  JPEGs seem to be OK.

[2018-09-04 14:21] oysteinmoseng opened #8888 "Gantt: Static scale performance issue"
Static scale currently redraws the chart on load, which greatly hampers performance.

We should be able to do this in a better way.

Suggestion from Torstein:
Implement this where the length of the axis is determined, dropping the static scale module entirely. `Chart.render` also needs to take into account that height and width can be dynamic.

Currently, if performance is a concern, a possible wo

[2018-09-04 14:45] pawelfus commented on #8873
It's not how the image should look like, take a look (offset applied already in the image):

![screen shot 2018-09-04 at 16 38 58](https://user-images.githubusercontent.com/1453926/45038221-17a7f680-b061-11e8-92a1-d8c2adfb3331.png)

[2018-09-04 14:46] pawelfus commented on #7614
Thanks for reporting! We are investigating this.

[2018-09-04 16:10] KacperMadej opened #8889 "Wrong demo about custom approximation"
#### Expected behaviour
Include info about cropStart

#### Live demo with steps to reproduce
http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/stock/plotoptions/series-datagrouping-approximation (http://api.highcharts.com/highstock/plotOptions.series.dataGrouping.approximation)

[code]
should have `start` increased by `series.cropStart`

[2018-09-04 16:18] maximmold commented on #5391
Any updates on this one? I am experiencing the same issue.

[2018-09-04 16:34] maximmold commented on #5391
Seems okay if I do the useHTML option.

[2018-09-04 19:47] jee7 opened #8890 "Loading dependent Highcharts modules or highcharts-more via RequireJS fails from ver 6.1.2."
I'm using RequireJS to dynamically load Highcharts to specific pages on my site. I have configured it with shim to load the highcharts-more and additionals modules that I'm using. Starting from few days ago with the version 6.1.2 update in Highchart CDN, it now fails to correctly load the highcharts-more and the modules.

#### Expected behaviour

I expect to be able to use the highcharts-more and

[2018-09-04 19:51] cvasseng commented on #7614
We deployed another fix a few hours ago, and things seem to be properly resolved now. We're keeping a close eye on it in case it starts acting up again.

[2018-09-05 06:39] TorsteinHonsi commented on #8873
No issue here... I have no idea too. And it's very strange that it appears in both Safari and Chrome.

[2018-09-05 06:45] #8812 closed

[2018-09-05 06:52] #8440 closed

[2018-09-05 07:49] #8546 closed

[2018-09-05 08:45] pawelfus commented on #8890
Hi @jee7

Thank you for reporting this issue. You are right, something is wrong. We will check this.

*Internal note:*
@oysteinmoseng  The same demo on our CDN:

- v6.1.1 - http://jsfiddle.net/BlackLabel/6zypqedn/4/
- v6.1.2 - http://jsfiddle.net/BlackLabel/6zypqedn/5/

Responsible commit: https://github.com/highcharts/highcharts-assembler/commit/0d223359731079077a5a6ad693b53655e8352fc2

[2018-09-05 08:56] oysteinmoseng commented on #8890
Since `6.1.2` Highcharts supports AMD loading, which means shimming is no longer necessary. With AMD loading you have to do an additional initialization step, however. This is what is causing your demo to fail.

See [here](https://github.com/highcharts/highcharts#load-highcharts-as-an-amd-module) for more information on loading Highcharts with RequireJS.

I'll close this issue for now, but feel fr

[2018-09-05 09:16] pawelfus commented on #8874
@KacperMadej - could you take a look?

[2018-09-05 09:53] romanukas commented on #1613
@juicelink do I understand correctly that this is not just YTD, but universal problem - for any range selected? If range start date does not have a price, then actually chart should show last known price before it, not after it?

[2018-09-05 09:53] romanukas commented on #1613
@pawelfus is anybody working on this?

[2018-09-05 09:57] mgol opened #8892 "No way to completely disable HTML parsing from chart labels"
#### Expected behaviour

There should be a way to completely disable HTML parsing from chart labels.

#### Actual behaviour

Even with `useHTML: false` basic HTML is still allowed. It's not possible to disable that.

#### Live demo with steps to reproduce

https://jsfiddle.net/g2xc3ow5/9/

#### Product version

Latest Highcharts

#### Affected browser(s)

All

#### Other remarks

Sometimes, as a w

[2018-09-05 10:02] KacperMadej commented on #8874
It's a bug in `H.indexOfPolyfill` in `oldie`. The function there is wrongly called or just not as it should be.

### As a workaround:

use this code after loading `oldie` and before creating any charts:
[code]

_Internal note:_
Resolve this with #8346 too

[2018-09-05 11:10] Madhu94 commented on #8843
@pawelfus  Adding a reference to get the opposite stack sounds great ! It is not obvious that this.axis.stacks['-column'] is how you get it.

I will use your workaround for now.
Thank you for your help!

[2018-09-05 12:16] TorsteinHonsi commented on #8882
I half expected that `xAxis.startOnTick` would make a difference here, but it doesn't. First step in fixing this would be to find out why so.

[2018-09-05 12:30] pawelfus commented on #1613
@romanukas This feature is actually implemented - it's possible to control YTD button behaviour (and all other buttons too!). Issue was reopened because of bug in docs and demo only (which seems to be fixed too).

- [`Series.compareStart`](https://api.highcharts.com/highstock/plotOptions.series.compareStart)
- [`RangeSelector.buttons.offsetMin/Max`](https://api.highcharts.com/highstock/rangeSelect

[2018-09-05 13:32] TorsteinHonsi commented on #8865
I think the problem with the badly drawn columns is that you start by assigning nodes to column 1, and there are not nodes assigned to column 0. When starting from 0, it looks correct: http://jsfiddle.net/highcharts/0j8hds9u/18/

[2018-09-05 13:51] #8865 closed

[2018-09-05 16:02] fro3clr opened #8895 "Area not painted after resizing"
#### Expected behaviour
Areas are displayed and painted completely after each resizing

#### Actual behaviour
Ares are displayed but not painted completely after each resizing, but data present (look at screenshot)

#### Live demo with steps to reproduce
After a lot of resizings i have something like this
https://imgur.com/a/TmU20H6
#### Product version
"highcharts": "6.1.0", "highcharts": "6.1.2"

[2018-09-05 16:11] Izothep commented on #8867
I think the same, for now zooming suppose to be disabled in 3D charts, because zoomed area is not calculated correctly from the mouse coordinates. However, the idea of creating the fully supported 3D zooming sounds really good.

Related topic: https://github.com/highcharts/highcharts/issues/3131

_Internal note:_
To calculate the correct coordinates we may need to create the function that will be

[2018-09-05 19:14] aaron-sua opened #8896 "almond.js fails on no module name with v6.1.2; v6.1.1 is OK"
#### Expected behaviour
almond.js can find the module name

#### Actual behaviour
incorrect module build, no module name

#### Live demo with steps to reproduce
no live demo.  used in JIRA Universal Gadget to hit this error

#### Product version
Highcharts 6.1.2

#### Affected browser(s)
All

[2018-09-05 20:36] juicelink commented on #1613
Not sure it's implemented, see my last comment using comparestart and offsetmin/max... Can't have the right compare value if all points are not at equal distance.
Another exemple: I want to show the performance of us equities for one day. This day the value made a +5%. The chart should show the day before at 0% and the current day at +5% to represent the +5% performance. If the current day is mond

[2018-09-05 21:08] hosein commented on #3424
Any chance of getting this added?

[2018-09-06 07:02] TorsteinHonsi commented on #8896
Thanks for reporting!

@jon-a-nygaard , @oysteinmoseng I suspect it may have something to do with https://github.com/highcharts/highcharts-assembler/commit/0d223359731079077a5a6ad693b53655e8352fc2?

[2018-09-06 07:16] TorsteinHonsi commented on #8892
We can override the `buildText` function to insert raw unhandled strings into the `text` elements: https://jsfiddle.net/highcharts/g2xc3ow5/18/

[2018-09-06 07:18] #8874 closed

[2018-09-06 07:18] #8346 closed

[2018-09-06 07:21] #2165 closed, assigned to pawelfus

[2018-09-06 07:54] mgol commented on #8892
Is this an official API? I don't want to rely on something theoretically not supported as it may change between releases and then I'll have the issue back.

Ideally, there would be an option to skip this handling completely.

[2018-09-06 07:56] mgol commented on #8892
Also, the fact that `Highcharts.SVGRenderer#buildText` is called after the element has already been constructed means there's still a potential attack vector here.

[2018-09-06 08:03] c0ze commented on #5120
Hello there, sorry for digging this up, but it seems these were removed from `lang` with `6.1` release.

Any idea where these went ? Or how am I supposed to localize these texts ? Thanks !

[2018-09-06 08:18] oysteinmoseng commented on #8896
Most likely same issue as #8890.

@aaron-sua I am not familiar with almond.js, but with `6.1.2` and the new AMD support, there is an initialization step required for Highcharts modules (exporting, data module etc). Is there any way to add this step? You might also need to reconfigure almond.js somehow to account for the fact that Highcharts files are now AMD modules.

[2018-09-06 08:40] sebastianbochan commented on #8895
Hi @fro3clr,
Thank you for reporting. I tested the demo https://www.highcharts.com/demo/area-basic and was not able to reproduce it. Could you update our demo with your code and data for the further testing? Please let me know about OS you have.

[2018-09-06 08:40] Vovan-VE opened #8897 "Column 3D series with visible=false on init cause rendering bugs"
#### Expected behaviour

Correct rendering when toggling series visible.

#### Actual behaviour

Incorrect rendering depending on initial visible states.

#### Live demo with steps to reproduce

1. http://jsfiddle.net/p2cxt8Lz/6/

    First `visible=true`, second `visible=false`. Click `Series 2` twice to show and hide it. Here comes rendering bugs.

2. http://jsfiddle.net/p2cxt8Lz/8/

   First `v

[2018-09-06 08:42] TorsteinHonsi commented on #8892
No, but it's a snippet that will work with newer releases.

It runs after the `text` element has been generated, but before text content is applied to it. We must necessarily create the element before we add content to it.

[2018-09-06 08:49] TorsteinHonsi commented on #5120
They're in the Highstock API: https://api.highcharts.com/highstock/lang.rangeSelectorFrom

This link above goes to the Highcharts API, I will fix that for future reference.

[2018-09-06 08:54] pawelfus commented on #8892
Alternative solution:  translate tags to entity-based strings before passing it to Highcharts: https://jsfiddle.net/BlackLabel/g2xc3ow5/11/

[2018-09-06 09:12] KacperMadej commented on #8897
Hi @Vovan-VE

Thank you for reporting about the problem.

### As a workaround:
toggle series visibility on init instead of using options, demo:
http://jsfiddle.net/BlackLabel/75394o0d/

[2018-09-06 10:28] TorsteinHonsi commented on #8520
Yes I think we should add it.

[2018-09-06 10:32] TorsteinHonsi commented on #3424
For now we don't have plans for it, but of course we may reconsider. As I see it we need two things:

- A mapping of mouse coordinates back to chart coordinates. We already have logic for this, as used by the tooltip.
- Render the selection box as an arc instead of a rectangle. This is not very complicated, but probably requires some rewriting/splitting up of the current logic so that it gets easi

[2018-09-06 10:34] TorsteinHonsi commented on #8803
Thanks for the debug info! @cvasseng is out of the office until the middle of next week, he will have a look when he's back.

[2018-09-06 10:37] aaron-sua commented on #8896
It is the same issue. This is a plug-in for jira and as such I can't opt to
initialize in this new manner.  I'll simply stick to 6.1.1

On Thu, Sep 6, 2018, 4:18 AM Øystein Moseng <notifications@github.com>
wrote:

[2018-09-06 10:50] oysteinmoseng commented on #8896
If you are able to host the files yourself you can also modify them to remove the AMD loading. At the top of the files you will find

[code]
for highcharts.js and other main files. For the module files you will find

[code]

Simply removing this part will disable AMD support for the files, and loading will function as it did in `6.1.1`.

I am closing the issue for now, as there does not seem to be

[2018-09-06 10:50] #8896 closed

[2018-09-06 10:52] pawelfus opened #8899 "Setting chart.style.zIndex prevent rangeSelector from getting events"
#### Expected behaviour
Focusable range selector inputs

#### Actual behaviour
Because of default zIndex (`zIndex: 1`), we can not click on inputs (chart's inner container has `zIndex: 50`)

#### Live demo with steps to reproduce
https://jsfiddle.net/BlackLabel/dbLaygm1/1/

#### Workaround
Demo: https://jsfiddle.net/BlackLabel/sr65fgc9/
Snippet:

[code]

[2018-09-06 13:19] amruta30 opened #8900 "Solid gauge chart : Tooltip and series data label intersect"
#### Expected behaviour
Tooltip should be rendered above series data label.

#### Actual behaviour
Tooltip and series data label intersect.

#### Live demo with steps to reproduce
https://jsfiddle.net/amrutaJgtp/tq34x29e/

#### Affected browser(s)
All

[2018-09-06 13:43] pawelfus commented on #8900
Hi @amruta30

This is expected behaviour: dataLabel is rendered as HTML, tooltip as SVG. SVG is always rendered below HTML elements, from [docs](https://www.highcharts.com/docs/chart-concepts/labels-and-string-formatting):

[2018-09-06 13:43] #8900 closed

[2018-09-06 15:10] ivanmjartan opened #8901 "Bubble chart wrong X axis maximum calculated when min is set"
Hi there we have problem in our Bubble chart.

We have several series in bubble chart.

3 of them have X value [40542, 40907,41270] (3 bubbles) others are empty.

When we set min value of x axis to 40805 result graph is empty

#### Expected behaviour

there will be one bubble with value  41270

#### Actual behaviour

Graph is empty

#### Live demo with steps to reproduce
https://jsfiddle.net/9j07b

[2018-09-06 15:34] zombiehugs commented on #8803
@TorsteinHonsi  @cvasseng @pawelfus Latest stable Chrome (69.0.3497.81) has been released. I have confirmed with customers that after updating their browser the issue with large scale data sets has been alleviated. Obviously issue will exist for those left on Chrome 68 for whatever reason.

Release:
https://chromereleases.googleblog.com/2018/09/stable-channel-update-for-desktop.html

[2018-09-06 19:13] dandv opened #8902 "Add ES dynamic import example to README"
Thanks for adding the [ECMAScript modules](https://github.com/highcharts/highcharts#load-highcharts-from-the-cdn-as-ecmascript-modules) section to the README! The most interesting use case there would be loading via [dynamic imports](https://developers.google.com/web/updates/2017/11/dynamic-import), because this allows us to lazy load Highcharts easily, and code splitting without any bundlers.

Re

[2018-09-06 20:47] mlucool commented on #8843
@pawelfus Do you have any ideas for how to solve tooltip merging too?

[2018-09-07 01:10] chen365409389 commented on #8874
It's all good,I use the code in my chart and it works fine,Thanks for your effort!

[2018-09-07 04:44] amruta30 commented on #8900
Thanks. I will try the solution.

[2018-09-07 08:58] pawelfus commented on #8843
Hi @mlucool

You can use the same logic in [`tooltip.formatter`](https://api.highcharts.com/highcharts/tooltip.formatter).

[2018-09-07 09:40] epplestun commented on #3967
This bug is back again in 6.1.2

[2018-09-07 09:48] epplestun opened #8903 "Shared tooltip does not work on two datetime X Axis"
latest version does not work.
Example: http://jsfiddle.net/r0bkmahd/

but 4.0.4 does work.
Example: http://jsfiddle.net/r0bkmahd/1/

[2018-09-07 09:49] pawelfus commented on #8901
Hi @ivanmjartan

Thank you for reporting this bug. It looks like setting `max` resolves the issue too: https://jsfiddle.net/BlackLabel/9n0sjrae/

Simplified demo: https://jsfiddle.net/BlackLabel/9n0sjrae/4/

*Internal note:*
For some reason, `xAxis.max` is miscalculated:

[code]

Simple modification here:
https://github.com/highcharts/highcharts/blob/c6850f1c3c95ebc47b6ee8a7231b7c6bedaa510a/js/par

[2018-09-07 10:31] TorsteinHonsi commented on #8900
A new and better workaround (since Highcharts v6.1.2) is to set `tooltip.outside` to true: https://jsfiddle.net/highcharts/tq34x29e/1/

[2018-09-07 10:53] #8899 closed

[2018-09-07 12:08] jdelight commented on #8464
Thanks for this - I was wondering if the access to the Tooltip prototype was a supported API as it's not listed on the namespace page. Does this mean it is?

[2018-09-07 12:41] sophiebremer commented on #8464
Hi! Thank you for getting in touch with us.

It is not official yet, because the online documentation for it is missing. In the beta of the TypeScript declarations for Highcharts v6 this will already be exposed. This might happen next week, depending on the alpha test phase for the declarations.

You can count on both properties (chart.legend, chart.tooltip) and the corresponding classes, includin

[2018-09-07 13:41] pawelfus commented on #7051
Note: Actually both series are wrong:
- build-in data grouping does not consider first point at all
- custom data grouping approximation includes in the first package point that is outside the range

Resulting chart should have four (!) data points (for dates: 15th, 22nd, 29th and 5th). First point (`1313964000000`) is actually `21 of Aug at 22:00 UTC`. That means we should create a separate group

[2018-09-07 14:17] pawelfus opened #8906 "Pie 3D - tooltip not rendered when hovering edge of the slice"
#### Expected behaviour
Hover on slice edge should show tooltip and fire all connected events (e.g. click).

#### Actual behaviour
Events are not fired, tooltip not rendered.

#### Live demo with steps to reproduce
Official demo: https://www.highcharts.com/demo/3d-pie-donut
Demo with events: https://jsfiddle.net/BlackLabel/s76nfoe2/ (click on the edge, hovering directly from the outside of the cha

[2018-09-07 14:41] crazyUI opened #8908 "exportChartLocal does not download symbols in pdf"
#### Expected behaviour
Downloaded chart labels should be exactly same as the chart

#### Actual behaviour
Micron symbol is download as 1/4

#### Live demo with steps to reproduce
Chart has yaxis in microseconds labels. This label is downloaded correctly when using 'exportChart' method. But if we have to download all charts together, then we have to use 'exportChartLocal' function. The symbols are

[2018-09-07 15:41] KacperMadej commented on #8908
Hi @crazyUI

Please add a live demo of the problem.
Have you tried with current version - 6.1.2 ?

[2018-09-07 15:46] crazyUI commented on #8908
Hello,
Yes I tried with version 6.1.2 as well. If I export two charts together using exportChartLocal, I am getting micron symbol downloaded as 1/4 in the pdf. I am opening PDF with IE.

Thanks

[2018-09-07 15:48] boolkaco opened #8909 "How to change height plotLines or plotBands"
#### Expected behavior
Can I please please change the length of the line?

#### Live demo with steps to reproduce
http://jsfiddle.net/st2urd39/1/

#### Affected browser(s)
Google Chrome Version 68.0.3440.106 (Official Build) (64-bit)

[2018-09-07 16:42] merakmarey opened #8910 "update on dataLabels not working more than once."
#### Expected behaviour
enable/disable dataLabels

#### Actual behaviour
enable succeed, disable not working

#### Live demo with steps to reproduce

http://jsfiddle.net/otjs0uqf/15/

#### Product version

Latest from cdn
#### Affected browser(s)
Chrome

---------- HTML ----------------
<script src="https://code.highcharts.com/highcharts.js"></script>

<script
  src="https://code.jquery.com/jquery

[2018-09-08 06:17] TorsteinHonsi commented on #6919
I think we need more than indentation. In the hierarchy demo, it is hard to see what menu items belong to which level. Gantt tools typically have different _styling_ for levels, for example bold text for parent items and normal for child items. So what we need is

 * An options structure where the user can specify styling for the different levels of tasks. Possibly a `levels` structure similar to

[2018-09-08 13:50] markathomas commented on #7614
I only see a version in Git for 2.0.15 which I'm assuming doesn't have the latest fix?  How to apply without an upgrade available?

[2018-09-08 14:42] cvasseng commented on #7614
@markathomas: the express update is the fix. The issue came from one of the parser libraries express depends on (the `qs` library). The updated express version also updated this library to version 6.5.2 which had a fix for the issue.

We'll publish the update on NPM and tag the release early next week, we wanted to be sure the issue was actually gone first.

The easiest way of deploy it prior to t

[2018-09-08 15:03] markathomas commented on #7614
Thanks for the update.  I've already re-built using Git master but still experience the issue randomly.  About 1:8 is failing now.  We're implemented a retry mechanism for the time being.  If you want any help debugging just ask.

[2018-09-08 15:18] cvasseng commented on #7614
It's likely you're having a separate issue from the timeout problems we had on the official service.

Could you please open an issue on [the issue tracker](https://github.com/highcharts/node-export-server/issues) for the export server, and include the error output you're getting (if any)?

[2018-09-09 09:25] drmrbrewer opened #8911 "Setting softThreshold to false does not work for areaspline"
#### Expected behaviour

Setting `softThreshold` for a series to `false` is meant to allow the axis to go negative based on the `minPadding` value, as described [here](https://api.highcharts.com/highcharts/plotOptions.series.softThreshold).

#### Actual behaviour

This happens for `line` and `spline` series types, but not for `areaspline`.  For `areaspline` the axis refuses to go negative, i.e. th

[2018-09-09 12:29] jee7 commented on #8890
Thank you for your answer. Sorry for the delayed response, but I think I managed to get it working.

Basically I have a large number of my own RequireJS modules, which are loaded on specific pages on my site. Some of those use Highcharts and some do not. So I do not really want to put the new Highcharts initialization into the main requirejs() call (as it is shown on your example). That way it wou

[2018-09-10 07:49] sebastianbochan commented on #7614
_Internal note_
New issue is created here: https://github.com/highcharts/node-export-server/issues/166

[2018-09-10 08:00] sebastianbochan commented on #8910
Hi @merakmarey,
Thank you for contacting us. The issue is caused by using strings (`'true'` / `'false'`) instead of boolean type (`true / false`).

Fixed demo:
- http://jsfiddle.net/BlackLabel/0r9b6nvj/

[2018-09-10 08:00] #8910 closed

[2018-09-10 08:04] sebastianbochan commented on #8909
Hi @boolkaco,
Thank you for contacting us. This is our bugtracker, so for the general [support](http://www.highcharts.com/support) questions please use  forum / stackoverflow or email.

Ps. The plotBands / plotLines use full width / height, but you can use [Renderer](https://api.highcharts.com/class-reference/Highcharts.SVGRenderer) (path / rect) and add custom shapes with declared size.

[2018-09-10 08:04] #8909 closed

[2018-09-10 08:44] #8903 closed

[2018-09-10 08:52] ivan-nejezchleb opened #8912 "Stacked labels of first and last column are getting out of chart or truncated"
#### Expected behaviour
There should be same crop+overflow settings for stacked labels same as for data labels and stack labels should behave according it

#### Actual behaviour
Stack labels cant be positioned and are getting out of chart. Crop and overflow options don't work

#### Live demo with steps to reproduce
http://jsfiddle.net/gq4fahnk/2/

#### Product version
latest

#### Affected browser

[2018-09-10 09:36] pawelfus commented on #8911
Hi @drmrbrewer

Thank you for reporting the issue. You are right, this is expected behaviour for area-type series and can be configured through [`series.threshold`](https://api.highcharts.com/highcharts/series.areaspline.threshold) option: http://jsfiddle.net/BlackLabel/62n18bmo/3/ - however it does apply to the area shade too.

Alternative solution is to use [`yAxis.tickPositioner`](https://api.h

[2018-09-10 10:01] pawelfus commented on #8903
Hey @epplestun

Thank you for reporting the issue. To show points in the same shared tooltip `x-value` has to match. That behaviour has changed since v4.

**Workaround:**
Use the same x-values and translate labels in xAxis and tooltip: http://jsfiddle.net/BlackLabel/r0bkmahd/15/

@TorsteinHonsi FYI
This is the case where we compare `x` instead of `clientX` here:
https://github.com/highcharts/highc

[2018-09-10 10:08] pawelfus commented on #8912
Hi @ivan-nejezchleb

Thank you for your suggestion! I think you are right, this would be useful to share crop&overflow feature between dataLabels and stackLabels.

[2018-09-10 10:13] outils-tiers-metafactory opened #8915 "X Axis crosshair label not customizable"
#### Expected behaviour
Reading HighStocks documentation, it seems possible to customize the crosshair X axis label, specifying xAxis.crosshair.label.format (https://api.highcharts.com/highstock/xAxis.crosshair.label.format)

#### Actual behaviour
When setting xAxis.crosshair object, a custom label is shown but default crosshair X axis label is also shown and placed above.

#### Live demo with ste

[2018-09-10 10:27] TorsteinHonsi commented on #8674
Merging with #7551.

[2018-09-10 10:27] #8674 closed

[2018-09-10 10:43] TorsteinHonsi commented on #8674
Making the grid tick intervals dynamic fixes obvious issues when dealing with small or large time spans, but reveals some problems. See http://jsfiddle.net/highcharts/7qdbsmk1/9/.

1. Small time intervals don't fit well into the grid concept. For example, it makes little sense with a grid cell for half an hour or six hours. In this scale, time is linear. Check out if it is reasonably feasible to m

[2018-09-10 11:06] mbrodala opened #8916 "Missing dependency in Highcharts modules"
#### Expected behaviour
The Highcarts `heatmap` module should declare its dependency on the `highcharts` module. Otherwise it cannot register itself properly using the Highcharts API in case RequireJS is used for loading the modules.

#### Actual behaviour
Rendering the graph fails with [Highcharts error #17](https://www.highcharts.com/errors/17).

#### Live demo with steps to reproduce
https://js

[2018-09-10 11:09] mbrodala commented on #8916
This is what the head of the module file currenty looks like:

[code]

This is how it should look like instead:

[code]

[2018-09-10 11:11] drmrbrewer commented on #8911
Hmm, OK thanks @pawelfus so this isn't a bug but expected?  Personally I think it is surprising that the padding behaviour is so different when simply changing between `spline` and `areaspline`.

Well I foresee yet another workaround in my highcharts code ;)

Another option I guess is to use combine your first suggestion with `zones` to wipe out the fill below the zero line, which seems less hacky

[2018-09-10 11:40] jay2452 opened #8917 "xAxis.showEmpty: false not working in highstock"
#### Expected behaviour
The xAxis title and labels should get removed after clicking on legend.

#### Actual behaviour
After clicking on legend, the xAxis labes and title is not getting removed from the chart area.

#### Live demo with steps to reproduce

![highstock issue disable legend- 2](https://user-images.githubusercontent.com/8395843/45295356-0c027700-b51c-11e8-9f39-88ce633cd395.png)

http:

[2018-09-10 12:07] jon-a-nygaard commented on #8504
When clicking on "Equitiy" it drills down to its level (3 not 1) and when clicking on the button "Equity" it drills up to its parent which is "Wealth Creation".
To me this looks like the expected behaviour.

If you want to always drill back to the root of the sunburst when clicking on the button, then it can be achieved by overriding the drillUp function: https://jsfiddle.net/jon_a_nygaard/8qLfuzo

[2018-09-10 12:41] wchmiel opened #8918 "Boost module - y zoom type is not working properly."
#### Expected behaviour
With boost module enabled, a chart should be rendered properly after zoom in.

#### Actual behaviour
With boost module enabled, a chart is defective after zoom in.

#### Live demo with steps to reproduce
[http://jsfiddle.net/wchmiel/ru452ec8/](http://jsfiddle.net/wchmiel/ru452ec8/)

#### Product version
Broken since v6.0.5 after commit [https://github.com/highcharts/highcha

[2018-09-10 12:55] #8901 closed

[2018-09-10 13:05] TorsteinHonsi commented on #8908
Based on your description @crazyUI I set up this demo: http://jsfiddle.net/highcharts/q0bohkym/

Can you recreate the problem using this demo? The menu item use `exportChartLocal`.

[2018-09-10 13:47] jon-a-nygaard commented on #8553
@pawelfus No, that is not expected. Currently working on a fix for the issue.

[2018-09-10 14:02] crazyUI commented on #8908
![image](https://user-images.githubusercontent.com/13787217/45302155-92996300-b4e0-11e8-92ab-be7fe096a616.png)

Thanks for create the demo. I am trying to replicate issue there. But so far not able to.

[2018-09-10 14:25] rajeevsinghchib opened #8919 "Boost mode boosts all curves if boostThreshold specified non-zero for more than 4 curves"
#### Expected behaviour
It should boost only the curves for which boostThreshold is specified greater than zero value

#### Actual behaviour
Its working as expected until we specify boostThreshold(>0) for less than 5 curves, but boosts all curves if boostThreshold specified for more than 5 curves.

#### Live demo with steps to reproduce
https://jsfiddle.net/Ldojf7r8/1/

#### Product version
Highst

[2018-09-10 21:58] anselmbradford opened #8920 "Typo in code comment"
https://github.com/highcharts/highcharts/blob/c670516ce/js/parts/RangeSelector.js#L158 says `deafault` and should say `default`

[2018-09-11 05:27] lumberg72 opened #8921 "Old reflow method for printing doesn't work anymore (no more initReflow)"
#### Expected behaviour
The chart to resize to width of then print-page when printing.

#### Actual behaviour
Isn't resized to accommodate the print-page.

#### Product version
Highcharts 6.1.2

#### Affected browser(s)
Chrome

Previously I had been using the method shown here....
http://jsfiddle.net/highcharts/tp0qo0r9/2/
... and it was working beautifully.

But I just recently noticed that it do

[2018-09-11 07:16] TorsteinHonsi opened #8922 "Implement styled mode as an option."
With this enhancement, we serve only one built file, and styled mode will be toggled with a simple option, `chart.styledMode`.

Implementation is done in the [hc7/styled-mode](https://github.com/highcharts/highcharts/tree/hc7/styled-mode) branch.

#### Implementation plan
 - [x] Remove supercode comments and replace with inline check for `Chart.styledMode` or `Renderer.styledMode`.
 - [x] Identify

[2018-09-11 07:19] scott-ho commented on #1902
It's a 5.5 years issue. And no fix available. Does highcharts team take this seriously? For commercial users, that's really bad experience.

[2018-09-11 07:22] peterlacko opened #8923 "Bubble chart display labels for bubbles that are out of range in y-axis"
#### Expected behaviour
Bubble's label should not be shown when bubble is hidden by min option on y-axis.

#### Actual behaviour
Bubble's label is still visible, see bubble "Hungary" in provided demo, down-left, that should not be visible at all. Doesn't happen on x-axis

#### Live demo with steps to reproduce
https://jsfiddle.net/7vgs0fd4/3/

#### Product version
Highcharts v6.1.2

#### Affected

[2018-09-11 07:46] BrianLaughlan commented on #5009
@KacperMadej I tried to use your workaround with `useHTML` set to true, this causes more problems for me than it solves.

Yes, using that option fixes the drawing bug, but it leaves me with a not so useful html label that does not have the "built in" highcharts ellipsis etc. I tried to use CSS ellipsis, but it is not working properly.

Overflow and label positions are not calculated well (at all?)

[2018-09-11 08:06] marrocmau opened #8924 "heatmap-canvas: Problems render data on Chrome ver.68.0.3440"
#### Expected behaviour
Render data on large Heatmap canvas

#### Actual behaviour
I have a problems using Chrome.

Like you see in image using "old" chrome versione (not canary) your demo apps (large heatmaps) not render the data.

<img width="390" alt="issuechrome" src="https://user-images.githubusercontent.com/914987/45346653-0e131700-b5aa-11e8-9c5f-e7ddbff57e11.png">

#### Live demo with steps

[2018-09-11 08:34] pawelfus commented on #8917
Hi @jay2452

Thank you for reporting the issue. This is expected behaviour as per #705 - as long as extremes are defined (with navigator, those are always defined) the `showEmpty` option does not affect an axis.

Workaround works for this case too: http://jsfiddle.net/BlackLabel/aLj3xur4/3/

Related issues: #6190 and #705

[2018-09-11 08:34] pawelfus commented on #6190
Actually it's a duplicate of #705

[2018-09-11 08:43] pawelfus commented on #8924
Hi @marrocmau

Thank you for reporting this issue. It looks like the same issue described in #8803 - which seems to be a bug in Chrome v68. Could you try current (v69) Chrome release and let us know the result? Thanks!

[2018-09-11 08:49] pawelfus commented on #8920
Thanks for reporting this @anselmbradford !

[2018-09-11 08:51] marrocmau commented on #8924
On my MAC I have Chrome "69.0.3497.81 (Official Build) (64-bit)" and its works fine with Highcharts.

But our customers have different Windows Server 2008 and all use Chrome 68.0.3440.

I tried also to re-install chrome on Windows Server but the version that google gave me is always the same (68.0.3440).

How do i install the chrome ver.69?

[2018-09-11 08:51] pawelfus commented on #8915
Hi @outils-tiers-metafactory

Thank you for reporting the issue. The second label is not coming from crosshair, but from tooltip ([`tooltip.split`](https://api.highcharts.com/highstock/tooltip.split)). You can disable split option: http://jsfiddle.net/BlackLabel/Lq9v6ma4/1/

By default, crosshair does not have a label ([docs](https://api.highcharts.com/highstock/xAxis.crosshair.label.format): `Def

[2018-09-11 08:51] #8915 closed

[2018-09-11 08:59] pawelfus commented on #8911
Thank you for sharing workarounds @drmrbrewer! `areaspline` works the same way, simply `series.threshold` option has different default (`null` for spline, `0` for areaspline). Setting `threshold = 0` for a spline series has exactly the same result: http://jsfiddle.net/BlackLabel/x8ph7sqt/3/ The only difference here is that `threshold` controls extremes in both series, but in `area-type` also contr

[2018-09-11 09:05] pawelfus commented on #8921
Hi @lumberg72

Thanks for reporting the issue! The method now is called `setReflow` instead of `initReflow`: http://jsfiddle.net/BlackLabel/tp0qo0r9/44/

Alternative solution (not based on internal methods), use `Chart.load` event: http://jsfiddle.net/BlackLabel/tp0qo0r9/46/

[2018-09-11 09:05] #8921 closed

[2018-09-11 09:28] pawelfus commented on #8924
Go to options (top right corner) -> "Help" -> "About Google Chrome" -> wait for Chrome to update, click restart Chrome button.

[2018-09-11 09:28] pa775 opened #8926 "Wrong decimal separator in tooltip with multiple values for stagged charts"
#### Expected behaviour
For a stagged chart view the "point.stackTotal" should look like the normal value (comma for german numbers).

#### Actual behaviour
Currently the "point.stackTotal" shows a dot instead of of comma. See the old issue:
https://github.com/highcharts/highcharts/issues/8101

The behaviour should already be fixed (Issue 8101), but this doesn't work for stagged charts.

![image](

[2018-09-11 09:36] shiliangdn opened #8927 "minPointLength support for sankey chart"
#### Expected behaviour
We need to add  support for this attribute in sankey chart to avoid dataLabel overlap.

#### Actual behaviour
Right now, this attribute will be ignore in sankey chart.

#### Live demo with steps to reproduce

#### Product version

#### Affected browser(s)

[2018-09-11 09:42] marrocmau commented on #8924
_"Go to options (top right corner) -> "Help" -> "About Google Chrome" -> wait for Chrome to update, click restart Chrome button."

I knew it but there is only the text "Nearly up to date! Relaunch Google Chrome to finish updating."

After restart nothing has changed. Chrome is always in the v68

[2018-09-11 10:54] pawelfus commented on #8924
I'm sorry I don't know what's the issue then, I suggest to contact Chrome support and report them the upgrade issue.

[2018-09-11 10:56] pawelfus commented on #8927
Hi @shiliangdn

Thank you for your suggestions. Could you attach a demo where it's needed? It will help us to provide better solution. Thanks!

[2018-09-11 11:24] peterlacko opened #8929 "Bubble chart changes yAxis scale when setting min/max to xAxis"
#### Expected behaviour
Scale on yAxes should not be changed when I set min/max value on xAxis

#### Actual behaviour
When I set max value on xAxis (and thus hide point with maximal value on yAxes), yAxis is re-scaled to new values. This does not happen when I set max value on yAxis, i.e. xAxes doesn't change it's scale.

#### Live demo with steps to reproduce
https://jsfiddle.net/j6v41hL0/23/

##

[2018-09-11 11:34] inoyakaigor commented on #6405
@pawelfus Hi!
Yesterday I've got an out of memory error. I had wrong config (with xAxis.categories) and in this line browser throw exception.
https://github.com/highcharts/highcharts/blob/b9c683576110b58cedd46e09668e987053e74829/js/parts/Time.js#L745

It was happen because, I believe,  in `tickPositions` array had been containing ≈9 500 000 000 time numbers. Of course it is my mistake but if Highc

[2018-09-11 11:37] jnoorman commented on #7988
@wchmiel worked perfectly, thanks.

[2018-09-11 12:03] mbrodala commented on #8916
I just had a look and apparently **all** Highchart modules are affected, so none of these can currently be used with RequireJS.

[2018-09-11 12:18] chris-vecchio opened #8932 "legend.floating docstring shows legend.layout docstring"
#### Expected behaviour
https://api.highcharts.com/highcharts/legend.floating,
https://api.highcharts.com/highstock/legend.floating,
and https://api.highcharts.com/highmaps/legend.floating
should show the docstring for legend.floating.

#### Actual behaviour
The docstring for legend.layout is shown instead. From what I can tell, the @apioption for legend.layout was changed to legend.floating in c2

[2018-09-11 13:35] TorsteinHonsi commented on #5009
I'm working on this now, implementing a binary search for line wraps instead of the ineffective linear search. Expecting results tomorrow.

[2018-09-11 14:08] satub opened #8933 "Setting minPointLength on a reversed x-axis xrange-chart will squish all ranges to minPointLength"
#### Expected behaviour
When setting minPointLength to 1, xranges with 0 length should show up as if a vertical line, while wider xranges should render normally.

#### Actual behaviour
When x-axis is reversed, all ranges are squished into lines with width of 1, regardless of their width.

#### Live demo with steps to reproduce
(Template address gives me 404)
Demonstration fiddle:
https://jsfiddle.

[2018-09-11 15:35] Head commented on #8335
Having the same issue. Did you find a fix or workaround @ppotaczek?

[2018-09-12 07:34] drmrbrewer commented on #8911
OK so I'll keep my workaround in place, then.  Thanks.

[2018-09-12 09:44] pawelfus commented on #8933
Hi @satub

Thank you for reporting this bug!

[2018-09-12 09:45] KacperMadej commented on #8932
Hi @chris-vecchio

Thank you for reporting about this problem.

[2018-09-12 10:14] KacperMadej commented on #8926
Hi @pa775

Thank you for reporting about the problem.

**Workaround:**
Format is set by default only for `y`, so for `stackTotal` you could set it as `{point.stackTotal:.f}` to get a working chart: http://jsfiddle.net/BlackLabel/8oxLnhfd/2/

[2018-09-12 10:17] pawelfus commented on #8932
Related PR: #8931

[2018-09-12 10:35] chris-vecchio commented on #8932
@KacperMadej and @pawelfus My pleasure. Thanks for making a great charting library!

[2018-09-12 11:06] pawelfus commented on #6405
Hi @inoyakaigor

Thanks you for the suggestion! We used to throw `Highcharts Error 19` in v4.0.x (link: https://www.highcharts.com/errors/19). I'm not sure about the story behind removing this, probably users preferred removing additional ticks instead of the error.

@TorsteinHonsi
bisect leads to https://github.com/highcharts/highcharts/commit/db6981ed09b879d37320867c2d4ae41c795e8dbf#diff-ca66923

[2018-09-12 11:23] Laubi opened #8935 "Crosshair between two series"
#### Expected behaviour
To have the crosshair over the green series, but under the blue series.

#### Actual behaviour
The crosshair is over both

#### Live demo with steps to reproduce
http://jsfiddle.net/DavidLaubreiter/1e4jhdpv/

#### Product version
Tested with 6.0.7 and 6.1.2

#### Affected browser(s)
At least Chrome, but i guess its a general bug

[2018-09-12 11:29] pawelfus commented on #8929
Hi @peterlacko

Have you tried [`series.getExtremesFromAll`](https://api.highcharts.com/highcharts/series.bubble.getExtremesFromAll) ? For example: https://jsfiddle.net/BlackLabel/j6v41hL0/28/

[2018-09-12 11:43] pawelfus commented on #8935
Hi @Laubi

Thank you for reporting the issue. It looks like our docs are not clear enough: `series.zIndex` controls only zIndex between series. There's no way to place crosshair between series without DOM modification.

**Workaround:**
Manipulate DOM in `afterDrawCrosshair` event: http://jsfiddle.net/BlackLabel/57zvrkwd/

[2018-09-12 12:53] #5009 closed

[2018-09-12 13:47] #7051 closed

[2018-09-12 14:01] pawelfus commented on #8335
Demo with fix applied: http://jsfiddle.net/BlackLabel/quxLews1/24/

Note: In the next versions, you need to set `xAxis.min` for both, main and the navigator xAxis: http://jsfiddle.net/BlackLabel/quxLews1/23/ to reflect extremes in the navigator.

[2018-09-12 14:26] Izothep opened #8938 "Advanced stock chart issue"
#### Expected behaviour
Switching between demos should not cause any problems with the chart.

#### Actual behaviour
When switching between demos, and then changing the demos again, the chart starts to be drawn incorrectly, the axes are not visible and error in console is visible:

`Uncaught TypeError: Cannot read property 'element' of undefined
`

#### Live demo with steps to reproduce
https://ww

[2018-09-12 15:25] Ramkumar2411 opened #8939 "Need help/inputs in upgrade from 4.1.6 to 6.1.2"
#### Expected behavior
To be able to seamlessly upgrade Highcharts from version 4.1.6 to 6.1.2
(As a drop-in replacement)

#### Actual behavior
I use require to handle module loading(AMD)

When using Highcharts version 4.1.6 I  was loading Highcharts and its dependency like below :
[code]

Recently I upgraded Highcharts version to 6.1.2 and the charts stopped drawing as per earlier code.
After som

[2018-09-12 19:18] morejonleslie opened #8940 "Solid gauge not working after updating to 6.x versions"
#### Expected behaviour
Solid Gauge Charts keep working
#### Actual behaviour

I have a project in angularjs and I have a couple of solid gauge charts. They were working just fine until I updated to 6.x version, now I'm getting a Highcharts #17 error every time, I think it's not loading the modules correctly. Please help me
#### Live demo with steps to reproduce

#### Product version

Highcharts 6

[2018-09-12 20:19] dandv opened #8941 "Document the X value in series data named objects"
At https://www.highcharts.com/docs/chart-concepts/series, various series data examples are given. The "list of object[s] with named values" doesn't include an example to set the X value.

(also, there's the typo above, object -> objects).

[2018-09-13 00:01] nadim commented on #7175
I'm getting the same error here, but only when I try applying a fullscreen class to the chart:
http://jsfiddle.net/Lxn82jdr/

Any reason why this would happen? The `config` looks OK to me. Maybe I'm missing something?

Also, not sure why the number 11 is showing on the Y axis. This is something I've been looking into for a while in a number of charts.

Would really appreciate any help, and happy t

[2018-09-13 02:25] bensladden opened #8942 "No animation on pie chart using update method and Vue Wrapper"
#### Expected behaviour
It is expected that the charts will animate as shown in this example:
http://jsfiddle.net/0wp4ngy9/

#### Actual behaviour
No animation, the pie chart instantly changes to the most recent values. This also appears to be the case for bar and column charts

#### Live demo with steps to reproduce
https://codesandbox.io/s/y0x2561vk9

#### Product version
Highcharts 6.1.0
highch

[2018-09-13 07:14] TorsteinHonsi commented on #7175
Hi Nadim,

I can't see this error in your demo - what do you mean by applying a fullscreen class? I can't see a reference to that in the code either.

Regarding the number eleven, it is because the Y axis adds another category to make room for the bubbles, and since there is no category 11, it just prints the number. An empty string will fix that: http://jsfiddle.net/highcharts/Lxn82jdr/2/.

[2018-09-13 07:14] itjayaprakash opened #8943 "How to call API inside highchart in React Js ?"
Hi,

We are using  "highcharts": "^6.1.1",  in React App   "react": "^16.4.1",
how to  call the api and parse the data.

data: []
categories: []

Static data is working fine. but we need to change the dynamic data from API

Thanks

[2018-09-13 07:23] kajyr opened #8944 "Wrong ISO Code for Northern Cyprus"
#### Expected behaviour

Northern Cyprus should have code `CY`, and `NC` should be reserved for New Caledonia

Link to ISO standard:

https://en.wikipedia.org/wiki/ISO_3166-2:CY
https://en.wikipedia.org/wiki/ISO_3166-2:NC

#### Actual behaviour

New Caledonia is not available and `NC` points to Northern Cyprus

#### Live demo with steps to reproduce
https://jsfiddle.net/kajyr/nwmtLgof/

#### Affec

[2018-09-13 07:31] csigmanek opened #8945 "Boost module in combination of line chart and heatmap"
#### Expected behaviour
When using boost module for line chart and heatmap, both should render correctly.

#### Actual behaviour
(I achieved this by adding boostThreshold: 10 in the series plotOptions object)
Boost only on heatmap: Heatmap gets drawn in canvas, line chart is rendered correctly
Boost only on line chart: Heatmap is rendered correctly, line chart gets drawn in canvas
Boost not active

[2018-09-13 07:44] sebastianbochan commented on #8943
Hi @itjayaprakash,
Thank you for contacting us. The github is our bugtracker, so for the general [support](http://www.highcharts.com/support) cases, please use forum / stackoverflow or email.

[2018-09-13 07:44] #8943 closed

[2018-09-13 07:50] #8920 closed

[2018-09-13 07:52] csigmanek commented on #8945
A demo (not exactly the same, as it is in a large application, but hopefully a similar bug)
https://jsfiddle.net/7ov3sLbg/
Go to the chart at the bottom and hide / unhide "installation"
You'll see that the chart does not render correctly after unhiding the series.

[2018-09-13 07:54] #8933 closed

[2018-09-13 07:59] sebastianbochan commented on #8941
Hi @dandv,
Thank you for the reporting.

**Internal note**
@jon-a-nygaard can you update the article?

[2018-09-13 07:59] #8817 closed

[2018-09-13 08:01] #8335 closed

[2018-09-13 08:07] KacperMadej commented on #8940
Hi @morejonleslie

Thank you for reporting about the problem.
Please share the code that causing the problem or a live demo, so we could recreate the issue and debug it.

Are you using any wrapper for Highcharts in AngularJS?
Here's a working demo that you could change to show the problem you reported: http://jsfiddle.net/3mbykr8n/

[2018-09-13 08:15] Denyllon commented on #8942
This issue was moved to highcharts/highcharts-vue#29

[2018-09-13 08:15] #8942 closed

[2018-09-13 08:28] KacperMadej commented on #8944
Hi @kajyr

The change you are requesting is about `hc-a2` and in your demo you are using `hc-key`.

This cannot be changed to `cy` because the `cy` is already in use.

This can be changed to from `NC` to `CY`, as duplicates are allowed and Northern Cyprus doesn't have it's own ISO code.

`New Caledonia` is a part of `France` on the map - https://jsfiddle.net/BlackLabel/nwmtLgof/5/ (zoom in to the

[2018-09-13 09:29] TorsteinHonsi commented on #8919
#### Workaround
Set `boost.allowForce` to false: http://jsfiddle.net/highcharts/yan68ku1/

[2018-09-13 09:31] TorsteinHonsi commented on #8919
It's expected behaviour as per the [boost.allowForce](https://api.highcharts.com/highcharts/boost.allowForce) option. Set it to false to disable: http://jsfiddle.net/highcharts/yan68ku1/.

[2018-09-13 09:31] #8919 closed

[2018-09-13 09:40] rajeevsinghchib commented on #8919
This jsfiddle is not working and boost.allowForce is also not solving the problem.

Please look at the problem before closing the bug.

[2018-09-13 09:41] rajeevsinghchib commented on #8919
Please reopen this bug and close it when its fixed.

[2018-09-13 09:41] pawelfus commented on #8923
I think it makes sense to render this bubble. Changing extremes just a bit to get center inside the extremes and we have half bubble: https://jsfiddle.net/BlackLabel/7vgs0fd4/28/

[2018-09-13 09:42] rajeevsinghchib opened #8948 "Boost mode boosts all curves if boostThreshold specified non-zero for more than 4 curves"
#### Expected behaviour
It should boost only the curves for which boostThreshold is specified greater than zero value

#### Actual behaviour
Its working as expected until we specify boostThreshold(>0) for less than 5 curves, but boosts all curves if boostThreshold specified for more than 5 curves.

#### Live demo with steps to reproduce
https://jsfiddle.net/Ldojf7r8/1/

#### Product version
Highst

[2018-09-13 09:44] pawelfus commented on #8941
**Note**: names values object array format does not work for Highstock, where `datetime` axis is forced: https://jsfiddle.net/BlackLabel/x3vuw57d/ (by Highstock in this case we mean `stockChart` etc. constructors, `chart` constructor works the same way as in Highcharts).

[2018-09-13 09:46] KacperMadej commented on #6285
Responsive rules are using chart.update, so the problem is a duplicate of 6538
(marking this as a duplicate, because the other issue has more info)

[2018-09-13 09:46] #6285 closed

[2018-09-13 09:48] KacperMadej commented on #3495
Still an issue in version 6.1.3

[2018-09-13 09:49] jon-a-nygaard commented on #8916
Thanks for reporting. Our developer who implemented the AMD support is currently on vacation. He will have a look at the issue when he is back in the end of next week.

[2018-09-13 09:50] pawelfus commented on #8919
Fixed jsFiddle demo, please take a look: http://jsfiddle.net/BlackLabel/yan68ku1/1/

[2018-09-13 10:04] pawelfus commented on #8939
Hi @Ramkumar2411

The import with initialisation is the correct way to import Highcharts and all other modules:  https://github.com/highcharts/highcharts#load-highcharts-as-an-amd-module

PS: I didn't know that previous even used to work, probably accidentally, before AMD support was added.

[2018-09-13 10:05] cvasseng commented on #8612
Data labels are not supported in boost, and are unlikely to be in the near future as text rendering in general is not supported by the WebGL renderer.

The reason it appears to work when you zoom in is that you're zooming below the boost threshold so the SVG renderer "takes over" and the chart is no longer boosting.

[2018-09-13 10:13] TorsteinHonsi commented on #8932
Fixed, thanks for reporting!

[2018-09-13 10:13] #8932 closed

[2018-09-13 10:16] cvasseng commented on #8629
Unfortunately unsorted points are not supported in boost. While it may in some cases work when setting `useGPUTranslations` to `true`, this will not be a consistent fix. There's likely to be issues with e.g. culling (and thus performance), min/max clamping, and `connectNulls` if the points are not sorted.

The workaround here would be to either use `Array.sort` on your dataset prior to sending it

[2018-09-13 10:18] rajeevsinghchib commented on #8919
Not fixed, its fixed for 5, please take a look: http://jsfiddle.net/yan68ku1/6/

[2018-09-13 10:27] rajeevsinghchib commented on #8948
I guess you are not understanding the issue. With this jsfiddle(http://jsfiddle.net/yan68ku1/10/), its boosting all curves even if I specified boostThreshold 0 for last three curves.

Why you guys are closing the issue, when its not fixed.
Its not duplicate, because the earlier one is closed, although its still open.

Also, I am paid member of highcharts, Is there any way to get technical support

[2018-09-13 10:28] TorsteinHonsi commented on #6405
I'm not able to reproduce it from the description - can you make changes to http://jsfiddle.net/highcharts/arxqgy5e/5/ in order to showcase the issue?

[2018-09-13 10:29] pawelfus commented on #6405
@inoyakaigor - could you update the demo posted by Torstein?

[2018-09-13 10:31] inoyakaigor commented on #6405
@pawelfus yeah I will try but later

[2018-09-13 10:39] TorsteinHonsi commented on #8919
Thanks, I see the difference now! So even when `boost.allowForce` is false, it forces boost if there are more than 5 boosted series.

[2018-09-13 10:40] cvasseng opened #8950 "Boost does not respect 0 boostThreshold when allowForce logic kicks in"
#### Expected behaviour

Setting boost threshold to 0 should force disable boost for that series, even when the `allowForce` logic kicks in (>5 series). Note that the `allowForce` logic works apart from this.

#### Actual behaviour

Setting boost threshold to 0 does nothing to stop boosting when allowForce kicks in.

#### Live demo with steps to reproduce

Series threshold 0 when no allowForce log

[2018-09-13 10:40] cvasseng commented on #8919
I've added an issue for this here: https://github.com/highcharts/highcharts/issues/8950

[2018-09-13 10:42] rajeevsinghchib commented on #8919
Many Thanks!

[2018-09-13 10:44] TorsteinHonsi commented on #8950
Here's the rationale:

https://github.com/highcharts/highcharts/blob/03c71dbaf5ed412d6017ade9237e867d360fef38/js/modules/boost.src.js#L487-L488

[2018-09-13 10:49] cvasseng commented on #8950
I think we can still stay within that if this is fixed, as it will still gather the boostables into one canvas/context.

There might be an issue if there's a layout like this though:
series 1: boostable
series 2: non-boostable
series 3: boostable
series 4: boostable
series 5: boostable
series 6: non-boostable
series 7: boostable
series 9: non-boostable
series 10: boostable
series 11: non-boostable

[2018-09-13 10:51] #1902 closed

[2018-09-13 10:53] Denyllon opened #8951 "EMA indicator values are not calculated properly."
#### Expected behaviour

All points from generated by `EMA` should be calculated basing on `close` value (when passed OHLC data type), but now it takes 'open' values.

#### Live demo with steps to reproduce

1. http://jsfiddle.net/r7y3qfah/
- with default params (takes `open` value), last EMA value is equal to `221.0106`
2. http://jsfiddle.net/Lqx87gb6/
- with `params.index` set to `3`, last EMA v

[2018-09-13 10:58] KacperMadej commented on #3739
If
`'L': pad(Math.round(timestamp % 1000), 3)`
could be replaced with
`'L': pad(Math.floor(timestamp % 1000), 3)`
then `%L` will display only full units (milliseconds) as any other date and time format.

This also allow resolving sub-millisecond precision with custom `Highcharts.dateFormats`.
Demo: http://jsfiddle.net/BlackLabel/qhgfpjqL/39/

[2018-09-13 11:05] KacperMadej commented on #3786
The problem seems to be about legacy export server - please use Node export server and in case of found bug in that export server please report on the correct repository - https://github.com/highcharts/node-export-server

If you are able to recreate this issue, then please report this on the legacy export server repository - https://github.com/highcharts/highcharts-export-server

[2018-09-13 11:05] #3786 closed

[2018-09-13 11:05] kapikapi opened #8952 "Different min and max values after applying setExtremes() with same values on two box plots"
I am aplying setExtremes() at x axis for two box plots with the same min and max values.

#### Expected behaviour
Plots have exactly the same borders, as min and max are the same.

#### Actual behaviour
Plots have different min and max values.

![image](https://user-images.githubusercontent.com/5765509/45484672-90900800-b75d-11e8-8c56-b87c6fa08f3f.png)

#### Live demo with steps to reproduce
https

[2018-09-13 11:10] peterlacko commented on #8929
Hi @pawelfus ,
I wasn't aware of this option which seems to solve the problem, many thanks!

Peter

[2018-09-13 11:10] #8929 closed

[2018-09-13 11:41] cvasseng commented on #8950
A fix for this has been pushed to `bugfix/allow-disable-series-boost-when-allowforce`. [Pull request](https://github.com/highcharts/highcharts/pull/8953) submitted.

Demo of fix: http://jsfiddle.net/yan68ku1/26/

[2018-09-13 11:41] #8950 closed

[2018-09-13 12:18] pawelfus commented on #8952
Hi @kapikapi

Thank you for reporting the issue. This is expected behaviour, because boxes on charts have different width and different amount of space may be needed to prevent cutting off boxes.

You can sync this behaviour by setting [`pointRange`](https://api.highcharts.com/highcharts/series.boxplot.pointRange) for all boxplot series: https://jsfiddle.net/BlackLabel/4k76dp3g/

[2018-09-13 12:19] KacperMadej commented on #3858
Looks good in version 6.1.3

![3858](https://user-images.githubusercontent.com/8960408/45487876-e9f93680-b75f-11e8-859b-f5ab4554d614.png)

[2018-09-13 12:19] #3858 closed

[2018-09-13 12:33] TorsteinHonsi commented on #7551
Making the grid tick intervals dynamic fixes obvious issues when dealing with small or large time spans, but reveals some problems. See http://jsfiddle.net/highcharts/7qdbsmk1/9/.

## To do

1. Small time intervals don't fit well into the grid concept. For example, it makes little sense with a grid cell for half an hour or six hours. In this scale, time is linear. Check out if it is reasonably fea

[2018-09-13 12:48] pawelfus commented on #6405
Can be related to #8026

[2018-09-13 13:00] mjkstudios commented on #8532
I had been using the select state to change the opacity on selection. That's great that the color is now taken into consideration, but for anyone wanting the previous behavior, color must be explicitly set to a falsy value:

http://jsfiddle.net/j2Lyzt1k/

[code]

[2018-09-13 14:14] ynixt commented on #5834
This functionality would be very useful

[2018-09-13 14:47] jocage opened #8956 "Click on category without drilldown data"
#### Expected behaviour

I have chart with legend and drilldown, when I unclick one legend (2010) and click on category Democrats I can see empty Back button.

#### Actual behaviour
When I click on category without data nothing should happened.

#### Live demo with steps to reproduce
www.jsfiddle.net/69wytk5x/2

[2018-09-13 14:53] KacperMadej commented on #8956
Hi @jocage

Thank you for reporting about the problem.

Demo with steps described:
https://jsfiddle.net/BlackLabel/69wytk5x/3/
Steps:
1. click middle category
2. top right corner has the unwanted rectangle

[2018-09-13 18:12] dandv commented on #8941
@pawelfus: I also thought the object array format didn't work, but it turned out I had more than `turboThreshold` values. In [this fiddle](https://jsfiddle.net/dandv/x3vuw57d/4/) setting `x` explicitly does work, and so does `color`.

*Note*: the reason I raised this issue is because I was looking for a way to have colored volume subcharts, where the volume is red, green, or yellow, if the price i

[2018-09-13 20:34] inoyakaigor commented on #6405
http://jsfiddle.net/d9gu1eoj/5/ @pawelfus @TorsteinHonsi

Chrome silent disconnect a devtools. Firefox write in console out of memory error
Mistake in xAxis.labels.step = 1

[2018-09-13 20:44] mfiot opened #8957 "Navigator: adaptToUpdatedData on Inverted Chart Unexpected Behavior"
#### Expected behaviour
Same behavior as when not inverted, follows the new data added if at the end of the navigator, but are still able to move the navigator to previous data without having it jump with the updates.
http://jsfiddle.net/v3z6T/20/

#### Actual behaviour
The navigator always resets the view to all.
http://jsfiddle.net/v3z6T/23/

#### Product version
Highstock 6.1.3

[2018-09-14 01:50] scott-ho commented on #1902
Thanks anyway.

[2018-09-14 05:32] rajeevsinghchib commented on #8950
Many Thanks, JSFiddle attached seems to be working as expected.
May I know how can I get hold of this latest boost.js file? The one available on your portal seems to be of date 12th Sep, but this change is in 13th Sep. Do I need to use the boost.js file referenced in jsfiddle for now?
And how long will it take to get it from your portal?

Thanks Again.

[2018-09-14 06:36] jocage commented on #8956
Hi Kacper,

I have quick workarounds for this bug:  jsfiddle.net/69wytk5x/5.

mb will be helpful.

[2018-09-14 08:40] TorsteinHonsi commented on #8612
I'm tempted to label this a _won't fix_. The whole idea of boost is to save rendering time by eliminating features (in addition to WebGL support), and data labels don't make sense for heavy data sets. Like in the OP examples, a 100k data labels would make no sense. This is what the boostThreshold is for.

[2018-09-14 08:46] cvasseng commented on #8629
My apologies - I misread the issue here. This is indeed a bug.

[2018-09-14 08:47] TorsteinHonsi commented on #3739
Makes sense!

[2018-09-14 09:07] pawelfus commented on #8957
Hi @mfiot

Thank you for reporting this bug. It's already fixed and will be a part of the next release: http://jsfiddle.net/BlackLabel/o40dj8eq/

Closing as duplicate of #8884.

[2018-09-14 09:07] #8957 closed

[2018-09-14 09:08] TorsteinHonsi opened #8960 "Animation doesn't run on Series.update() with new data"
#### Expected behaviour
Smooth animation.

#### Actual behaviour
No animation.

#### Live demo with steps to reproduce
http://jsfiddle.net/highcharts/0wp4ngy9/11/

#### Product version
6.1.3.

#### Affected browser(s)
All

[2018-09-14 09:10] cvasseng commented on #8629
A fix for this has now been pushed to the `bugfix/boost-unsorted-scatter-points` branch. [Pull request](https://github.com/highcharts/highcharts/pull/8961) has also been created.

Demo of fix: https://jsfiddle.net/omta7sL4/33/

The fix will be available in the next minor version, and in master after the code review has been completed.

[2018-09-14 09:10] #8960 closed

[2018-09-14 09:11] TorsteinHonsi commented on #8960
Demo with the fix applied: http://jsfiddle.net/highcharts/0wp4ngy9/14/

[2018-09-14 09:13] cvasseng commented on #8612
Yes, I agree also.

[2018-09-14 09:13] TorsteinHonsi commented on #8942
@bensladden Please see https://github.com/highcharts/highcharts/issues/8960, it may fix this issue.

[2018-09-14 09:18] cvasseng commented on #8950
The change will be available on the CDN in the next minor version.

Until then it's available on our Github CDN: https://github.highcharts.com/modules/boost.js

We'd recommend you download the file from there and self-host it if using in production until it becomes available in the next stable version rather than link directly to it.

[2018-09-14 09:21] #8938 closed, assigned to pawelfus

[2018-09-14 09:33] cvasseng commented on #8197
This has been fixed in the `bugfix/boost-scatter-culling` branch which is now [pending merge](https://github.com/highcharts/highcharts/pull/8962).

Demo of the fix: https://jsfiddle.net/Lgyhugtf/24/

The fix will be available in the next maintainance release.

[2018-09-14 09:38] pawelfus commented on #6405
Thank you @inoyakaigor for the demo!

Simplified demo: http://jsfiddle.net/BlackLabel/twf2kqr9/ (or based on Torstein's demo: http://jsfiddle.net/BlackLabel/arxqgy5e/14/ )
Actually, removing `type: "datetime"` does not resolve the issue: http://jsfiddle.net/BlackLabel/twf2kqr9/2/

@TorsteinHonsi - how should we resolve this? Prevent categories to display when `datetime` type is set? But this is mi

[2018-09-14 10:28] #8629 closed

[2018-09-14 10:30] cvasseng commented on #8873
I'm also unable to reproduce both on chrome 67 and 69.0.3497.92, both on OSX 10.11.6.

[2018-09-14 10:50] #8197 closed

[2018-09-14 11:02] TorsteinHonsi commented on #6405
It also fails when the type is not _datetime_, except it doesn't crash immediately. Maybe we need to reintroduce error 19 for cases when `label.step` is set?

[2018-09-14 11:32] pawelfus commented on #6405
I think solution suggested by @inoyakaigor is super easy: simply when we have more than X ticks, show warning/error ?

[2018-09-14 11:39] Denyllon commented on #6783
Also reproduced on Chrome browser (v69.0.3497.92) and OSX (v10.13.6).

[2018-09-14 11:43] inoyakaigor commented on #6405
I propose to add warning if count of ticks more than width of graph in pixels.

[2018-09-14 12:01] pawelfus commented on #6783
*Internal note:*
Works fine for me on Chrome (Version 69.0.3497.92 (Official Build) (64-bit)) + OSX (10.13.6) (FF still looks broken).

[2018-09-14 13:31] pawelfus commented on #7955
It's fixed in v6.1.2

(most probably fixed by #8572).

[2018-09-14 13:31] #7955 closed

[2018-09-14 13:41] pawelfus commented on #7129
Issue was fixed in v6.0.0: http://jsfiddle.net/BlackLabel/yzd148wt/32/

Navigator series visibility is not affected by main series, if it's separated. Demo: http://jsfiddle.net/BlackLabel/yzd148wt/34/

[2018-09-14 13:41] #7129 closed

[2018-09-14 13:51] #5767 closed

[2018-09-14 14:17] pawelfus commented on #1399
Closing as support question. Please follow our procedures: https://www.highcharts.com/support

[2018-09-14 14:17] #1399 closed

[2018-09-14 15:06] #1484 closed

[2018-09-15 11:50] tawu05 commented on #8744
We are using HighCharts bar chart in our product. And I'm seeing the same flickering issue in Edge browser (Microsoft Edge 42.17134.1.0 Microsoft EdgeHTML 17.17134).

Do we have any workaround to this issue? Thanks!

[2018-09-15 12:30] Denyllon opened #8965 "Stochastic indicators '%D' value is not calculated properly."
#### Actual behaviour

The `%d` value starts calculating with two points too late, therefore the value for each point is taken from the value before last. In the demo below (where the period D is set to 3), `%D` should start calculating 3 points after the first `%K`.

#### Live demo with steps to reproduce

[Official stochastic demo](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tr

[2018-09-17 04:43] ASumIT2016 opened #8966 "HIOptions not found in HIChartView"
#### Expected behaviour

#### Actual behaviour
java.util.NoSuchElementException: HIOptions not found in HIChartView

#### Live demo with steps to reproduce

#### Product version

6.1.1
#### Affected android

[2018-09-17 08:32] sebastianbochan commented on #8966
HI @ASumIT2016,
Thank you for reporting. Im moving this ticket to the Android wrapper repo. As a result developers of the platform will contact and help you to solve the issue.

Ref: https://github.com/highcharts/highcharts-android/issues/21

[2018-09-17 08:32] #8966 closed

[2018-09-17 09:00] TorsteinHonsi commented on #6783
I think it is a case of subpixel rendering inside iframes in Firefox. It is and old issue that we haven't found a workaround for. The good new is that it happens only inside frames. In a standalone page it looks good: https://jsfiddle.net/ko23wjx1/show

Related comment:
https://github.com/highcharts/highcharts/blob/f5bbfee12d24fee1f0f063941d649d80eec04c9e/js/parts/SvgRenderer.js#L2581-L2587

[2018-09-17 09:01] pawelfus commented on #7484
OP demo is still broken: http://jsfiddle.net/kkulig/njjuk9ke/ - tooltip follows pointer, but it's not updated when hovering other column. @jon-a-nygaard

[2018-09-17 09:06] cvasseng commented on #8945
Thanks for reporting!

This seems to be the case when the chart is boosted on the chart level. Specifically, charts are reusing the first rendered chart's WebGL context. We're still working on a fix for it.

In the meantime, you can work around the issue by ensuring that the charts are never boosted on the chart level. This can be done by setting `boost.allowForce = false` (https://jsfiddle.net/7o

[2018-09-17 09:47] TorsteinHonsi commented on #6405
Done. I re-introduced the old logic that fires when the potential tick-interval is more than makes sense, but unlike before, added a more graceful degradation. The axis now render two ticks (min and max) instead of crashing the whole chart, and print a warning in the console. http://jsfiddle.net/highcharts/twf2kqr9/12/

[2018-09-17 10:32] TorsteinHonsi commented on #8744
@tawu05 We did some experimenting with dynamic elements in the chart. Apparently disabling the hover state of the columns does not help. We also tried disabling the tooltip and setting tooltip.animation to false, to no avail.

The only thing that actually did help was to set `enableMouseTracking` to false on the series, but then you throw away the baby with the bathwater, as no tooltip will displa

[2018-09-17 10:33] #8965 closed

[2018-09-17 11:03] pawelfus commented on #8906
**Workaround:**
Add simple plugin:

[code]

Demo: https://jsfiddle.net/BlackLabel/s76nfoe2/8/

*Internal note:*
@KacperMadej - will pie-3d series get refactoring similar to other 3d series shapes? For example all sides (side1, side2, top, out, inn) will get structure config?

[2018-09-17 11:08] KacperMadej commented on #8906
@pawelfus Looks like it's possible - probably yes.

[2018-09-17 11:09] 3Ue opened #8968 "SMA series not updated when linked series is updated"
#### Expected behaviour
SMA is updated when linked series is updated.

#### Actual behaviour
After calling Point.update(...) on a point from the linked series, the SMA series is not updated and an error is thrown.

` highstock.src.js:30199 Uncaught TypeError: Cannot read property 'update' of undefined
    at object.<anonymous> (highstock.src.js:30199)
    at Array.forEach (<anonymous>)
    at H.ea

[2018-09-17 12:06] pawelfus commented on #8968
Hi @3Ue

Thank you for reporting this bug!

It's a regression after d528cb1f commit - I will take a look.

[2018-09-17 15:01] Izothep opened #8972 "Histogram is not plotted correctly"
#### Expected behaviour
Histogram should work correctly no matter what data is provided.

#### Actual behaviour
When the data, with points that have much difference in y value, is provided, the Histogram is not plotted correctly

#### Live demo with steps to reproduce
http://jsfiddle.net/izothep/wska4q51/25/

#### Product version
Highcharts 6.1.3

[2018-09-17 15:02] Denyllon commented on #8972
Thank's for your report. That would be fixed in upcoming release.

[2018-09-17 15:27] bdallman commented on #7977
Hi @TorsteinHonsi @simonberger

I've been trying to implement the third party xls to xlsx converter but I've had no luck so far.

I define the export menu items myself and I'm wondering if this is where I'm running into the issue. Here's a jsfiddle with my menu items defined further down in the JS in your previous example. I'm not sure what I'm currently missing.

http://jsfiddle.net/fd8moqsb/1/

[2018-09-17 21:10] gurtagel opened #8973 "Highcharts y-axis labels format comma-separated values not working"
#### Expected behaviour
I would expect that by putting the following into my y-axis properties I would get comma-separated y-axis values with zero decimal places, but I do not

labels: {
  format: '{value:,.0f}'
}

#### Actual behaviour
What is actually happening is the comma is ignored completely

#### Live demo with steps to reproduce

This is the demo on the official highcharts site where it is

[2018-09-18 01:29] Tantacula opened #8974 "MACD throws error while executing "destroy" method"
Hi.

Seems like there's error which I can't reproduce in jsfiddle. Maybe it caused by vuejs third-party plugin integration (our developer used github.com/weizhenye/vue-highcharts) or vuejs render mechanism, not macd script itself, but macd.src.js throws an error right after page loading: "Cannot read property 'destroy' of undefined."

If code in macd.src.js (line 381):

`this.graphmacd = this.grap

[2018-09-18 01:48] theDPlayer opened #8975 "how to show text inside sunburst chart so that it look similar"
#### Expected behaviour
I am drawing sunburst chart in angular. I want the labels inside chart look consistant exactly like
[this chart](https://www.jasondavies.com/coffee-wheel/)
#### Actual behaviour
but it is coming like this [editor link](https://stackblitz.com/edit/highcharts-angular-drilldown-vzgd4c?file=app/app.component.ts)
As can be seen inner labels of chart like asia, africa,America, eu

[2018-09-18 05:00] #8975 closed

[2018-09-18 05:18] Bertolossi commented on #8924
There are still issues on Chrome 69. The PlotLine and PlotBand labels are not displayed.
It works on firefox 59.

[2018-09-18 06:16] tawu05 commented on #8744
@TorsteinHonsi, Thanks very much!

Currently we disabled the tooltip animation and hover state of the series. The flickering issue is not totally fixed but it gets better. We cannot set enableMouseTracking to false since we need tooltip in the chart.

Is there any ETA when this issue can be fixed? Thanks!

[2018-09-18 07:14] TorsteinHonsi commented on #8744
I'm afraid not - since we don't know the actual cause. All symptoms point to an underlying SVG rendering bug in Edge.

Great. And if I were you I would do that conditionally, so it is only disabled for Edge, maybe even this specific version, hoping it will be fixed in the next release.

[2018-09-18 07:26] TorsteinHonsi commented on #7977
Yes, your menu item ran `downloadXLS` while it should run `downloadXLSX`: http://jsfiddle.net/highcharts/fd8moqsb/4/

[2018-09-18 07:30] TorsteinHonsi commented on #8973
This is dependent on the language settings. See https://www.highcharts.com/docs/chart-concepts/labels-and-string-formatting.

Your demo with the language setting applied: http://jsfiddle.net/highcharts/rmTWS/2632/

[2018-09-18 07:30] #8973 closed

[2018-09-18 08:44] sebastianbochan commented on #8974
Hi @Tantacula,
The issue (https://github.com/highcharts/highcharts/issues/8848) is already fixed by this commit: https://github.com/highcharts/highcharts/commit/e65140fe1a8f411e52702203f9f4c6397d469d57 and will be the part of next release (v6.1.4).

[2018-09-18 08:44] #8974 closed

[2018-09-18 08:49] #8968 closed

[2018-09-18 08:50] #3739 closed

[2018-09-18 08:51] #8889 closed

[2018-09-18 09:14] pawelfus commented on #8924
Hi @Bertolossi

Please provide an example. I think your issue is different from this one (this one is about **canvas** rendering, not SVG).

[2018-09-18 11:41] pawelfus commented on #8669
**Workaround:**

Set `tooltip.distance = 12` for flags, demo: http://jsfiddle.net/BlackLabel/uo4n9Lhb/

Snippet:
[code]

[2018-09-18 13:11] pawelfus commented on #8669
General demo: https://jsfiddle.net/BlackLabel/qkw9scbe/

The issue comes from using two different `distance` options for series. The first hovered series sets translation in label, which later is inaccessible:

The snippet below is called only when initializing `tooltip.label`
https://github.com/highcharts/highcharts/blob/93d9d51f652a7dce148fb1c7260682be82c9ed59/js/parts/Tooltip.js#L288-L299

[2018-09-18 13:19] pawelfus commented on #8552
Closing due to inactivity. Let us know if you create a live demo, we will reopen this ticket.

[2018-09-18 13:19] #8552 closed

[2018-09-18 13:27] pawelfus commented on #8231
Closing due to inactivity. If you succeed in creating live demo, let us know, we will reopen this issue.

[2018-09-18 13:27] #8231 closed

[2018-09-18 13:28] bdallman commented on #7977
@TorsteinHonsi

[2018-09-18 13:28] pawelfus commented on #8394
Closing due to inactivity. If you succeed in creating live demo, let us know, we will reopen this issue.

[2018-09-18 13:28] #8394 closed

[2018-09-18 13:29] pawelfus commented on #8398
Closing due to inactivity. Please, provide a live demo of the issue when reporting an issue.

[2018-09-18 13:29] #8398 closed

[2018-09-18 13:30] pawelfus commented on #8548
Closing due to inactivity.

[2018-09-18 13:30] #8548 closed

[2018-09-18 13:35] pawelfus commented on #8895
Closing due to inactivity. If you succeed in creating live demo, let us know, we will reopen this issue.

[2018-09-18 13:35] #8895 closed

[2018-09-18 13:55] anikolaev opened #8994 "Cropped legends items became long on hover when useHTML=true"
#### Expected behaviour
Cropped legends items have ellipsis at the end, nothing should change on mouse hover.

#### Actual behaviour
When useHTML=true cropped legends items became long and uncropped on mouse hover. They will overflow the chart if overflow is allowed in CSS for the chart.

It is probably related to this change: https://github.com/highcharts/highcharts/commit/70242674d318b10d6072b9f

[2018-09-18 14:03] TorsteinHonsi commented on #7372
Closed now.

[2018-09-18 14:03] #7372 closed

[2018-09-18 14:18] Tantacula commented on #8974
@sebastianbochan thanx for the fast reply. Do you know when 6.1.4 will be released?

[2018-09-18 14:33] garybrain opened #8995 "Heatmap addData 6.1.2 not updating correctly."
#### Expected behaviour
Ajax addData should update the Heatmap with new data.

#### Actual behaviour
graph update deformed on update.

#### Live demo with steps to reproduce

Working with 6.0.3 : http://jsfiddle.net/gvnLu3f8/4/   ( Alexander / Tuesday = 100 )
No working using 6.1.0 to current : http://jsfiddle.net/gvnLu3f8/3/

#### Product version
Highcharts v6.1.2 (2018-08-31)

#### Affected brow

[2018-09-18 14:35] sebastianbochan commented on #8974
The next release should be announced within next few weeks.

[2018-09-18 14:49] KacperMadej commented on #8995
Hi @garybrain

Thank you for reporting about the regression.

Last working version is 6.0.7.
Broken since version 6.1.0.
Offending commit https://github.com/highcharts/highcharts/commit/7a74166

As a workaround please use version 6.0.7

[2018-09-18 15:20] KacperMadej commented on #8995
**Simplified demo:** http://jsfiddle.net/BlackLabel/rbkv9d2a/

**Details of the problem:**
Points are wrongly expected to have unique `x` values. Some series types like heatmap, scatter, etc. might not have unique `x` values.

**Code causing the problem:**
https://github.com/highcharts/highcharts/blob/93d9d51f652a7dce148fb1c7260682be82c9ed59/js/parts/Series.js#L3095-L3097

### Workaround:
Use `ser

[2018-09-18 16:49] cfarm commented on #8477
Can confirm this is also an issue in 5.0.11 in Chrome 69.

[2018-09-18 18:33] bdallman commented on #7977
@TorsteinHonsi

[2018-09-18 20:38] bdallman commented on #7977
@TorsteinHonsi

[2018-09-19 00:01] cowell-cor opened #8996 "Tooltip crosshair is coming over the tooltip for area-spline chart"
#### Expected behaviour
1. Crosshair should come below the tooltip container
2. How to bring the marker of the second series which is overlapped to the front?

#### Actual behaviour
1. Crosshair is coming over the tooltip container
2. All series marker should be visible and they should not be overlapped

#### Live demo with steps to reproduce
Hover over the chart area to see the tooltip
http://jsf

[2018-09-19 00:11] tawu05 commented on #8744
@TorsteinHonsi Thanks!

Currently we do it only for Edge. Check the version is a good idea! I will try to figure out which Edge browser version has that problem.

[2018-09-19 02:23] jiang0571 opened #8997 "Highstock.js 5.0.6 labels of plotBands can not work on chrome69"
#### Expected behaviour
show labels of plotBands

#### Actual behaviour
labels disappeared from the chart
the latest version of Highstock works well。

#### Live demo with steps to reproduce

https://jsfiddle.net/jiang0571/2mgLyz4t/1/

#### Product version

5.0.6

#### Affected browser(s)
Chrome 69

[2018-09-19 04:52] dandv opened #8998 "Mention colorIndex in series.{type}.data documentation"
Related to #7201

I think the documentation for `series.{type}.data` should also be updated to mention `colorIndex`. For example,

* https://api.highcharts.com/highcharts/series.scatter.data
* https://api.highcharts.com/highcharts/series.column.data
etc.

[2018-09-19 05:18] dandv opened #8999 "Highstock: in styled mode, column charts lose color if too many bars are displayed"
Use case: display a volume pane (like in [this demo](https://www.highcharts.com/stock/demo/candlestick-and-volume)), but add color for the volume (based on the price going up/down), as in many professional charting applications (see [TradingView](https://www.tradingview.com/chart/?symbol=NASDAQ:AAPL)).

I've been trying to do this in styled mode for [too long, IMO](https://github.com/highcharts/hi

[2018-09-19 05:36] dandv opened #9000 "Document how colorByPoint works in styled mode, and link to `options.colors`"
At
* https://api.highcharts.com/highcharts/series.column.colorByPoint
* https://api.highcharts.com/highcharts/series.bar.colorByPoint
* https://api.highcharts.com/highcharts/series.errorbar.colorByPoint
* etc.

https://api.highcharts.com/highcharts/series.errorbar.colors links better to `options.color`:

[2018-09-19 05:59] dandv commented on #6132
I no longer see this issue on an external monitor in Chrome 69 on Linux.

[2018-09-19 06:08] dandv opened #9001 "Styled mode: column charts leaving 1px gaps between bars"
See #6132. The [same fiddle in styled mode](http://jsfiddle.net/dandv/srq8zya6/4/) leaves 1px gap after each column.

#### Expected behaviour
No gap between columns.

#### Actual behaviour
![image](https://user-images.githubusercontent.com/33569/45733943-6ee8b380-bb97-11e8-9103-54f8917557f7.png)

#### Product version
Highcharts latest

#### Affected browser(s)
Chrome 69, possibly others

[2018-09-19 07:50] TorsteinHonsi commented on #9001
Hi,

In styled mode, the stroke-width is set in CSS, so even if you set `borderWidth` to 0, the CSS is applied. You need to add a CSS rule to style the columns: http://jsfiddle.net/srq8zya6/6/.

According to https://api.highcharts.com/highcharts/plotOptions.column.borderWidth:

[2018-09-19 07:51] sebastianbochan commented on #8477
Hi @cfarm,
The issue has been already fixed, so I advise you to update your Highcharts library  to the newest version (v6.1.3).

[2018-09-19 08:04] #9000 closed

[2018-09-19 08:15] #8997 closed

[2018-09-19 08:18] pawelfus commented on #8996
Hi @cowell-cor

This is our bug tracker, for support questions please use our forum or contact us directly: https://www.highcharts.com/support

PS:
- you have set `zIndex: 20` for your crosshair, change that value and it works fine: http://jsfiddle.net/BlackLabel/bwn4s5mg/29/
- without DOM manipulation, you can not change zIndex of markers, one series is one group

[2018-09-19 08:18] #8996 closed

[2018-09-19 09:10] oysteinmoseng commented on #8916
This is the same issue as https://github.com/highcharts/highcharts/issues/8890. We made a decision to not specify the dependencies in the module files to give our users more control and avoid forcing people into a specific config, but we are seeing a lot of confusion around this. Clearly we need to at least document this in a more visible place. I will take this up with the team.

Closing this as

[2018-09-19 09:10] #8916 closed

[2018-09-19 09:11] pawelfus commented on #8998
Hi @dandv

Could you tell us where exactly it's missing? `colorIndex` is documented, for example:
- https://api.highcharts.com/highcharts/series.column.data.colorIndex
- https://api.highcharts.com/highcharts/series.scatter.data.colorIndex

[2018-09-19 09:30] oysteinmoseng commented on #8890
Reopening this for discussion around the pattern, as suggested by @mbrodala

[2018-09-19 09:31] oysteinmoseng commented on #8916
I am reopening #8890, let's discuss there

[2018-09-19 09:32] pawelfus commented on #8994
Hi @anikolaev

Thanks for reporting this bug!

Last working version: v6.1.1 (demo: https://jsfiddle.net/BlackLabel/f0nLvwk8/4/)

*Internal note:*
It's a regression after 70242674d commit.

[2018-09-19 09:33] pawelfus commented on #6132
Not anymore, tested all external monitors I have :) Closing the issue then.

[2018-09-19 09:33] #6132 closed

[2018-09-19 09:48] pawelfus commented on #7977
It looks like probem with zipcelx, see discussion: https://github.com/egeriis/zipcelx/pull/45 and the issue: https://github.com/egeriis/zipcelx/issues/41
tl;dr: you need to transpile zipcelx to IE11 compatible package, don't link standalone package: `<script src="https://rawgit.com/egeriis/zipcelx/master/lib/standalone.js"></script>
`

[2018-09-19 10:09] mbrodala commented on #8890
To get this started once more my comment from #8916:

I'd like to ask other AMD users which have integrated Highcharts about their workflows. Especially if the current flexibility is really necessary or if everyone would be fine if all Highcharts modules simple required a module named `highcharts` to get the `Highcharts` object injected.

[2018-09-19 10:13] dandv commented on #8998
Hi, at "3. An array of objects..." - color is mentioned, but not colorIndex

[2018-09-19 10:18] TorsteinHonsi commented on #8999
Pawel and I discussed a solution where non-data and custom point options are copied over from the first point instance and over to the grouped point.

This should prevent the situation we've seen many times, implementers wondering why the point options are not respected, not available in the tooltip etc.

With the OP chart it will look like this: http://jsfiddle.net/rt716yf0/17/ . At least now col

[2018-09-19 10:51] jon-a-nygaard commented on #6561
Works as described in the API at [yAxis.title](https://api.highcharts.com/highcharts/yAxis.title)

[2018-09-19 10:51] #6561 closed

[2018-09-19 10:53] TorsteinHonsi commented on #8995
I think the entire code block `if (isNumber(x)) {` should only run if `requireSorting`. What do you think @KacperMadej?

`if (requireSorting && isNumber(x)) {`

[2018-09-19 10:54] TorsteinHonsi commented on #8995
Besides, we should be able to make soft updates (with animation) by using `point.id` instead of linking the points by `x`.

[2018-09-19 11:01] pawelfus commented on #8998
I don't know.. we have a lot of options listed below, for example `dataLabels`, `className`, `id`, `marker` etc., so listing them there won't really help.

[2018-09-19 11:22] #3495 closed, assigned to KacperMadej

[2018-09-19 11:34] #8999 closed

[2018-09-19 11:58] TorsteinHonsi commented on #8998
Point 3. is just showing the principle of defining points as object literals, it's not supposed to list all available options.

[2018-09-19 11:58] #8998 closed

[2018-09-19 12:01] jiang0571 commented on #8997
hi pawelfus

Thank you for your help.

I will upgrade my highstock.js to the latest version.

[2018-09-19 12:13] Abbo44 opened #9004 "Boost module can't select a point"
#### Expected behaviour
I want to select a point when boost is enabled. Example without boost : http://jsfiddle.net/nzbLs178/6/

#### Actual behaviour
Select method don't work with boost module.

#### Live demo with steps to reproduce
http://jsfiddle.net/xwkzjpb9/6/

Try to select a point, nothing append.

#### Product version
Highcharts 6.1.2

#### Affected browser(s)
All

[2018-09-19 12:28] jee7 commented on #8890
Although, one way would be to perhaps specify as URL parameters what modules you want included and prepared when loading Highcharts from CDN. Kind of like Google does in Google Fonts. Something like this: `https://code.highcharts.com/highcharts?modules=more,sunburst,streamgraph`.

Then in RequireJS one could name different configurations of Highcharts differently and load only a single file from t

[2018-09-19 12:38] raf18seb opened #9005 "Donut chart - strange positioning of dataLabels when the size of the chart is small"
#### Expected behaviour
The position of dataLabels, relative to the center of donat, is expected to be the same (in the example below).

#### Actual behaviour
Take a look at this chart: http://jsfiddle.net/BlackLabel/4m1u9tpa/
t_1 and t_3 labels have the same value on the opposite side of a chart, yet their position relative to the center of donat is different.

#### Product version
Highcharts 6.1

[2018-09-19 12:44] KacperMadej commented on #8995
@TorsteinHonsi
I wanted to write suggested changes, but it started to look like a very long text. Instead, I prepared a commit and I'll create a PR in few minutes, so you could comment directly on code.

[2018-09-19 12:53] TorsteinHonsi commented on #8675
Demos to create:
 - [ ] Overview demo

[2018-09-19 12:58] garybrain commented on #8995
Hi, the workaround got me past the problem so many thanks for the quick reply.

G.

[2018-09-19 13:16] #8995 closed

[2018-09-19 13:57] #8882 closed

[2018-09-19 14:25] cvasseng opened #9007 "Test issue"

[2018-09-19 14:42] KacperMadej commented on #2366
Still an issue in version 6.1.3
Demo: http://jsfiddle.net/BlackLabel/1bzxr0Lw/
After update the orphaned ring is between ticks labelled 25 and 50.

[2018-09-19 16:43] pawl-bb commented on #6476
For anyone looking into hiding the tooltip when the mouse is between series, you can use `plotOptions.series.events.mouseOut`:
[code]

[2018-09-19 18:40] calsupik commented on #8927
I am looking for this enhancement as well. It is currently ignored in sankey charts. In my below demo, the node 'No Next Step' has a very small weight, and no paths after it, therefore the node is extremely small (I understand it is by design). It would be beneficial in my specific use case to have a minimum height for that node so that the label fits fully inside of the node. I believe supporting

[2018-09-19 19:38] sguan-actuate opened #9009 "svg generation X axis long label get broken into multiple tspan does not have consistent unit with rest"
Generation of svg produces error with other program like batik when convert to image or pdf.
It should follow a more strict and consistent guidance of units when label broken into multiline, dy of tspan should be consistent.

#### Expected behaviour
[code]
#### Actual behaviour
it uses pt unit only for dy
[code]
#### Live demo with steps to reproduce
https://jsfiddle.net/k8byatuL/5/

#### Product

[2018-09-19 21:38] dandv commented on #2519
At https://api.highcharts.com/class-reference/Highcharts.Series.html#addPoint,

[2018-09-19 21:39] dandv commented on #8998
@TorsteinHonsi: that makes sense. As a compromise, I would suggest hyperlinking "point configuration objects" at point 3 though (perhaps to https://api.highcharts.com/class-reference/Highcharts.Point). That would prevent new users from thinking the only options for these config objects are those listed in that paragraph, i.e. `x`, `y`, `name` and `color`.

[2018-09-19 23:58] dandv commented on #9001
Thanks for clarifying. Would it be useful to mentioned styled mode at https://www.highcharts.com/docs/chart-and-series-types/column-chart ?

[2018-09-20 05:50] skuske commented on #7484
@pawelfus , @jon-a-nygaard

When can we expect this to be fixed? We are waiting for months now, and the recent iOS wrapper which includes v6.1.2 actually made things even worse:

https://github.com/highcharts/highcharts-ios/issues/129

[2018-09-20 07:31] TorsteinHonsi commented on #8841
The select state and `allowPointSelect` work, and the appropriate class name is given. However the visual attributes are not correctly set, as they are applied to `point.graphic` from `Point.setState`. For gantt series, `point.graphic` is a group element, and the path is nested inside. We need to redirect `.attr` from the group element to the appropriate child.

Interestingly, the select state vis

[2018-09-20 08:13] TorsteinHonsi commented on #8998
Thanks, but a hyperlink wouldn't be necessary, the valid options are the ones listed below the header. I'll try to clarify this in the text.

[2018-09-20 08:31] TorsteinHonsi commented on #9009
If I click the context menu and "Download SVG", I get the SVG that is passed over when exporting. As far as I can see it doesn't add any unit to the `dy`:

`<tspan dy="15" x="141.5">Mustang</tspan>`

This also applies when reading the SVG directly from the chart using `innerHTML`.

[2018-09-20 08:52] sebastianbochan commented on #9009
Hi @sguan-actuate,
I tested exporting your chart in a few resolutions (width: 300, 500, 700px) and problem does not appear. Could you set static width of container and let me know which excatly browser (including full number of version) / os version you have?

[2018-09-20 09:08] sebastianbochan commented on #9004
Hi @Abbo44,
Thank you for reporting. By default the click / select event is attached to particular SVG point element. But in the boost module, the whole series is one shape. It increases performance but limits some functionalities.

I advise you to checkout related topic here: https://github.com/highcharts/highcharts/issues/4569

[2018-09-20 10:49] #8994 closed

[2018-09-20 11:07] TorsteinHonsi commented on #7484
@skuske Thanks for your patience, we'll prioritize this.

A little recap for the buggy behaviour in v6.1.3. See http://jsfiddle.net/highcharts/njjuk9ke/16/.
1. When touching the white area (outside column, the tooltip follows touch move _and_ gets updated, even when touch-moving across columns.
2. When touching the columns, the tooltip contents get stuck with the touched column, and the touched co

[2018-09-20 11:10] peterlacko opened #9016 "Setting min on y-axis to value > max data value does not hide points"
When I set min on yAxis to value higher than maximal data value on y-axis, and set max on xAxis, I still see some points that should cut-off by min on yAxis. It does not affect points that are cut-off by setting max on xAxis.

#### Expected behaviour
Points below min value should not be visible.

#### Actual behaviour
Points below min value are visible.

#### Live demo with steps to reproduce
http

[2018-09-20 12:12] #7484 closed

[2018-09-20 12:14] TorsteinHonsi commented on #7484
Demo with the fix applied: http://jsfiddle.net/highcharts/42m90Lso/show

[2018-09-20 12:14] skuske commented on #7484
@TorsteinHonsi

Any chance that we can get the iOS warpper updated with that fix? Many thanks in advance!

[2018-09-20 12:20] smaiLee opened #9020 "Highstock only: Overlapping data labels in columnrange chart are not hidden correctly"
#### Expected behaviour
If a columnrange chart with data labels in Highstock has to many columns to show all data labels, some labels get hidden. But the visible labels for max values should still be shown on top of bar and the ones for min values on bottom.

#### Actual behaviour
The label for min values are shown on top of bar, the labels for max values aren't shown at all.

#### Live demo with

[2018-09-20 13:37] KacperMadej commented on #7318
Closing as a duplicate of #8927

[2018-09-20 13:41] KacperMadej commented on #9001
Thank you for the idea.
Seems like a good enhancement suggestion for the documentation IMHO.

[2018-09-20 13:46] KacperMadej commented on #7484
@skuske  The fix will be a part of the next code release, so it should be also available in corresponding wrapper for iOS release.

[2018-09-20 14:18] smaiLee opened #9028 "Highstock: navigator.xAxis.setExtremes() does not work"
#### Expected behaviour
`navigator.xAxis.setExtremes()` should change min and max of navigator.

#### Actual behaviour
`navigator.xAxis.setExtremes()` does not work.
As a workaround `navigator.xAxis.update({min: ..., max:... })` can be used. (But i think there has to be a reason why `setExtremes()` was implemented.)

#### Live demo with steps to reproduce
http://jsfiddle.net/sfem53va/

#### Produc

[2018-09-20 14:33] skuske commented on #7484
@KacperMadej

OK, that means that we will have to wait another two months for the next iOS wrapper update?

[2018-09-20 14:35] KacperMadej commented on #9016
Hi @peterlacko

Thank you for reporting about the problem.

**Simple demo:**
https://jsfiddle.net/BlackLabel/xesvabrq/

**Simplified description:**
`yAxis` with set `min` to a value that is larger than auto-calculated `max` value, and both `startOnTick` and `endOnTick` are set to `false` than `min` is larger than `max` and axis is wrong and reversed.

**Workaround:**
set `max` in `yAxis` options.

[2018-09-20 14:50] KacperMadej commented on #7484
@skuske

No, we do not have ETA for next release and iOS wrapper is usually updated up to few days after Highcharts release.

@TorsteinHonsi Do we have ETA for this fix to go live?

[2018-09-20 14:55] KacperMadej commented on #9028
Hi @smaiLee

Just calling setExtremes on base chart axis will change extremes of the navigator xAxis.
http://jsfiddle.net/BlackLabel/sfem53va/1/

It's in code comments, so not that easy to find but:
[code]

You shouldn't set extremes directly on the navigator axis - use base xAxis and navigator will be updated too.

This doesn't look like a bug, more like a support case, so I would like to close i

[2018-09-20 15:00] smaiLee commented on #9028
Setting extremes just on the base xAxis does not change extremes of navigator but it changes the selected range in navigator.
Mind the differences of the two navigators in my initial fiddle: http://jsfiddle.net/sfem53va/

[2018-09-20 16:21] calsupik opened #9036 "Sankey minimum node height enhancement request"
#### Expected behaviour
Add an option to set a minimun node height (similar to nodeLength) to prevent nodes from becoming too small.

#### Actual behaviour
Node height is determined by the larger of either the links to or the links from the node.

#### Live demo with steps to reproduce
In my below demo, the node 'No Next Step' has a very small weight, and no paths after it, therefore the node is e

[2018-09-20 16:37] abrockman opened #9037 "Highchart scatter - connecting first and last point with line"
#### Expected behaviour
Graph should connect each data point in the data array sequentially with a line.

#### Actual behaviour
First and last data points have a line drawn between them.

I have checked the chronological order of the data in the json - they are in the correct order. When the chart is updated it seems like the first and last data points have been swapped and inserted into the middl

[2018-09-20 16:44] adigourdi commented on #3031
Just stumbled around this issue, here's a reproducible example case
[code]

I don't suppose this would occur with Highcharts options object,
but using the merge function with anything else might reproduce it

[2018-09-20 17:52] calsupik commented on #9036
Support added in PR #9038.

[2018-09-20 19:04] tsulli opened #9039 "Highmaps: unable to open PDF saved from 'Download PDF' in Firefox, Chrome"
#### Expected behaviour
Select 'Download PDF document' from menu. Save document to computer. Open PDF with Acrobat Reader DC.

#### Actual behaviour
When opening document in Acrobat Reader DC an error appears:

The document will not open.

Saved document **will** open if generated with Edge or if opened directly in browser with Chrome (but not from the file saved to disk).

#### Live demo with ste

[2018-09-20 21:14] LaniMoo commented on #7419
Any plans for this in the near future?

[2018-09-21 08:07] sebastianbochan commented on #9039
Hi @tsulli,
Thank you for the reporting. It is reproducible in my Adobe too.

![zrzut ekranu 2018-09-21 o 10 06 06](https://user-images.githubusercontent.com/2115686/45868466-0d3a6c00-bd86-11e8-98d8-2f7358642e7d.png)

@cvasseng Could you verify it in our exporting server?

[2018-09-21 08:36] KacperMadej commented on #3031
Thank you @adigourdi
It's possible to write a code that will throw error, but does it happen when using Highcharts?
We need a problem in Highcharts to label this a bug.

The issue will remain closed, but please post a comment if you have a demo with the Highcharts bug to report in this topic and the issue could be reopened.

[2018-09-21 08:56] KacperMadej commented on #9028
Ok, so it seems as you are trying to change navigator axis extremes.
By design, by default navigator shows all data, so if you want to change this you should change data of series in navigator instead of using `setExtremes()`. Alternatively you could use the code you have presented in the last demo.

This doesn't look like a bug.

[2018-09-21 09:31] KacperMadej commented on #7419
@oysteinmoseng Is there any common ground between this issue and Gantt? Maybe a similar issue was resolved in Gantt?

[2018-09-21 09:39] pawelfus commented on #9020
**Workaround:**
Disable [`dataGrouping`](https://api.highcharts.com/highstock/series.columnrange.dataGrouping): http://jsfiddle.net/2q8h51nv/16/

[2018-09-21 09:52] pawelfus commented on #9037
Hi @abrockman

Thank you for reporting this issue. It looks like a regression bug, version v6.0.7 used to work correctly: https://jsfiddle.net/uak8c04p/7/

**Workarounds:**
If `series.update()` is necessary, add extra config option to recreate the series, for example `dataLabels`: https://jsfiddle.net/L9hq74vx/
[code]
If you only want to update data, use `series.setData(dataset, redraw, animation,

[2018-09-21 10:49] TorsteinHonsi commented on #7484
I realized this still doesn't work so it is supposed. I did another commit, see http://jsfiddle.net/highcharts/42m90Lso/show.

The default settings are that `followPointer` is false and `followTouchMove` is true. This means that the tooltip should be _updated_ as the finger moves across the plot area, but as the `followPointer` is false, it should point to the top of the columns, not stick to the

[2018-09-21 10:54] KacperMadej commented on #9037
_Internal note:_ Old points are updated and new ones are added. Series type doesn't require sorting (requireSorting is set to false), so new points are pushed into the data array. In series those points are not last and first. Here's demo showing the issue even more: http://jsfiddle.net/BlackLabel/qpdxb08j/

Adding control over `updatePoints` from arguments in `Series.update` (and `Chart.update` f

[2018-09-21 11:10] abrockman commented on #9037
@pawelfus
Thanks for the prompt response. I have put the `series.setData(dataset, redraw, animation, updatePoints)` work around into our application and I am no longer running into the behaviour.

[2018-09-21 12:02] DiegoCardoso commented on #8997
Hi @pawelfus

We have a project on which we are not able to update it to latest Highcharts. Currently we are using Highstock 4.2.6 and noticed the same issue for latest browsers (Chrome/Firefox/Safari).
Do you believe there's a workaround that we could add in order to fix this issue?

Thanks

[2018-09-21 12:22] kamilkulig opened #9040 "grouping option is not documented for xrange series"
#### Expected behaviour
`xrange.grouping` option should be present in the API. It works fine for this kind of series: https://jsfiddle.net/BlackLabel/Lw7e4mo1/

#### Actual behaviour
It isn't present in the API.

#### Live demo with steps to reproduce
https://api.highcharts.com/highcharts/series.xrange

#### Product version
6.1.2

[2018-09-21 12:37] smaiLee commented on #9028
Actually the refresh according to data does not always work as expected.
You can see the behavior in http://jsfiddle.net/sfem53va/28/ if you click the button 4 times.
3 times it works, but on 4th klick the navigator resets to original range.

But I did find a workaround for this:
If you use `chart.xAxis[0].update({min: ..., max: ...})` instead of `chart.xAxis[0].setExtremes()` it works , see http:

[2018-09-21 12:42] skuske commented on #7484
@TorsteinHonsi

Thanks for the update. Looking forward to the final fix for that. :o)

[2018-09-21 12:58] pawelfus commented on #8997
Hi @DiegoCardoso

In my previous message you can find related commit that fixes the issue - you can apply changes from that commit in your highcharts.src.js file.

[2018-09-21 13:15] DiegoCardoso commented on #8997
Hi, @pawelfus, thanks for the answer.

We would like to avoid changing the source file directly, so do you believe that if we add that snippet by extending the `Axis` prototype would also work as expected?

My guess would be that having something like `Highcharts.extend(Highcharts.Axis.prototype, {getPlotBandPath: ...})` would do trick. Is that correct?

[2018-09-21 13:46] stevendesu opened #9041 "Cannot load any modules"
I installed the latest version of HighCharts via NPM:

[code]

#### Expected behaviour

[code]

#### Actual behaviour

[code]

#### Live demo with steps to reproduce

**[The template](https://jsfiddle.net/highcharts/llexl/) threw a 404**

I'm trying to build my app with WebPack so I'm not loading HighCharts via a `<script>` tag. See "Actual Behavior" above for live repro steps in Node.

#### Produ

[2018-09-21 13:55] KacperMadej commented on #9028
It's because you have set min and max on xAxis. Without it chart works well with or without navigator actions.
http://jsfiddle.net/BlackLabel/sfem53va/31/
http://jsfiddle.net/BlackLabel/sfem53va/32/

More info: this behavior is caused by using xAxis with ordinal set to false while navigator xAxis has the same option (ordinal) set to true (by default).

[2018-09-21 14:01] pawelfus commented on #8997
I would use use faster version:

[code]

But both, solutions will break any plugin loaded before this workaround (for example 3D and radial charts). In short, to prevent this, make sure you load file in this order:
- highcharts.js
- workaround-8997.js
- highcharts-more.js
- exporting.js
- ...

I can not promise it will do the trick, v4 is two years old, so a lot has changed. I will keep my fingers

[2018-09-21 14:15] DiegoCardoso commented on #8997
Ok, I will give a try!

Thanks, @pawelfus

[2018-09-21 15:59] KacperMadej commented on #2366
A solution here could be to allow rendering plot lines that will have zero width and height.

Pros:
- resolves problem with not updated `d`
- allows animation when going from something to nothing and back

Suspected con:
- fix reverts some changes of this commit: https://github.com/highcharts/highcharts/commit/6cfa2d198cb4a88c13a135bba63b547f7ff434ae
However, after testing in IE8 columns are looki

[2018-09-21 16:26] svejdo1 opened #9042 "Arabic language titles doesn't show up"
#### Expected behaviour
Arabic language titles will show up

#### Actual behaviour
Arabic language titles doesn't show up

#### Live demo with steps to reproduce
https://jsfiddle.net/svejdo1/5681sbf2/

#### Product version
Highcharts v6.1.3

#### Affected browser(s)
Chrome

[2018-09-23 06:38] Jonathan002 opened #9043 "Highstock has bad performance on safari when using the scroller."
#### Expected behaviour
Highstock candlestick chart can scroll smoothly without forced layout

#### Actual behaviour
When using the scrollbar on a highstock candlestick series it causes a forced reflow causing scroll to be laggy on safari.

![Safari screenshot](https://i.imgur.com/i9x1bsz.png)

This is especially noticeable with mobile safari where a larger project with more nodes and css stall du

[2018-09-24 08:01] baei2048 opened #9044 "Highstock › 包含事件标志的图表时间错位的bug"
这个是官方的演示代码地址：
https://jshare.com.cn/highstock/hhhhv8

#### Expected behaviour
里面第一个点打在2015年5月8日。图上点则往后移动了一个月到了2015年6月8日。

#### Actual behaviour
图上点则应该打在设置的日期——2015年5月8日。

#### Live demo with steps to reproduce

https://jshare.com.cn/highstock/hhhhv8

#### Product version

线上演示最新版本

#### Affected browser(s)
chrome

[2018-09-24 08:08] sebastianbochan commented on #9044
Hi @baei2048,
Thank you for contacting us. Would be great and helpful for us, if you could ask your question in English language. It will allow us to understand your problem and assist.

[2018-09-24 08:50] sebastianbochan commented on #9042
Hi @svejdo1,
Thank you for contacting us. For general [support](http://www.highcharts.com/support) questions please use forum / stackoverflow or email.

ps. You should declare `useHTML` flag in the `dataLabels` option.

Demo:
- https://jsfiddle.net/xykowa8f/

[2018-09-24 08:50] #9042 closed

[2018-09-24 08:53] BartBM opened #9046 "Serie property 'visible' set to false interferes with boostThreshold behaviour"
#### Expected behaviour
When setting the series 'visible' property to false, the boost threshold should work and boost should be disabled when the threshold is not exceded.

#### Actual behaviour
As shown in the JSFiddle reproducible scenario:
- boost is enabled, seriesThreshold is set larger than amount of series
- boostThreshold per serie is set to 250
- the last serie (serie4) has 'visible' set

[2018-09-24 09:10] BartBM opened #9047 "Chrome RENDER WARNING: Render count or primcount is 0."
#### Expected behaviour
Using zoom or pan does not create render warnings when boost is enabled.

#### Actual behaviour
Zoom or pan does create render warnings in Chrome when boost is enabled.
<img width="514" alt="screen shot 2018-09-24 at 11 05 50" src="https://user-images.githubusercontent.com/9977712/45952997-0707f200-c009-11e8-8e65-ab19d292b99a.png">

#### Live demo with steps to reproduce
ht

[2018-09-24 10:19] alirezameftahi71 opened #9048 "The series-label color when using Persian text is wrong"
When using series labels with Persian text, the color of the text is not converted to a color that is readable according to the background color.

#### Expected behavior
Expected for highcharts to display and control Persian texts color according to the background color just as good as English labels.

#### Actual behavior
As you can see in the picture below the English text font color is correctl

[2018-09-24 12:44] rajeevsinghchib opened #9049 "Connecting lines to points outside of axis range are not showing for boost mode"
**Expected behaviour**
Non-boost mode is displaying connecting lines to the point outside of axis range, while boost mode is not displaying the connecting lines.

**Actual behaviour**
To have connecting lines in boost mode also.

**Live demo with steps to reproduce**
Red series is without boost and displaying connecting line to point with value 16, which is out of range for y-axis.
While Green ser

[2018-09-24 12:55] mkpasala commented on #9036
http://jsfiddle.net/Lmn6gjby/24/ I had a similar issue here. When the values are 0 then the labels are overlapped one on another.

[2018-09-24 12:58] mkpasala commented on #8927
@pawelfus here is the link to the scenario http://jsfiddle.net/Lmn6gjby/24/ . Can I move the node text up/down, its always appearing in the middle of the link.

[2018-09-24 13:06] skyghis opened #9050 "tooltip.formatter does not work if changed to ES6 style"
#### Expected behaviour

So In ES5 the format of writing the tooltip.formatter is like this:
[code]
but if I changed to ES6 style:
[code]

It should render the tooltip as usual.

#### Actual behaviour

The values are not rendered on the tooltip.

#### Live demo with steps to reproduce

https://jsfiddle.net/ut7sjpxn/

#### Product version

Highcharts `6.1.3`

#### Affected browser(s)

Firefox 62.0

[2018-09-24 13:31] skyghis commented on #9050
Thanks @TorsteinHonsi for the workaround idea.

Yes please, I'd love to write tooltip format like:
[code]

Passing the current "scope" as first argument should probably be applied to all Highcharts options taking a `function`.

[2018-09-24 14:31] KacperMadej commented on #9046
Hi @BartBM

Thank you for reporting about the problem.

@cvasseng
Additionally: if the last series is visible then try zooming into small area that would have markers visible, but the markers will not be visible until next zoom.

[2018-09-24 14:39] KacperMadej commented on #9049
Hi @rajeevsinghchib

Thank you for reporting about the problem.

@cvasseng It seems to be a boost issue.

[2018-09-24 14:59] baei2048 commented on #9044
So, this is the official demo address：
https://jshare.com.cn/highstock/hhhhv8

Expected behaviour
The is demo allow user show marks on the chart, the first mark in code (left js panel) is May 8th 2015, but on the right the mark pinned on June 8th 2015, the rest made the same 'one month' delay.

Actual behaviour
The mark's date on the chart should be the same as js config.

Live demo with steps to

[2018-09-24 17:08] stevendesu commented on #9041
@KacperMadej

Thank you for the links. Using jsdom() I was able to get my code above to work, proving the issue didn't lie with Highcharts but with my implementation in WebPack. This caused me to dig deeper and I eventually figured it out.

My WebPack config was canonicalizing module names to the root of my "src" directory. So the file `my-app/src/components/list.js` could be referenced using simp

[2018-09-24 21:14] alvarezguille opened #9051 "highstock issue with scrollbar and set data"
In my example a chart has 2 series, data is set for both at the same time either removing points or setting them.

It happens if the `Highcharts.chart` has scrollbar enabled https://jsfiddle.net/alvarezg/n9sc53av/
, or if the `Highcharts.stockChart` has navigator disabled https://jsfiddle.net/alvarezg/5arckguf/
To reproduce click `SHOW/HIDE 1`, `SHOW/HIDE 2` and `SHOW/HIDE 2` again and the xAxis m

[2018-09-24 22:47] Bella-Wang opened #9052 "Disable boost fails if min/max was set in yAxis"
When min/max was set in yAxis, and tried to disable boost via getSVG (newOptions),  it reported error.

#### Expected behaviour
When min/max was set in yAxis, and tried to disable boost via getSVG (), getSVG() function should return a string representing the rendered chart

#### Actual behavior
getSVG() return nothing, and would report error when it calls generatePoints () function saying "TypeErr

[2018-09-25 08:56] irbian commented on #3314
The zoom isn´t working either, does it?

[2018-09-25 09:03] baei2048 commented on #9044
This is a very obvious bug, how long will you dispatch this bug to the team?

[2018-09-25 11:01] pawelfus commented on #3314
Hi @irbian - could you provide a jsFiddle demo? Thanks!

[2018-09-25 12:05] pawelfus commented on #3314
@irbian - this is how it used to look like for the bug report: http://jsfiddle.net/BlackLabel/tzY3T/30/ (no map at all). Zoom is not available because map is to small. The same happens when coordinates are only positive: http://jsfiddle.net/BlackLabel/tzY3T/34/

[2018-09-25 12:23] eltonjude opened #9053 "Plotline label not added to DOM and hence not visible"
#### Expected behaviour
Plotline label should be visible on the chart
http://jsfiddle.net/sb7ou6L4/4/

#### Actual behaviour
Only plotline shows up. Label is not added to the DOM and hence not visible
http://jsfiddle.net/sb7ou6L4/3/

#### Live demo with steps to reproduce
http://jsfiddle.net/sb7ou6L4/3/

#### Product version
Highcharts 4.2.7

#### Affected browser(s)
Tested on latest versions of C

[2018-09-25 13:05] pawelfus commented on #9051
Hi @alvarezguille

Thank you for reporting this issue.

**Workaround:**
Use `chart.xAxis.scrollbar` instead of `chart.scrollbar`, demo: https://jsfiddle.net/BlackLabel/n9sc53av/10/

[2018-09-25 13:26] pratikrawlekar opened #9054 "Mouse hover doesn't show tooltip/highlight for all lines"
#### Expected behaviour
Tooltip/line highlight should be shown for all the lines on which we are hovering.

#### Actual behaviour
It shows tooltip/line highlight in red for some of the lines even if we are hovering on another line.

#### Live demo with steps to reproduce
https://www.highcharts.com/demo/parallel-coordinates

#### Product version

#### Affected browser(s)

[2018-09-25 13:56] TorsteinHonsi commented on #8477
#### Workaround
Here's a workaround for those who can't update Highcharts for some reason:

[code]

View it [live on jsFiddle](http://jsfiddle.net/highcharts/r4kzcfdq/).

[2018-09-25 14:19] irbian commented on #3314
what do you refere with "is too small"?

[2018-09-25 14:48] InstanceOfMichael commented on #4763
[code]
this is a typo

[2018-09-25 14:55] graham73may opened #9055 "Area & Line charts - Data module breaks export menu"
#### Expected behaviour
To see the export burger menu.

#### Actual behaviour
When using chart type Area or Line, the export menu is not shown.

#### Live demo with steps to reproduce
Broken version:
https://codepen.io/graham73may/pen/EeBQgZ?editors=1000

To get the menu working, remove the file:
`"https://code.highcharts.com/modules/data.js"`

This makes the button show up: (the big red thing)
ht

[2018-09-25 15:13] pawelfus commented on #3314
There's no need to zoom in further for you map, calculated values suggest we shouldn't zoom in. You can change that by setting `xAxis.minRange` and `yAxs.minRange`, demo: http://jsfiddle.net/BlackLabel/tzY3T/35/

[2018-09-25 15:14] pawelfus commented on #4763
Thanks! Fixed

[2018-09-25 15:21] sebastianiorga commented on #9053
I think this is the issue referenced in: https://github.com/highcharts/highcharts/issues/8477#issuecomment-424353401

The linked comment is a quick fix if you can't update(like me).

[2018-09-25 15:36] eltonjude commented on #9053
The workaround suggested here fixes the issue. Closing this issue.
https://github.com/highcharts/highcharts/issues/8477#issuecomment-424353401

[2018-09-25 15:36] #9053 closed

[2018-09-25 15:56] pawelfus commented on #9054
Hi @pratikrawlekar

Thank you for reporting! You are right, it would be useful to show tooltip for points with exactly the same y-value.

Regarding issue with wrong lines: at this moment algorithm looks for the closest point, not using the currently hovered line as a reference.

*Internal note:*
We have tooltip per x-value (category), but we don't have `findNearestPointBy="y"` which would be usefu

[2018-09-25 16:05] pawelfus commented on #9055
Hi @graham73may

This looks like code generated from Highcharts Cloud, imported in a custom way - could you confirm?

Setting for `marker` is wrong. To be precise:`marker: { symbol: "url(blank)" }` is wrong, removing/disabling this option solves the issue: http://jsfiddle.net/BlackLabel/mb5tz3q8/3/

[2018-09-25 16:28] pawelfus commented on #9052
Hi @Bella-Wang

Thank you for reporting this bug.

**Workaround:**
Set also `series.boostThreshold` to 0.
Demos: http://jsfiddle.net/BlackLabel/d5ty7uzk/19/ and simplified http://jsfiddle.net/BlackLabel/vLao0efn/2/

**Simplified demo:**
http://jsfiddle.net/BlackLabel/vLao0efn/

[2018-09-25 18:38] eltonjude commented on #8477
I required a null check for `path` in our application.

[2018-09-25 18:54] chriszrc commented on #7186
Just double checking, with the new es6 modules in highcharts/es-modules, should we be using this for importing? (In this case, I just want highmaps)

[code]

[2018-09-26 05:51] Madhu94 opened #9056 "Preserve xAxis labels after zooming in rangeSelector"
#### Expected behaviour
Clicking different buttons on the rangeSelector, should not cut off xAxis labels.

#### Actual behaviour
Only part of the first xAxis label is shown.

#### Live demo with steps to reproduce
To reproduce, click `YTD` in the rangeSelector in this [fiddle](http://jsfiddle.net/p6jrdvw3/9/)

#### Product version
Highstock - 6.x.x

#### Affected browser(s)
All

[2018-09-26 05:54] rubiks-cube opened #9057 "PlotLines label text doesn't show up in new Chrome (Version 69.0.3497.100 )"
#### Expected behaviour

#### Actual behaviour

#### Live demo with steps to reproduce

#### Product version

#### Affected browser(s)

[2018-09-26 06:47] TorsteinHonsi commented on #8477
Thanks, I added an `if` to the snippet above.

[2018-09-26 07:01] leopold537 opened #9058 "TypeError: z.getSpanWidth is not a function after last update"
#### Expected behaviour
Highcharts doesn't throw an error

#### Actual behaviour
Highcharts thows an error.

#### Config
`    {"colors":["#f48639","#929039","#d63859","#5cc6d4","#224088","#cb4039","#3d9aa9"],"chart":{"zoomType":"x"},"xAxis":{"crosshair":true,"title":{"text":null},"labels":{"enabled":true},"tickInterval":null,"min":null,"max":null,"categories":null},"series":[{"name":"B","type":"li

[2018-09-26 07:01] graham73may commented on #9055
Hi @pawelfus

Yes the code is from Highcharts Cloud. Export -> HTML tab.

I'm currently working on setting up a theme and it likes to keep track of any option I've touched. That marker setting must have snuck in!

Removing the marker setting does 100% fix the problem. Is it an issue that the marker setting seemingly kills the context menu for area and line charts? (Should I close this issue?)

Tha

[2018-09-26 07:04] #2366 closed

[2018-09-26 07:06] jon-a-nygaard commented on #7186
@chriszrc Yes, that should be correct when loading Highmaps.

[2018-09-26 07:07] hwesterbeek commented on #9057
It actually happens in Safari, Firefox and IE as well. Guess it's not a browser issue.

Expected behaviour: text label shows next to plot line.
Actual behaviour: text label does not show next to plot line.
Demo: http://jsfiddle.net/vro0wfkL/1/
Product version: all versions prior to 6.1.1 (as far as i have tested)
Affected browsers: Chrome, Safari, Firefox, IE

[2018-09-26 07:32] sad-xu commented on #9057
v6.0.7 in Chrome(67): ok
v6.0.7 in Chrome(69): text label does not show
v6.1.1 in Chrome(69): ok

[2018-09-26 08:10] bre1470 opened #9059 "Reduce internal doclets after TypeScript declaration release"
For less code maintenance the doclets of internal functions and types have to be reduced to the absolute necessary minimum. Usually just a description and the private tag.

[2018-09-26 08:33] #9041 closed

[2018-09-26 08:39] sebastianbochan commented on #9058
Hi @leopold537,
Thank you for contacting us. When I replicate your example as live demo here: https://jsfiddle.net/BlackLabel/nqeohL7z/ all seems to working fine. In your error-log, I see references to react. Could you confirm that you use our official react wrapper or different? Are you able to reproduce your example as simplified live demo? It will allow us to debug it further.

[2018-09-26 08:51] sebastianbochan commented on #9056
Hi @Madhu94,
Thank you for reporting. I run your demo in a few resolutions and was not able to reproduce the issue. I also hardcoded width as 600px and still no luck.

![ytd](https://user-images.githubusercontent.com/2115686/46068681-02168000-c17a-11e8-80f1-3d137ee572da.gif)

http://jsfiddle.net/BlackLabel/t1q0mg2v/

Could you point me out about your resolution of chart's div?

Chrome:  69.0.3497.

[2018-09-26 08:55] Madhu94 opened #9061 "[Question]Remove spacing between columns in a group in grouped column charts"
#### Expected behaviour
If the data size is variable, for smaller data sizes I would like to reduce the size of the columns(plotOptions.column.maxPointWidth). I would also like to  remove the space between the columns in a group, _no matter what the number of points or size of chart may be_.

Note - the chart is categorical

#### Actual behaviour
I am able to achieve what I want for a fixed size d